/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin-top: 52px;
  padding: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 48px;
    line-height: 52px;
}
h2 {
    font-size: 40px;
    line-height: 44px;
}
h3 {
    font-size: 32px;
    line-height: 36px;
}
h4 {
    font-size: 24px;
    line-height: 28px;
}
h5 {
    font-size: 20px;
    line-height: 24px;
}
h5 {
    font-weight: 400;
}
p, li {
    max-width: 800px;
    line-height: 1.4;
}
table {
    width: 100%;
}
th {
    text-align: left;
}
.sg-menu {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 52px;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #f4f4f4;
}
.sg-menu * {
  box-sizing: border-box;
}
.sg-menu-toggle {
    box-sizing: border-box;
    display: inline-block;
    background: yellow;
    padding: 12px;
    margin-right: 24px;
}
.sg-menu-toggle:before {
    content: '\2630';
    margin-right: 4px;
}
.sg-menu-toggle + input {
    visibility: hidden;
}
/* open menu mobile */
.sg-menu-toggle + input:checked + .sg-menu-list {
    left: 0;
}
@media (min-width: 1024px) {
    .sg-menu-toggle {
        width: 200px;
    }
}
.sg-menu-list {
    box-sizing: border-box;
    width: 200px;
    position: absolute;
    left: -200px;
    z-index: 9999;
    background: #eee;
    transition: left 0.2s ease-in;
    padding: 12px 0;
}

@media (min-width: 1024px) {
    .sg-menu-list {
        left: 0;
    }
    body {
      margin-left: 200px;
    }
    body::before {
      content: "";
      width: 200px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: #ddd;
    }
}
.sg-menu-list p {
    padding:  4px 8px 4px 12px;
    margin: 4px 0;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    background: #ddd;
}
.sg-menu-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sg-menu-list li {
    display: block;
    color: #555;
    font-size: 14px;
    font-weight: 300;

}
.sg-menu-list li a {
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
    padding: 4px 10px 4px 20px;
}
.sg-menu-list li a:hover {
    background: yellow;
}
.color-box {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eee;
    margin-right: 4px;
}
.sg-2col {
    display: flex;
}
.sg-2col div {
    flex-basis: 50%;
}
.vspace-example {
    position: relative;
    box-sizing: border-box;
}
.vspace-example::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("spacing-example-grid.png");
}
.sg-rule {
    border: 1px solid lightgreen;
    padding: 16px;
}
.sg-rule::before {
    content: 'Rule';
    display: inline-block;
    background: #f4f4f4;
    margin-right: 12px;
    padding: 4px;
}
.sg-alert {
    border: 1px solid red;
    padding: 16px;
}
.sg-alert::before {
    content: 'Alert';
    display: inline-block;
    background: #f4f4f4;
    margin-right: 12px;
    padding: 4px;
}

.sg-sample {
    position: relative;
    border-top: 1px solid #905;
    border-bottom: none;
    padding: 2px 0 24px 0;
    margin: 48px 0 52px 0;
}
.sg-sample.dark {
    background: #222;
}
.sg-sample::before {
    content: "Sample";
    font-size: 16px;
    color: #905;
    position: absolute;
    top: -26px;
}
.sg-snippet-file {
    position: absolute;
    right: 0;
    top: -26px;
    color: #905;
}
.sg-snippet-file::after {
    content: "";
    background: url('/ltucss/css/icons/feather/external-link.svg');
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    color: #905;
    margin-left: 0.5em;
}
.sg-snippet-iframe {
    width: 100%;
    border: 1px solid #ddd;
    border-top-width: 0;

}

/* override prism styles */
.sg-sample pre code[class*=language-] {
    white-space: pre-wrap;
    position: relative;
}

.sg-sample-header {
    height: 52px;
    background: #f4f4f4;
}

.sg-icon-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.sg-icon-list li {
    width: 100px;
    margin: 12px;
    text-align: center;
}
