---
title: "Tabs"
ltulayout: "standard_page"
status: draft
---

<div class="tabs">
    <ul class="fake-tabs">
        <li class="tab active-tab" id="tab-Bendigo" tabindex="0">First</li>
        <li class="tab" id="tab-Bundoora" tabindex="0">Second</li>
        <li class="tab" id="tab-Shepparton" tabindex="0">Third</li>
    </ul>
    
    <div id="Bendigo" class="tab-content current-tab">
        <h2 class="tab-title">First</h2>
        <div class="entry-sub">
            <h2><a href="02_Research_Animal_Nutrition.html">Animal Nutrition</a></h2>
            <p>Nutritional deficiencies or imbalances affect production of all domestic animals. Mineral and vitamin
                deficiencies in particular, affect immune responses and disease resistance. Research in this area
                focuses on nutrition and immunity of horses, poultry and wild birds.</p>
        </div>
        <div class="entry-sub">
            <h2><a href="02_Research_Animal_Nutrition.html">Microbiology</a></h2>
            <p>Bacterial virulence, bacterial mineral metabolism and factors that contribute to the presence and
                multiplication of pathogenic and spoilage organisms which affect agricultural industries.</p>
        </div>
    </div>

    <div id="Bundoora" class="tab-content">
        <h2 class="tab-title">Second</h2>
        <p>SISOne is the name given to the new student information system being implemented at La Trobe University in
            2010. </p>
    </div>

    <div id="Shepparton" class="tab-content">
        <h2 class="tab-title">Third</h2>
        <p>However, considering that French people have one of the longest life expectancy in the world, it is not rare
            to see a father and his son both retired, one age 85 or so, and the other between 60 and 65.</p>
    </div>
</div>