//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Base
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert {
    border: 2px solid rgba($color-alt-3, 1);
    border-radius: 4px;
    padding: 12px 20px;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    font-weight: 400;
    padding: 16px;
}

//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert colours
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert-success {
    background-color: mix(#52c41a, white, 5%);
    border-color: #52c41a;

    svg * {
        color: #52c41a;
    }
}

.alert-error {
    background-color: rgba($color-1, 0.05);
    border-color: rgba($color-1, 1);

    svg * {
        color: rgba($color-1, 1);
    }
}

.alert-warning {
    background-color: rgba($color-alt-2, 0.05);
    border-color: rgba($color-alt-2, 1);

    svg * {
        color: rgba($color-alt-2, 1);
    }
}

.alert-info {
    background-color: rgba($color-alt-3, 0.05);
    border-color: rgba($color-alt-3, 1);

    svg * {
        color: rgba($color-alt-3, 1);
    }
}


//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert page
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert-page {
    display: flex;
    padding: 24px;

    &[class*="icon-"]::after {
        left: 12px;
    }
}

.alert-text {
    padding-right: 80px;

    >:first-child {
        margin-top: 0;
    }

    >:only-child {
        font-weight: 500;
    }
}

.alert-icon {
    padding-right: 24px;
    vertical-align: top;
    height: 24px;

    svg {
        width: 24px;
        height: 24px;
    }
}



//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Text Box
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert-text-box {
    width: max-content;
    padding: 24px;

    * {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}


//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Box
//----------------------------------------------------------------------------------------------------------------------------------// 

.alertbox {
    @extend .alert;
    width: max-content;
}

.alertbox-heading {
    font-size: $h3;
    margin: 0 0 24px 0;
}

.alertbox::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-image: url("icons/feather/alert-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    // filter: $teal;
}

@media(min-width: 768px){
    .alertbox {
        position: relative;
        padding: $spacer*6 $spacer*6 $spacer*6 $spacer*20;
    }
    .alertbox::before {
        display: block;
        position: absolute;
        left: 24px;
        top: 24px;
    }
}


//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Icons
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert .alert-close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 24px;
    color: inherit;
    background-color: transparent;
    border: 0;
    line-height: 0;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .05s ease-in-out;

    &:hover {
        opacity: 1;
    }
}