---
title: "Proofpoint"

status: ready
---

<div class="proofpoint">
    <img class="proofpont-icon" src="https://www.latrobe.edu.au/__data/assets/file/0009/796932/pg-number-one-in-vic-2.svg">
    <h3 class="proofpoint-title">Top 1%</h3>
    <div class="proofpoint-body">
        <p class="h4 proofpoint-text">Our arts and humanities subjects are ranked in the world’s top one per cent.</p>
        <p class="small">Times Higher Education (THE),2019, <em>World University Rankings2019 by subject: arts and humanities</em></p>
    </div>
</div>
