---
title: "Courses"
status: draft

layout: test-page-legacy-nav
showHeader: "yes"
showFooter: "yes"
showLeftNav: "no"
---

<div class="ds-block">
    <h1 style="text-align: center;">Courses and degrees</h1>
</div>

<div class="ds-block">

    <div class="ds-shadow-box">

        <fieldset class="ds-control-group  ds-control-group--toggle-tokens ds-control-group--inline">
            <legend class="ds-legend">
            I am:
            </legend>
        
            <div class="ds-form-group ds-form-group--radio-toggle">
                <input class="ds-input-radio ds-input-radio--toggle" type="radio" name="student" id="uniqueID-1" checked>
                <label class="ds-label" for="uniqueID-1">a domestic student</label>
            </div>
        
            <div class="ds-form-group ds-form-group--radio-toggle">
                <input class="ds-input-radio ds-input-radio--toggle" type="radio" name="student" id="uniqueID-2">
                <label class="ds-label" for="uniqueID-2">an international student</label>
            </div>
        
        </fieldset>

        <form class="ds-form ds-form--full-width" action="">
            <div class="ds-form-group">
                <label class="ds-label h2 sr-only" for="query_courses">Find your course</label>
                <div class="ds-input-group">
                    <div class="ds-input-group__prepend">
                        <span class="ds-input-group__text ds-input-group__text--bg-white"><span class="ds-tag">All courses</span></span>
                    </div>
                    <input class="ds-text-input" type="search" id="query_courses" placeholder="Search for a course by keyword, course &hellip;" autocomplete="off">
                    <button class="ds-btn-primary ds-icon-search ds-icon--before" type="submit" id="course-search-submit">Search</button>
                </div>
            </div>
        </form>

        {% include sample-component.html snippet="ltu-components/src/form/filter-group/snippets/filter-group.html" %}

    </div>

</div>

<div class="ds-block">

    <p class="ds--overflowXSrcoll">
        <b>Filtered by:</b> 
        <button class="ds-tag ds-tag--green" tag="remove filter">Health</button> 
        <button class="ds-tag ds-tag--green" tag="remove filter">Melbourne</button>
    </p>

    <fieldset class="ds-control-group  ds-control-group--inline">
        <legend class="ds-legend ">
            Sort by:
        </legend>
    
        <div class="ds-form-group">
            <input class="ds-input-radio" type="radio" name="sort-releveance" id="sort-releveance" checked>
            <label class="ds-label" for="sort-releveance">Relevence</label>
        </div>
    
        <div class="ds-form-group">
            <input class="ds-input-radio" type="radio" name="sort-releveance" id="sort-a-z">
            <label class="ds-label" for="sort-a-z">A&VeryThinSpace;-&VeryThinSpace;Z</label>
        </div>

        <div class="ds-form-group">
            <input class="ds-input-radio" type="radio" name="sort-releveance" id="sort-popular">
            <label class="ds-label" for="sort-popular">Popular</label>
        </div>
    
    </fieldset>
    
    <div id="course-search-results">

        {% include sample-component.html snippet="ltu-components/src/card/snippets/course-card.html" %}


        <div class="ds-course-card">
            <div class="ds-course-card__header">
    
                <p class="ds-course-card__tags">
                    <span class="ds-course-card__tag ds-icon-target">Interest area</span>
                </p>
    
                <h3 class="ds-course-card__course-name">Business</h3>
                <p  class="ds-course-card__course-description">Become a leader who can design innovative solutions to the world’s most challenging problems, while having the freedom to explore what you’re passionate about through our wide range of majors.</p>
    
            </div>
            <div class="ds-course-card__body">
                <p class="ds-card--course__CTA"><a href="#" class="ds-btn-primary ds-icon-chevron-right" href="#">Find out more</a></p>
            </div>

        </div>

    </div>

</div>

<div>
    <script>
    // filter behaviour
    $(document).ready(function() {
        // handler for filter checkbox all control
        $('.ds-input-checkbox[data-all-control').on('click', function(){
            if($(this).prop("checked") == true) {
                var allControlName = $(this).attr('data-all-control');
                $('[data-all-parent="'+allControlName+'"]').each(function(){
                    $(this).prop( "checked", false );
                    // if child is also an all control
                    if($(this).attr('data-all-control')) {
                        var allControlName = $(this).attr('data-all-control');
                        $('[data-all-parent="'+allControlName+'"]').prop( "checked", false );
                    }
                });
            }
        });
        // handler for filter checkbox all children
        $('.ds-input-checkbox[data-all-parent]').on('click', function(){
            if($(this).prop("checked") == true) {
                var allParentName = $(this).attr('data-all-parent');
                $('[data-all-control="'+allParentName+'"]').each(function(){
                    $(this).prop( "checked", false );
                    // if parent is also a child
                    if($(this).attr('data-all-parent')) {
                        var allParentName = $(this).attr('data-all-parent');
                        $('[data-all-control="'+allParentName+'"]').prop( "checked", false );
                    }
                });
            }
        });

    });
    </script>
</div>