---
status: ready

title: "Landing page"

layout: test-page-legacy-nav
showHeader: "yes"
showFooter: "yes"
---

{% include sample-component.html snippet="ltu-components/src/alert/snippets/alert-info/alert-info-full-width.html" %}

<div class="ds-block ds-block--full-width">
    <div class="ds-block__wrapper">

        <div class="ds-hero">
            <div class="ds-hero__content">
                <div class="ds-hero__image">
                    <img src="/ltu-components/src/banner/snippets/images/Students-walking-outside-LIMs-building.jpg">
                </div>
                <div class="ds-hero__text">
                    <h1>International students</h1>
                    <h2>Studying at La Trobe is a uniquely Australian experience.</h2>
                    <p>At La Trobe, we offer an Australian experience like no other. Our friendly, multicultural campuses are based in beautiful settings ranging from native bushland to inner-city metropolitan. What are you waiting for?</p>
                    <p class="ds-hero__button-group"><a href="#" class="ds-btn-primary ds-icon-chevron-right">Find your course</a> <a href="#" class="ds-btn-secondary ds-icon-chevron-right">Contact us</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

{% include sample-component.html snippet="ltu-components/src/child-nav/snippets/child-nav.html" %}

<div><h2 style="text-align: center;">Why study at La Trobe?</h2></div>
{% include sample-component.html snippet="ltu-components/src/proofpoint/snippets/proof-points-set.html" %}

<div class="ds-block">
    <div class="ds-block__wrapper">

        <div class="ds-promo ds-promo--image-bleed">
            <div class="ds-promo__content">
                <div class="ds-promo__image">
                    <div class="ds-promo__image-wrapper">
                        <img src="/ltu-components/src/banner/snippets/images/1920.jpg" alt="">
                    </div>
                </div>
                <div class="ds-promo__text">
                    <div class="ds-promo__text-wrapper">
                        <h2>Living in Australia</h2>
                        <p>A relaxed lifestyle. Friendly people. Spectacular scenery. Find out what makes Australia one of the best places in the world to live and study.</p>
                        <p class="ds-promo__button-group"><a href="#" class="ds-btn-secondary ds-icon-chevron-right">Discover the Autralian lifestyle</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div><h2 style="text-align: center;">Meet our students</h2></div>
{% include sample-component.html snippet="ltu-components/src/testimonial/snippets/testimonial-set-3.html" %}

<div>
    <h2>Learn more about La Trobe</h2>
</div>
{% include sample-component.html snippet="mosaic/snippets/mosaic.html"%}

{% include sample-component.html snippet="card/snippets/card-set.html"%}

