---
title: "Sample"
status: draft
---

<!-- Banner -->
{% include sample-component.html
    snippet="ltu-components/src/banner/snippets/banner_campaign.html"
    blockWidth="full-width"
%}

{% include sample-component.html
    snippet="section-header/snippets/section-header.html"
    blockWidth="wide"
    blockBackground="grey"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="ltu-components/src/proofpoint/snippets/proof-points-set.html"
    blockWidth="medium"
    blockBackground="grey"
%}

<div>
    <h2>Standard text content</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <ul>
       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
       <li>Aliquam tincidunt mauris eu risus.</li>
       <li>Vestibulum auctor dapibus neque.</li>
    </ul>
    <blockquote>
        <p>The quick brown fox jumps over the lazy dog</p>
    </blockquote>
</div>

<div>
    <h2>Standard text content</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <ul>
       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
       <li>Aliquam tincidunt mauris eu risus.</li>
       <li>Vestibulum auctor dapibus neque.</li>
    </ul>
</div>

<!-- Gallery -->
{% include sample-component.html
    snippet="ltu-components/src/gallery/snippets/gallery-tiles.html"
    blockWidth="wide"
%}

{% include sample-component.html
    snippet="section-header/snippets/section-header-left.html"
    blockWidth="medium"
    blockBackground=""
%}

<!-- Mosaic -->
{% include sample-component.html
    snippet="ltu-components/src/mosaic/snippets/mosaic.html"
    blockWidth="medium"
%}

<!-- CTA -->
{% include sample-component.html
    snippet="ltu-components/src/cta/snippets/cta.html"
    blockWidth="wide"
    blockBackground="black"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="ltu-components/src/callout/snippets/callout-default.html"
    blockWidth="narrow"
    blockAlign="center"
%}

<!-- Step List -->
{% include sample-component.html
    snippet="ltu-components/src/step-list/snippets/step-list.html"
    blockWidth="narrow"
    blockAlign="center"
%}

{% include sample-component.html
    snippet="section-header/snippets/section-header.html"
    blockWidth="wide"
    blockBackground="grey"
%}

<!-- Proofpoint Set -->
{% include sample-component.html
    snippet="ltu-components/src/proofpoint/snippets/proof-points-set.html"
    blockWidth="wide"
    blockBackground="grey"
%}

{% include sample-component.html
    snippet="section-header/snippets/section-header.html"
    blockWidth="wide"
    blockBackground=""
%}

<!-- Testimonial -->
{% include sample-component.html
    snippet="ltu-components/src/testimonial/snippets/testimonial-feature.html"
    blockWidth="wide"
    blockAlign="center"
%}

{% include sample-component.html
    snippet="section-header/snippets/section-header.html"
    blockWidth="wide"
    blockBackground=""
%}

<!-- Testimonial Set One -->
{% include sample-component.html
    snippet="ltu-components/src/testimonial/snippets/testimonial-set-4.html"
    blockWidth="wide"
    blockAlign="center"
%}

<!-- Proofpoint Set -->
{% include sample-component.html
    snippet="ltu-components/src/proofpoint/snippets/proof-points-set.html"
    blockWidth="wide"
%}

<!-- Card Set -->
{% include sample-component.html
    snippet="ltu-components/src/card/snippets/card-set.html"
    blockWidth="wide"
    blockBackground="grey"
%}

<!-- Form -->
{% include sample-component.html
    snippet="ltu-components/src/card/snippets/card-set.html"
    blockWidth="medium"
%}

<!-- CTA -->
{% include sample-component.html
    snippet="ltu-components/src/cta/snippets/cta.html"
    blockWidth="wide"
    blockBackground="black"
%}
