// depenencies
@use "config";

/* base button */
.ds-btn {
    /* remove browser styling from button element */
    -webkit-appearance: none;
    -moz-appearance: none;

    display: inline-block; // older browsers
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: config.spunits(4) config.spunits(5);
    margin: config.spunits(1) 0;
    text-decoration: none;
    color: config.$color-2;
    background-color: config.$color-3a;
    border: 2px solid transparent;
    transition: background-color 0.05s ease-in-out;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:visited {
        color: config.$color-2;
    }

    &[disabled] {
        opacity: 0.25;
        pointer-events: none;
    }

    &:hover {
        text-decoration: underline;
        transform: translateY(-4px);
        box-shadow: config.$shadow-2;
    }

    &[class*="ds-icon-"]{
        padding-right: config.spunits(11);
        &::after {
            margin: 0 config.spunits(3);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.ds-icon--before {
        padding-right: config.spunits(5);
        padding-left: config.spunits(11);
        &::after {
            left: 0;
            right: unset;
        }
    }

    /*
    * Button modifiers
    */

    /* light button modifier */
    &.ds-btn--light {
        background-color: white;
    }

    /* small modifier */
    &.ds-btn--small {
        padding: config.spunits(1) config.spunits(4);

        &[class*="ds-icon-"]{
            padding-right: config.spunits(9);
            &::after {
                margin: 0 config.spunits(2);
                width: config.spunits(4);
            }
        }

        &.ds-icon--before {
            padding-right: config.spunits(4);
            padding-left: config.spunits(7);

            &::after {
                left: 0;
                right: unset;
            }
        }
    }


}

/* primary button */
.ds-btn-primary {
    @extend .ds-btn;
    color: white;
    background-color: config.$color-1;

    &:visited {
        color: white;
    }

    &:hover {
        text-decoration: underline;
    }

    &[class*="ds-icon-"]{
        &::after {
            filter: config.$filter-white;
        }
    }

    &.ds-btn--light {
        color: config.$color-1;
        background-color: white;

        &:visited {
            color: config.$color-1;
        }

        &[class*="ds-icon-"]{
            &::after {
                filter: config.$filter-red;
            }
        }
    }
}

/* secondary button */
.ds-btn-secondary {
    @extend .ds-btn;
    color: config.$color-2;
    background-color: transparent;
    border: 2px solid config.$color-2;

    &:visited {
        color: config.$color-2;
    }

    &[class*="icon-"]::after {
        filter: config.$filter-near-black;
    }

    /* secondary and light button modifier */
    &.ds-btn--light {
        color: white;
        background-color: transparent;
        border: 2px solid white;

        &:visited {
            color: white;
        }

        &[class*="icon-"]::after {
            filter: config.$filter-white;
        }
    }
}



/* link button - looks like a link (for button tag) */
.ds-btn-link {
    /* remove browser styling from button element */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;   
    background: none;
    border: 0;
    cursor: pointer;

    color: config.$color-1;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }

    &[disabled] {
        opacity: 0.25;
        pointer-events: none;
    }

    &[class*="icon-"]{
        padding-right: 1.75em; 
        &::after {
            filter: config.$filter-red;
        }
    }

    &.ds-icon--before {
        padding-right: 0;
        padding-left: 1.75em; /* 28px for 1rem - using em here to suit font size change */
    }
    
}

input[type="button"],
input[type="reset"] {
    @extend .ds-btn;
}
input[type="submit"] {
    @extend .ds-btn-primary;
}

/* round button */
.ds-btn-round {
    @extend .ds-btn;
    
    display: inline-block; // cannot be inline-flex
    border: 2px solid config.$color-2;
    border-radius: 50%;
    background-color: transparent;
    width: 48px;
    height: 48px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    &[class*="icon-"]{
        padding: 0;
        text-indent: 100%;
        
        &::after {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transform: none;
        }
        
        &.ds-btn--small {
            padding: 0;
            &::after {
                margin: auto;
            }
        }
    }

    /* round button modifiers */
    &.ds-btn--small {
        padding: 0;
        width: 36px;
        height: 36px;
    }

    &.ds-btn--light {
        color: white;
        border: 2px solid white;
        background-color: transparent;
        
        &:visited {
            color: white;
        }
        
        &[class*="ds-icon-"]::after {
            filter: config.$filter-white;
        }
    }
}
