---
title: "Step List - centered"
status: ready

text: "Use modifier `ds-step-list--centered` to centered the list"
type: block

---

<div class="ds-block">
    
    <ol class="ds-step-list ds-step-list--centered">
        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>

        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>

        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>
    </ol>

</div>
