---
title: "Step List"
status: ready

type: block

---

<div class="ds-block">
    
    <ol class="ds-step-list">
        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>

        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>

        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>
    </ol>

</div>
