---
title: "ds-step List"
status: ready

type: block

---

<div class="ds-block">
    <div class="ds-wrapper">
    
        <ol class="ds-step-list">
        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>

        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>

        <li class="ds-step-list-item">
            <div>
                {% include_relative sample-text.html %}
            </div>
        </li>
    </ol>

    </div>
</div>
