.accordion-item {
    border-bottom: 2px solid $color-3b;
    padding: 0;
    margin: 0;
}

.accordion-item+.accordion-item {
    border-top: 0;
    margin-top: 0;
}

.accordion-trigger {
    background: none;
    display: block;
    margin: 0;
    padding: $spacer * 5;
    position: relative;
    text-align: left;
    width: 100%;
    border: none;
    padding: $spacer * 5;
    color: $color-1;
    cursor: pointer;
}

.accordion-trigger:focus {
    // outline: 3px solid $color-1;
    // outline-offset: 2px;
}

.accordion-trigger:hover {
    .accordion-title {
        text-decoration: none;
        color: $color-2;
    }
}

.accordion-trigger {
    .accordion-title {
        text-decoration: underline;
    }

    .accordion-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $spacer * 5;
    }

    .icon-plus {
        display: block;
    }

    .icon-minus {
        display: none;
    }

    &.active {
        .icon-minus {
            display: block;
        }

        .icon-plus {
            display: none;
        }
    }
}

.accordion-content {
    display: none;
    padding: $spacer * 5;

    > :first-child {
        margin-top: 0;
    }
}

.accordion-trigger.active {
    display: block;
}


//
// CSS accordion
//

.accordion-tabs {
    overflow: hidden;
}

.accordion-tab {
    border-bottom: 2px solid $color-3b;
    width: 100%;
    overflow: hidden;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        cursor: pointer;
    }

    &-content {
        padding: 1em;
        max-height: 0;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}

input:checked {
    ~ .accordion-tab-content {
        max-height: 100vh;
    }

}
