//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Base
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert {
    border: 2px solid rgba($color-alt-3, 1);
    border-radius: 4px;
    padding: 12px 20px;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    font-weight: 400;
    padding: 12px 24px 12px 48px;
}

//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert colours
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert-success {
    background-color: rgba($color-alt-3, 0.1);
    border-color: rgba($color-alt-3, 0.33);
}

.alert-danger {
    background-color: rgba($color-1, 0.1);
    border-color: rgba($color-1, 0.33);
}

.alert-info {
    background-color: rgba($color-alt-4, 0.1);
    border-color: rgba($color-alt-4, 0.33);
}


//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert page
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert-page {
    font-weight: 500;

    &[class*="icon-"]::after {
        left: 12px;
    }
    
    p {
        margin: 0;
    }
}



//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Text Box
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert-text-box {
    width: max-content;
    padding: 24px;

    * {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}


//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Box
//----------------------------------------------------------------------------------------------------------------------------------// 

.alertbox {
    @extend .alert;
    width: max-content;
}

.alertbox-heading {
    font-size: $h3;
    margin: 0 0 24px 0;
}

.alertbox::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-image: url("icons/feather/alert-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    // filter: $teal;
}

@media(min-width: 768px){
    .alertbox {
        position: relative;
        padding: $spacer*6 $spacer*6 $spacer*6 $spacer*20;
    }
    .alertbox::before {
        display: block;
        position: absolute;
        left: 24px;
        top: 24px;
    }
}


//----------------------------------------------------------------------------------------------------------------------------------// 
// Alert Icons
//----------------------------------------------------------------------------------------------------------------------------------// 

.alert .close {
    position: absolute;
    top: 24px;
    transform: translateY(-50%);
    right: $spacer * 3;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
    line-height: 0;
    cursor: pointer;
}