.ds-section-header {
    text-align: center;

    > * {
        margin-left: auto;
        margin-right: auto;
    }


    &--center-align {
        text-align: center;
    }

    &--left-align {

        text-align: left;
        > * {
            margin-left: 0;
            margin-right: auto;
        }
    }

    &--right-align {

        text-align: right;
        > * {
            margin-left: auto;
            margin-right: 0;
        }
    }

}
