.breadcrumbs {
    background: transparent url(https://www.latrobe.edu.au/__data/assets/image/0003/12864/dotted-line.gif) repeat-x 0 bottom;
    color: #e87722;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 12px;
    padding: 0 0 20px;
}

.breadcrumbs a:last-child {
    color: #000;
    pointer-events: none;
    text-decoration: none;
}