// depenencies
@use "config";
@use "text/scss/text";

//----------------------------------------------------------------------------------------------------------------------------------//
// Banner Hero
//----------------------------------------------------------------------------------------------------------------------------------//

.ds-hero {
    max-width: 1600px;
    margin: 0 auto config.spunits(8) auto;
}

.ds-hero__content {
    position: relative;
    background-color: config.$color-3a;

    @media(min-width: 768px) {
        padding: config.spunits(10) config.spunits(8);
        background-color: transparent;

        // red triangle top left
        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 146px solid transparent;
            border-right: 146px solid transparent;
            border-top: 107px solid #e2231b;
            position: absolute;
            z-index: 2;
            top: 0;
            left: -146px;
        }
    }
}

.ds-hero__text {
    max-width: calc(800px - 2rem);
    padding: config.spunits(8) 20px config.spunits(8) 20px;
    position: relative;
    z-index: 1;
    
    // button group always at bottom
    display: flex;
    flex-direction: column;
    .ds-hero__button-group {
        padding-top: 1rem;
        margin-top: auto;
    }

    > :first-child { margin-top: 0; }

    h1, .h1 {
        margin-bottom: 0;
    }
    h2, .h2 {
        margin-top: 1rem;
        font-size: config.$h3;
    }
    h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 1rem;
        font-size: config.$h4;
    }

    // latrobe chevron
    &::before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background-image: url("icons/latrobe-chevron-RGB.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    @media(min-width: 640px) {
        padding: config.spunits(8) 40px config.spunits(8) 40px;
    }

    @media(min-width: 768px) {
        background-color: rgba(255,255,255,0.95);
        width: 2 / 3 * 100%;
        min-height: 360px;
        padding: config.spunits(8) config.spunits(7) config.spunits(8) config.spunits(10);
    }
}

.ds-hero__image {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 */

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        bottom: 0;
        min-height: 100%;
        object-fit: cover;
    }

    // white triangle bottom right
    &::after {
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        border-left: 315px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 112.5px solid config.$color-3a;
        position: absolute;
        bottom: 0;
        right: 0;

        border-left: 146px solid transparent;
        border-bottom: 107px solid config.$color-3a;
    }

    @media(min-width: 768px) {
        position: absolute;
        padding-bottom: 0;
        
        // white triangle bottom right
        &::after {
            border-bottom-color: #fff;
        }

    }
}

// modifer for non bleed image on right
.ds-hero--image-right {

    @media(min-width: 768px) {

        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 75%;
            box-shadow: config.$shadow-1;
        }

        .ds-hero__image {
            //max-height: 2/3 * 800px; //for 3/2 image on right
            img {
                max-width: 800px;
            }
        }

    }
}