body {
    margin-top: 52px;
    padding: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
  }
  h1 {
      font-size: 48px;
      line-height: 52px;
  }
  h2 {
      font-size: 32px;
      line-height: 36px;
  }
  h3 {
      font-size: 24px;
      line-height: 28px;
  }
  h4 {
      font-size: 20px;
      line-height: 24px;
  }
  h5 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
  }
  p, li {
      max-width: 800px;
      line-height: 1.4;
  }
  p.intro {
      font-size: 1.2rem;
  }