---
title: "Sample"
layout: "sample"
ltulayout: "home"
---
<div class="ds-block-container">
    <div class="ds-block-content">
        <div class="tile-nav">
            <h2>Studying at La Trobe</h2>
            <ul>
                <li class="tile primary">
                    <img src="" alt="">
                    <h3>Life at La Trobe
                    <footer><a class="btn-light icon-chevron-right" href="">Explore more</a></footer>
                </li>
                <li class="tile">
                    <img src="" alt="">
                    <footer><a href="">Courses and Study options</a></footer>
                </li>
                <li class="tile">
                    <img src="" alt="">
                    <footer><a href="">Entry requirments</a></footer>
                </li>
                <li class="tile">
                    <img src="" alt="">
                    <footer><a href="">Fees and Scholarships</a></footer>
                </li>
                <li class="tile">
                    <img src="" alt="">
                    <footer><a href="">Courses and Study options</a></footer>
                </li>
                <li class="tile">
                    <img src="" alt="">
                    <footer><a href="">Courses and Study options</a></footer>
                </li>
                <li class="tile">
                    <img src="" alt="">
                    <footer><a href="">Courses and Study options</a></footer>
                </li>
            </ul>
        </div>
    </div>
</div>
