---
title: "Sample"
ltulayout: "home"
---
<div id="promo-single-1035229" class="story P-item ">
    <a href="https://www.latrobe.edu.au/news/articles/2019/release/victorian-first-for-net-zero-target" data-theme="" data-subtheme="" data-title="Victorian first for Net Zero target"><img class="" src="https://www.latrobe.edu.au/edit-homepage/promo-singlwe/news/Net-Zero-launches-at-La-Trobe.jpg/1680.jpg" alt=""></a>
    <div class="bleach"></div>
    <div class="story-text">
        <h2><a href="https://www.latrobe.edu.au/news/articles/2019/release/victorian-first-for-net-zero-target" data-theme="" data-subtheme="" data-title="Victorian first for Net Zero target">Victorian first for Net Zero target</a></h2>
        <p class="leadin">La Trobe University will become Victoria’s first zero-emissions University under an ambitious project.</p>
        <p class="cta"><a class="ltu-button" href="https://www.latrobe.edu.au/news/articles/2019/release/victorian-first-for-net-zero-target" data-theme="" data-subtheme="" data-title="Victorian first for Net Zero target">Read more</a></p>
    </div>
</div>
