---
title: "Sample"
ltulayout: "home"
layout: sample-legacy
---
<div class="ds-block-container" data-blockwidth="wide">
    <header class="ds-block-header">
        <h2>Meet our graduates</h2>
    </header>
    <div class="card-set">
        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/420/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ds-block-container" data-blockwidth="wide" data-bgcolor="grey">
    <header class="ds-block-header">
        <h2>Meet our graduates</h2>
    </header>
    <div class="card-set">

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ds-block-container" data-blockwidth="wide">
    <header class="ds-block-header">
        <h2>Meet our graduates</h2>
    </header>
    <div class="card-set">

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/420/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ds-block-container" data-blockwidth="wide" data-bgcolor="grey">
    <header class="ds-block-header">
        <h2>Meet our graduates</h2>
    </header>
    <div class="card-set">

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://placeimg.com/280/280/people">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-image">
                <img src="https://via.placeholder.com/280">
            </div>

            <div class="testimonial-copy">
                <blockquote>
                    &ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;

                    <footer class="testimonial-footer">
                        <cite class="testimonial-heading">John Appleseed <span class="testimonial-subheading">Senior Accountant,<br>Southern Cross Business Advisers</span></cite>
                    </footer>
                </blockquote>

                <div class="testimonial-cta">
                    <h6 class="testimonial-degree">Graduated from Bachelor of Accounting</h6>
                    <a href="#" class="btn-secondary-small icon-play icon-after">Watch story</a>
                </div>
            </div>
        </div>

    </div>
</div>
