---
title: "Text"
---
<style>
    body {
        background: #ddd;
        font-weight: 400;
    }
    main > article {
        padding: 2% 0;
        background: #fff;
        margin: 128px 0 0 0;
        /*background: #fff url('/wedgetail/images/spacing-example-grid.png');*/
    }
    @media (min-width: 1024px) {
        main > article {
            margin-left: 25%;
        }
    }
    main > article > div {
        margin: 0 20px;
    }
    @media (min-width: 640px) {
        main > article > div {
            margin: 0 6%;
        }
    }
</style>

<div>

<h1>How the Online Campus works - h1</h1>
<h2>How much time is required to study online? - h2</h2>
<p>Studying online provides you with a greater amount of flexibility. Courses can be completed as fast or as slow as you need to fit around your schedule. Enrol in one or two subjects in one study period, study block or semester, depending on how much time you have.</p>
<p>To complete subjects within the study period, we recommend allowing at least 12-15 hours a week for each subject. To make sure you&rsquo;re on top of your study load and you&rsquo;re progressing though each subject, it's best to set up a study plan personalised around your life.</p>
<h2>How subjects are taught, let's make this longer so that it wraps: are you wrapping? - h2</h2>
<p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>
<p>Online subjects include a range of learning activities:</p>
<ul>
    <li>engaging with the online material</li>
    <li>participating in interactive classes</li>
    <li>completing the required readings</li>
    <li>note taking and completing assessments.</li>
    <li>group work with other students</li>
</ul>
<h2>Other information -h2</h2>
<h3>I forgot my password, what do I do? -h3</h3>
<p>If you cannot remember your password, you can reset it using the <a href="https://www.latrobe.edu.au/students/support/it/reset-password">Password Reset Tool</a>.</p>
<h3>Discover La Trobe Hub and Continuing BFN Student Info - h3</h3>
<p>Once you have access to the LMS, some quick reference material can be found in the LMS within your&nbsp;<a href="https://lms.latrobe.edu.au/course/view.php?id=60289">Discover La Trobe Hub</a>.</p>
<p>If you're a continuing BFN student, you will find some additional reference materials for you in your&nbsp;<a href="https://lms.latrobe.edu.au/course/view.php?id=41321">OUA-BFN LMS Subject here</a>.</p>
<h4>Here is a - h4</h4>
<p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>
<h5>Here is a - h5</h5>
<p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>
<h6>Here is a - h6</h6>
<p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>

</div>
