// depenencies
@use "config";

.ds-cta {
    margin-top: 4%;
    
    @include config.columns();

    @include config.bp-up(xl) {
        text-align: center;
    }
    &--alternate {
        @include config.columns;
    
        // display: flex;
        // flex-direction: column;
    
        @include config.bp-down(xl) {
            align-items: center;
        }
    
        @include config.bp-up(xl) {
            flex-direction: row;
        }
    
        justify-content: space-between;
    }
}


.ds-cta__heading {
    @include config.bp-down(xl) {
        text-align: center;
    }

    @include config.bp-up(lg) {
        flex-grow: 0;
        flex-basis: 33.3%;
    }
}

.ds-cta__item-group {
    display: flex;
    flex-direction: column;

    @include config.bp-up(sm) {
        flex-grow: 0;
        flex-basis: 25%;
    }

    @include config.bp-up(lg) {
        flex-direction: row;
        flex-grow: 1;
    }
}

.ds-cta__item {
    @include config.bp-up(lg) {
        width: 100%;
        margin-left: 40px;
        margin-bottom: 0;

        &:first-child {
            margin-left: 0;;
        }
    }

    @include config.bp-up(xl) {
        margin-top: 0;

        &:first-child {
            margin-left: 40px;
        }
    }
}

.ds-cta__footer {
    border-top: 1px solid grey;
    margin-top: 4%;
    padding-top: 4%;
}