.ds-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 0 - 32px;
    margin-top: 0 !important; /* override lobotomised owl */

    &--example {
        & > * {
            background: lighten(#182538, 75%);
            //height: 100px;
            &:nth-child(odd) {
                background: lighten(#182538, 80%);
            }
        }
    }

    & > * {
        width: calc(100% - 32px);
        margin-right: 32px;
        &:first-child {
            margin-top: 1rem;
        }
    }

    @include bp-up(sm) {
        &__col-3 {
            width: calc(6/12 * 100% - 32px);
        }
    }

    @include bp-up(lg) {
        &__col-12 {
            width: calc(100% - 32px);
        }

        &__col-11 {
            width: calc(11/12 * 100% - 32px);
        }

        &__col-10 {
            width: calc(10/12 * 100% - 32px);
        }

        &__col-9 {
            width: calc(9/12 * 100% - 32px);
        }

        &__col-8 {
            width: calc(8/12 * 100% - 32px);
        }

        &__col-7 {
            width: calc(7/12 * 100% - 32px);
        }

        &__col-6 {
            width: calc(6/12 * 100% - 32px);
        }

        &__col-5 {
            width: calc(5/12 * 100% - 32px);
        }

        &__col-4 {
            width: calc(4/12 * 100% - 32px);
        }

        &__col-3 {
            width: calc(3/12 * 100% - 32px);
        }

        &__col-2 {
            width: calc(2/12 * 100% - 32px);
        }

        &__col-1 {
            width: calc(1/12 * 100% - 32px);
        }
    }
}

.ds-grid--no-gutter {
    margin-right: 0;

    & > * {
        width: 100%;
        margin-right: 0;
    }

    @include bp-up(sm) {
        .ds-grid {
            &__col-3 {
                width: calc(6/12 * 100%);
            }
        }
    }

    @include bp-up(lg) {
        .ds-grid {
            &__col-12 {
                width: calc(100%);
            }

            &__col-11 {
                width: calc(11/12 * 100%);
            }

            &__col-10 {
                width: calc(10/12 * 100%);
            }

            &__col-9 {
                width: calc(9/12 * 100%);
            }

            &__col-8 {
                width: calc(8/12 * 100%);
            }

            &__col-7 {
                width: calc(7/12 * 100%);
            }

            &__col-6 {
                width: calc(6/12 * 100%);
            }

            &__col-5 {
                width: calc(5/12 * 100%);
            }

            &__col-4 {
                width: calc(4/12 * 100%);
            }

            &__col-3 {
                width: calc(3/12 * 100%);
            }

            &__col-2 {
                width: calc(2/12 * 100%r);
            }

            &__col-1 {
                width: calc(1/12 * 100%);
            }
        }
    }
}

.ds-columns {
    columns: 280px 2;
    column-gap: 32px;

    &--3cols {
        column-count: 3;
    }

    &--4cols {
        column-count: 4;
    }
}

.ds-well {
    background-color: $color-3a;
    padding: 1rem;

    &--alt-color {
        background-color: $color-3b;
    }
}
