/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

button,
html,
input,
select,
textarea {
    color: #242424;
}

body,
html {
    /*height: 100%;*/
}

a,
a:visited {
    color: $color-1;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
