.grid-12-col {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $spacer * 4;

    @media (max-width: 768px) {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: $spacer * 2;
    }

    @media (min-width: 768px) {
        [data-cols="12"] {
            grid-column: 1 / span 12;
        }
        
        [data-cols="11"] {
            grid-column: 1 / span 11;
        }
        
        [data-cols="10"] {
            grid-column: 1 / span 10;
        }
        
        [data-cols="9"] {
            grid-column: 1 / span 9;
        }
        
        [data-cols="8"] {
            grid-column: 1 / span 8;
        }
        
        [data-cols="7"] {
            grid-column: 1 / span 7;
        }
        
        [data-cols="6"] {
            grid-column: 1 / span 6;
        }
        
        [data-cols="5"] {
            grid-column: 1 / span 5;
        }
        
        [data-cols="4"] {
            grid-column: 1 / span 4;
        }
        
        [data-cols="3"] {
            grid-column: 1 / span 3;
        }
        
        [data-cols="2"] {
            grid-column: 1 / span 2;
        }
        
        [data-cols="1"] {
            grid-column: 1 / span 1;
        }
        
        [data-inline] {
            grid-column-start: auto;
        }
    }
}