// dependencies
@use "config";

.ds-results-list {
    width: 85%;
    margin-right: 0;
    position: relative;
    z-index: 500;
    min-height: 20vh;
    // max-height: 40vh;
    margin-top: 0;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;

    & li {
        padding: config.spunits(4) config.spunits(6.5) config.spunits(4) config.spunits(4);
        // position: relative;
        list-style: none;
        margin-top: 0; //override text li styles
        margin-left: -2.5rem;
        max-width: calc(100% + 2.5rem); //compensate margin-left
        display: block;
        cursor: pointer;

        &:nth-child(odd) {
           background-color: config.$color-3; 
        }

        &:hover {
            background-color: config.$color-3a;
        }
    }
}

.ds-results-list__search-keywords {
    padding: 1rem;
    margin-top: 0;
    background: #eafbe2;
    max-width: 100%;
    display: block;
}

.ds-results-list__suggested-keywords {
    font-size: config.$h4;
    font-weight: 500;
    margin-left: 1rem;
}