/* styles when shown in modal */
.ds-image-gallery__images {
    /* remove ul styles */
    padding: 0;
    list-style: none;
}

.ds-image-gallery__image {
    figure {
        margin: 0;
    }

    figcaption {
        font-size: 14/16 * 1em;
        position: absolute;
        bottom: 0;
        color: #fff;
        padding: 8px 16px;
        text-align: center;
        background-color: rgba($color-2a, 0.6);
        z-index: 1;
    }
}

/* styles when wrapped in gallery container */
.ds-image-gallery {
    position: relative;

    .ds-image-gallery__images {
        @extend .clearfix;
        background-color: $color-2;
    }

    .ds-image-gallery__image {
        position: relative;
        margin: 0 !important;
        /* override lobotomised owl */
        list-style: none;
        float: left;
        width: 1/3 * 100%;
        overflow: hidden;

        &::after {
            /* 3/2 ratio */
            content: "";
            display: block;
            padding-bottom: 2/3 *100%;
        }

        /* hide image 4 onwards */
        &:nth-child(n+4) {
            display: none;
        }

        figcaption {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: transparent;
        }

    }

    .ds-image-gallery__image:first-child {
        width: 2/3 * 100%;
    }

    .ds-image-gallery__image:only-child {
        /*width: 100%;
        max-width: 853.33px;*/
    }

    .ds-image-gallery__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* align image center */
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, rgba(#242424,0.8), transparent 50%);
        }

        img {
            max-width: 100%;
            max-height: 100%;

            transition: transform 0.25s ease-in-out;

        }

        &:hover img {
            transform: scale(1.05);
        }

        cursor: pointer;
    }

    .ds-image-gallery__more {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 4px;
        background-color: rgba($color-2a, 0.9);

        button {
            /* override round button */
            text-indent: 0;
            margin: 0;
        }
    }
}
// if browser supports grid use grid layout
@supports(display:grid) {
    .ds-image-gallery {
        .ds-image-gallery__images {
            &::after,
            &::before {
                display: none; /* stop clearfix interfering with grid layout */
            }

            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        .ds-image-gallery__image {
            width: 100%;
        }

        .ds-image-gallery__image:first-child {
            width: 100%;
            grid-row: span 2;
        }

        .ds-image-gallery__image:only-child {
            grid-row: span 3;
        }

    }
}

// when images loaded into modal
.ds-modal {

    .ds-image-gallery__images {
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        /* hide scrollbar */
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
    }

    .ds-image-gallery__image {

        figure {
            position: relative;
            margin: 0 0 16px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        img {
            max-height: 85vh;
        }
    }

    .ds-image-gallery__more {
        display: none;
    }
}
