// set margins for standard content containers
.page-content > div,
.page-content > section,
.page-content > article {
    margin: 0 20px;
    @media (min-width: 640px) {
        margin: 0 6%;
    }
    @media (min-width: 1600px) {
        margin: 0 12%;
    }
}
div.ds-block-container {
    margin: 0;
    padding: 0;
    &[data-bgcolor="grey"] {
        background-color: $color-3a;
    }
    &[data-bgcolor="black"] {
        background: $color-2;
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="red"] {
        background-color: $color-1;
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="black-nodes"] {
        background-color: $color-2;
        background-image: url("img/bg-nodes.svg");
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="red-nodes"] {
        background-color: $color-1;
        background-image: url("img/bg-nodes.svg");
        .ds-block-header {
            color: white;
        }
    }
}
div.ds-block-container[data-blockwidth="narrow"],
div.ds-block-container[data-blockwidth="wide"] {
    padding: 40px 20px;
    &:not([data-bgcolor]),
    &[data-bgcolor=""] {
        padding: 0 20px;
        margin: 40px 0;
    }
}
@media (min-width: 640px) {
    div.ds-block-container {
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            margin: 4% 0;
        }
        &:not([data-blockwidth]),
        &[data-blockwidth=""] {
            margin: 0;
            padding: 0;
        }
    }
    div.ds-block-container[data-blockwidth="narrow"],
    div.ds-block-container[data-blockwidth="wide"] {
        padding: 4% 6%;
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            padding: 0 6%;
            margin: 4% 0;
        }
    }
}
@media (min-width: 1600px) {
    div.ds-block-container[data-blockwidth="narrow"] {
        padding: 4% 12%;
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            padding: 0 12%;
        }
    }
}
.ds-block-header {
    text-align: center;
    h2 {
        margin: 0 auto;
    }
    p {
        margin-left: auto;
        margin-right: auto;
    }
    & + ul {
        margin-top: 24px !important;
    }
}
div.ds-block-container {
    &:not([data-blockwidth]) .ds-block-header,
    &[data-blockwidth=""] .ds-block-header {
        padding: 4% 0 0 0;
        margin: 0;
    }
}
.ds-block-header[data-textalign="left"] {
    text-align: left;
    h2, p {
        margin-left: 0;
    }
}
.ds-block-header[data-textalign="right"] {
    text-align: right;
    h2, p {
        margin-right: 0;
    }
}
