// depenencies
@use "config";

// tokens
$ds-grid-gutter: config.spunits(8);

.ds-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 0 - $ds-grid-gutter;

    // modifier for demonstarting grid
    &--example {
        & > * {
            background: lighten(#182538, 75%);
            //height: 100px;
            &:nth-child(odd) {
                background: lighten(#182538, 80%);
            }
        }
    }

    & > * {
        width: calc(100% - #{$ds-grid-gutter});
        margin-right: $ds-grid-gutter;
    }

    @media (min-width: 768px) {
        &__col-12 {
            width: calc(100% - #{$ds-grid-gutter});
        }

        &__col-11 {
            width: calc(11/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-10 {
            width: calc(10/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-9 {
            width: calc(9/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-8 {
            width: calc(8/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-7 {
            width: calc(7/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-6 {
            width: calc(6/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-5 {
            width: calc(5/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-4 {
            width: calc(4/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-3 {
            width: calc(3/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-2 {
            width: calc(2/12 * 100% - #{$ds-grid-gutter});
        }

        &__col-1 {
            width: calc(1/12 * 100% - #{$ds-grid-gutter});
        }
    }
}

/* modifier for grid with no gutter
 * usage: class="ds-grid ds-grid--no-gutter"
 */
.ds-grid--no-gutter {
    margin-right: 0;

    & > * {
        width: 100%;
        margin-right: 0;
    }

    @media (min-width: 768px) {
        .ds-grid {
            &__col-12 {
                width: calc(100%);
            }

            &__col-11 {
                width: calc(11/12 * 100%);
            }

            &__col-10 {
                width: calc(10/12 * 100%);
            }

            &__col-9 {
                width: calc(9/12 * 100%);
            }

            &__col-8 {
                width: calc(8/12 * 100%);
            }

            &__col-7 {
                width: calc(7/12 * 100%);
            }

            &__col-6 {
                width: calc(6/12 * 100%);
            }

            &__col-5 {
                width: calc(5/12 * 100%);
            }

            &__col-4 {
                width: calc(4/12 * 100%);
            }

            &__col-3 {
                width: calc(3/12 * 100%);
            }

            &__col-2 {
                width: calc(2/12 * 100%);
            }

            &__col-1 {
                width: calc(1/12 * 100%);
            }
        }
    }
}
