---
title: "Valid submission"
status: draft
---

<div class="ds-block">
    <div class="ds-block-wrapper" data-blockwidth="narrow">
        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-components/src/alert/snippets/alert-success/alert-success-with-content.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-components/src/inputs/snippets/text-input/text-input-valid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-components/src/inputs/snippets/checkbox/checkbox-group-valid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-components/src/inputs/snippets/radio/radio-group-valid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-components/src/select/snippets/select-valid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-components/src/button/snippets/form_button.html"
                container="false"
            %}
        </div>
    </div>
</div>
