---
title: "Buttons"
---
<p>Buttons are used to help users perform common actions more easily and direct them through a workflow.</p>
<h2>Button types</h2>
<p><b>Link buttons:</b> use the <code>&lt;a&gt;</code> tag for buttons that direct the user to a new page, ie. for buttons that are links. They should also be used for buttons that default to a link when javascript fails or is switched off, eg. a play video button that opens a YouTube video in a modal or if JS fails takes vistor to the YouTube video page.</p>
<p><b>Button tag:</b> use the <code>&lt;button&gt;</code> tag for buttons that will be used to make changes on a page via javascript and do not take the viewer to a new page.</p>
<p><b>Form buttons:</b> use standard form buttons <code>&lt;input type=""&gt;</code> in forms.</p>
<p>
<h2>Button styles</h2>
<p>Buttons have an underline on hover in order to address <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-without-color.html">WCAG2.0 Criterion 1.4.1</a></p>
<p>Buttons are sentence case for best readability.</p>
<table class="sg-table">
    <thead>
        <tr><th>Class</th><th>Font</th><th>Size / Line height <br>(&lt; 1400px viewport)</th><th>Size / Line height <br>(&gt;1400px viewport)</th><th>Weight</th></tr>
    </thead>
    <tbody>
        <tr><td>btn</td><td>RobotoCondensed Bold</td><td>16px / 24px</td><td>18px / 28px</td><td>Normal</td></tr>
        <tr><td>btn-secondary</td><td>RobotoCondensed Bold</td><td>16px / 24px</td><td>18px / 28px</td><td>Normal</td></tr>
        <tr><td>btn-light</td><td>RobotoCondensed Bold</td><td>16px / 24px</td><td>18px / 28px</td><td>Normal</td></tr>
        <tr><td>btn-secondary-light</td><td>RobotoCondensed Bold</td><td>16px / 24px</td><td>18px / 28px</td><td>Normal</td></tr>
    </tbody>
</table>
<h3>Icons</h3>
<p>Any of the icons in the <a href="/foundations/icons/">icon set</a> can be used with a button by including the class <code>icon-[icon-name]</code>. Where icon-name is the name listed on the <a href="/foundations/icons/">icons page</a>.</p>
<p>To place the icon on the left also include the class <code>icon-before</code>See examples below.</p>
<h3>Primary buttons</h3>
<p>The primary button style is used for primary actions. Only one of these types of buttons should be used in each view (ie block).</p>
{% include sample-iframe.html snippet="button-primary.html" %}
<h3>Secondary buttons</h3>
<p>The secondary button style is used for secondary actions. They are often used next to primary buttons or elsewhere on a page for secondary actions.</p>
{% include sample-iframe.html snippet="button-secondary.html" %}
<h3>Light buttons</h3>
<p>Light buttons can be used on dark or image backgrounds.</p>
<p>Add -light to button classes to use light versions.</p>
<p>Primary light button <code>class="btn-light"</code> should only be used on red backgrounds or backgrounds where the white provides better contrast than red.</p>
{% include sample-iframe.html snippet="button-light.html" %}
<h3>Filter buttons</h3>
<p>These butons are used for filters. They have a <code>selected</code> class.</p>
{% include sample-iframe.html snippet="button-filter.html" %}
<h3>Round buttons</h3>
<p>These butons are used for f</p>
{% include sample-iframe.html snippet="button-round.html" %}

<h3>Form buttons</h3>
<p class="sg-alert">Yet to look at restyling these</p>
<p>Use &lt;input&gt; buttons in forms.</p>
{% include sample-iframe.html snippet="button-input.html" %}

<h2>Legacy classes</h2>
<h3>Ltu buttons</h3>
<p>Buttons using &lt;a class="ltu-button"&gt; have been aligned in style with secondary button.</p>
{% include sample-iframe.html snippet="buttons.html" ltulayout="standard_page" %}
