---
title: "Buttons"
---
<h2>Standard buttons</h2>
<p>Use &lt;button&gt; tags for buttons that make changes on the page via javascript.</p>
{% include sample-iframe.html snippet="button-basic.html" %}

<h2>Form buttons</h2>
<p>Use &lt;input&gt; buttons in forms.</p>
{% include sample-iframe.html snippet="button-input.html" %}

<h2>Link buttons</h2>
<p>Use &lt;a class="button"&gt; link buttons for buttons that direct to another page or section of the page.</p>
{% include sample-iframe.html snippet="buttons.html" ltulayout="standard_page" %}
<p>Light versions for color backgrounds</p>
{% include sample-iframe.html snippet="buttons-light.html" bgcolor="#EF3829" %}
