.aside-right {
    float: right;
    width: 100%;
    min-width: 320px;
    margin: 1em 0 0 0;

    @media(min-width: 640px) {
        max-width: 50%;
    }

    @media(min-width: 344px) {
        margin-left: 24px;
    }

    @media(min-width: 960px) {
        max-width: 33%;
    }
}
