.ds-image-grid {
    display: grid;
    grid-gap: $spacer * 4;

    @include bp-down(xl) {
        grid-gap: $spacer * 2;
    }

    @include bp-down(sm) {
        grid-gap: $spacer;
    }

    &__image {
        position: relative;
        background-image: url(https://picsum.photos/1920/1920);
        background-position: center;
        background-size: cover;
        width: 100%;
        margin-top: 0;
        grid-column: span 3;
        grid-row: span 3;
        padding-top: 100%;

        @include bp-down(sm) {
            grid-column: span 6;
        }

        &:nth-of-type(15n+1),
        &:nth-of-type(15n+7) {
            grid-column: span 12;
            grid-row: span 6;
            padding-top: 50%;

            @include bp-down(sm) {
                padding-top: 75%;
            }
        }

        &:nth-of-type(15n+2),
        &:nth-of-type(15n+10) {
            grid-column: span 6;
            grid-row: span 6;

            @include bp-down(sm) {
                grid-column: span 12;
                grid-row: span 3;
                padding-top: 50%;
            }
        }

        &:nth-of-type(15n+13),
        &:nth-of-type(15n+14),
        &:nth-of-type(15n+15) {
            grid-column: span 4;
            grid-row: span 4;
        }
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: $spacer * 4;
        background: rgba(0,0,0,0.5);
        color: white;
    }
}

.ds-image-gallery {
    img {
        max-height: 80vh;
    }

    .ds-ratio-wrapper a,
    .ds-image-gallery-more {
        display: none;
    }
}

.ds-image-gallery__images {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.ds-image-gallery__hero {
    position: relative;
    width: 75%;
    text-align: center;
    background: #242424;
}

.ds-image-gallery__image {
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #363636;
}

.ds-image-gallery[data-status="compact"] {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 75%;
    overflow: hidden;

    .ds-image-gallery-image:nth-child(even){
        background: #242424;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        max-height: 100%;
    }

    .ds-image-gallery__more {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2em;
        color: #fff;
    }

    .ds-ratio-wrapper {
        /* 3/4 ratio */
        overflow: hidden;
        height: 0;
        padding-top: 75%;
    }

    .ds-ratio-wrapper a {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-indent: 110%;
        cursor: pointer;
        transition: background .5s ease;
    }

    .ds-ratio-wrapper a:hover{
        background: rgba(0,0,0,0.3);
    }
}
