// depenencies
@use "config";

.ds-step-list {
    counter-reset: my-awesome-counter;
    width: 100%;
    max-width: calc(42rem + 80px);
    list-style: none;
    padding-left: 80px;
    position: relative;
}

.ds-step-list-item {
    margin: 0;

    div {
        >:first-child {
            margin-top: 0;
        }
    }
}
.ds-step-list-item {
    counter-increment: my-awesome-counter;
    position: relative;
    padding: 32px 0;
    border-bottom: 2px solid config.$color-3a;
    width: 100%;
    max-width: 42em;

    &:before {
        content: counter(my-awesome-counter);
        display: block;
        position: absolute;
        left: -80px;
        top: 22px;
        color: config.$color-1;
        background-color: white;
        height: 44px;
        width: 44px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 0 2px config.$color-1;

        @media(min-width: 1440px) {
            width: 48px;
            height: 48px;
            line-height: 48px;
        }
    }

    &:after {
        width: 1px;
        height: calc(100% + 32px);
        border-left: 2px dotted config.$color-3b;
        position: absolute;
        top: 32px;
        left: calc(-80px + 21px);
        content: "";
        z-index: -1;

        @media(min-width: 1440px) {
            left: calc(-80px + 23px);
        }
    }

    &:last-child {
        border-bottom: none;
        &:after {
            display: none;
        }
    }
}


.ds-step-list--centered {
    margin-left: auto;
    margin-right: auto;
}