// set margins for standard content containers
.page-content > div,
.page-content > section,
.page-content > article {
    padding: 0 20px;
    margin: 40px 0;
    @media (min-width: 1000px) {
        padding: 0 6%;
        margin: 4% 0;
    }
    @media (min-width: 1600px) {
        padding: 0;
        margin: 4% auto;
        max-width: 1440px;
    }
}

div.ds-block {
    padding: 40px 20px;
    margin: 0;
    max-width: 100%;

    &:not([data-bgcolor]),
    &[data-bgcolor=""] {
        padding: 0 20px;
        margin: 40px 0;
    }
    .ds-block-wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
    &[data-blockwidth="narrow"] {
        .ds-block-wrapper {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
    &[data-blockwidth="wide"] {
        .ds-block-wrapper {
            max-width: 1600px;
            margin: 0 auto;
        }
    }
    &[data-blockwidth="full-width"]{
        padding: 0;
        margin: 0;
        .ds-block-wrapper {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}
@media (min-width: 1000px) {
    div.ds-block {
        padding: 4% 6%;
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            padding: 0 6%;
            margin: 4% 0;
        }
        &[data-blockwidth="full-width"]{
            padding: 0;
            margin: 0;
        }
    }
}
@media (min-width: 1600px) {
    div.ds-block[data-blockwidth="narrow"] {
        padding: 4% 12%;
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            padding: 0 12%;
        }
    }
}

// background color options
div.ds-block {
    &[data-bgcolor="grey"] {
        background-color: $color-3a;
    }
    &[data-bgcolor="black"] {
        background: $color-2;
        
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="red"] {
        background-color: $color-1;

        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="black-nodes"] {
        background-color: $color-2;
        background-image: url("img/bg-nodes.svg");

        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="red-nodes"] {
        background-color: $color-1;
        background-image: url("img/bg-nodes.svg");

        .ds-block-header {
            color: white;
        }
    }
}

.ds-block-header {
    text-align: center;
    margin-bottom: 4%;

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        margin-top: 0;
    }

    & + ul {
        margin-top: 24px !important;
    }
}
/*div.ds-block {
    &:not([data-blockwidth]) .ds-block-header,
    &[data-blockwidth=""] .ds-block-header {
        padding: 4% 0 0 0;
        margin: 0;
    }
}*/
div.ds-block-header[data-textalign="left"] {
    text-align: left;
    h2, p {
        margin-left: 0;
    }
}
div.ds-block-header[data-textalign="right"] {
    text-align: right;
    h2, p {
        margin-right: 0;
    }
}
