.ds-callout {
    border-left: 4px solid rgba($color-alt-3, 1);
    border-radius: 2px;
    position: relative;
    font-weight: 400;
    padding: $spacer * 4;
    box-shadow: $shadow-1;
    display: flex;

    /* align text with default text */
    max-width: 1200px;
    margin: 0 auto;

    @media(min-width: 768px){
        position: relative;
        padding: $spacer * 8;

        &::before {
            display: block;
            position: absolute;
            left: $spacer * 6;
            top: $spacer * 6;
        }
    }
}

.ds-callout__icon {
    padding-right: $spacer * 3;

    @media(max-width: 768px){
        margin-bottom: $spacer * 6;
    }

    @media(min-width: 768px){
        float: left;
        padding-right: $spacer * 6;
    }

    svg {
        width: $spacer * 6;
        height: $spacer * 6;
        stroke: $color-alt-3;

        @media(min-width: 768px){
            width: $spacer * 7;
            height: $spacer * 7;
        }
    }
}

.ds-callout__heading {
    font-size: $h3;
    color: rgba($color-alt-3, 1);
}

.ds-callout__text {
    align-self: stretch;
    margin-top: 0;
}
