// depenencies
@use "config";

.ds-callout {
    /*border-left: 4px solid rgba(config.$color-alt-3, 1);*/
    border-radius: 2px;
    position: relative;
    font-weight: 400;
    padding: config.$space-unit * 4;
    box-shadow: config.$shadow-1;
    //box-shadow: config.$shadow-2;
    display: flex;

    /* align text with default text */
    max-width: 1200px;
    margin: config.spunits(8) auto;

    @media(min-width: 768px){
        position: relative;
        padding: config.$space-unit * 8;

        &::before {
            display: block;
            position: absolute;
            left: config.$space-unit * 6;
            top: config.$space-unit * 6;
        }
    }
}

.ds-callout__icon {
    padding-right: config.$space-unit * 3;

    @media(max-width: 768px){
        margin-bottom: config.$space-unit * 6;
    }

    @media(min-width: 768px){
        float: left;
        padding-right: config.$space-unit * 6;
    }

    svg {
        width: config.$space-unit * 6;
        height: config.$space-unit * 6;
        stroke: config.$color-alt-3;

        @media(min-width: 768px){
            width: config.$space-unit * 7;
            height: config.$space-unit * 7;
        }
    }
}

.ds-callout__heading {
    font-size: config.$h3;
    color: rgba(config.$color-alt-3, 1);
}

.ds-callout__text {
    align-self: stretch;
    margin-top: 0;

    >:first-child {
        margin-top: 0;
    }
}
