// depenencies
@use "config";

// set margins for standard content containers - because can't set a default class for squiz matrix CMS content containers
.ds-page-content > div,
.ds-page-content > section,
.ds-page-content > article {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1104px; // 1024 + 80 (padding)

    @media (min-width: 640px) {
        padding: 0 40px;
    }
}

div.ds-block {
    clear: both; /* inase there is a float above */

    max-width: 100%;

    // for blocks without background color
    padding-top: 0px;
    padding-bottom: 0px;
    //margin: 40px 0;
    //margin: config.$h2*2 0; // blocks have same top-bottom spacing as h2
}

// blocks within blocks act like headings
div.ds-block div.ds-block {
    //margin: 0;
}
div.ds-block * + div.ds-block {
    //margin-top: 2rem;
}

// .ds-block__wrapper wraps block content
.ds-block__wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

// block width modifiers: usage .ds-block--[medium|wide|full-width]
div.ds-block {

    &--medium {
        .ds-block__wrapper {
            max-width: 1280px;
        }
    }

    &--wide {
        .ds-block__wrapper {
            max-width: 1600px;
        }
    }

    &--full-width {
        padding: 0;
        margin: 0;
        .ds-block__wrapper {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

// block background color modifiers: usage .ds-block--[grey]
div.ds-block {

    &--bg-grey {
        background-color: config.$color-3a;
    }

    &--bg-black {
        background: #242428;
        color: white;

        a {
            text-decoration: underline;
            color: white;
        }

        .btn {
            text-decoration: none;
        }

        .ds-block__header {
            color: white;
        }
    }

    &--bg-red {
        background-color: config.$color-1;

        .ds-block__header {
            color: white;
        }
    }

    &--bg-black-nodes {
        background-color: config.$color-2;
        background-image: url("img/bg-nodes.svg");

        .ds-block__header {
            color: white;
        }
    }

    &--bg-red-nodes {
        background-color: config.$color-1;
        background-image: url("img/bg-nodes.svg");

        .ds-block__header {
            color: white;
        }
    }

    &--bg-grey,
    &--bg-black,
    &--bg-red,
    &--bg-black-nodes,
    &--bg-red-nodes {
        // for blocks with background color
        padding-top: config.$h2*2;  // bg color blocks have same top spacing as h2
        padding-bottom: config.$h2*2;  // bg color blocks have same bottom spacing as h2
        margin: 0;

        @media (min-width: 1000px) {
            padding-left: 4%;
            padding-right: 4%;
            margin: 0;
        }
    }
}

// adjust spacing between adjancent grey blocks
div.ds-block--bg-grey + div.ds-block--bg-grey {
    padding-top: 0;
}

// adjust spacing between adjancent black blocks
div.ds-block--bg-black + div.ds-block--bg-black {
    padding-top: 0;
}

// adjust spacing between adjancent red blocks
div.ds-block--bg-red + div.ds-block--bg-red {
    padding-top: 0;
}

// adjust spacing between adjancent black-nodes blocks
div.ds-block--bg-black-nodes + div.ds-block--bg-black-nodes {
    padding-top: 0;
}

// adjust spacing between adjancent red-nodes blocks
div.ds-block--bg-red-nodes + div.ds-block--bg-red-nodes {
    padding-top: 0;
}

.ds-page-content {
    > { 
        div:not([class*=" ds-block--bg-"]),
        section,
        article {
            // add bottom margin to last child if no bg color
            &:last-child {
                margin-bottom: config.$h2*2;  // blocks have same top-bottom spacing as h2
            }
            //adjust spacing between no color bg div and colour bg divs
            + {
                div[class*=" ds-block--bg-"] {
                    margin-top: config.$h2*2;  // blocks have same top-bottom spacing as h2
                }
            }
        }
    }
}

.ds-block__header {
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;

    &--center-align {
        text-align: center;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--right-align {

        text-align: right;
        > * {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &--hard-left-align {
        max-width: 100%;
    }
}

div[class*=" ds-block--bg-"] {
    .ds-block__wrapper *:first-child,
    .ds-block__header *:first-child {
        margin-top: 0;
    }
}
