// set margins for standard content containers
.ds-page-content > div,
.ds-page-content > section,
.ds-page-content > article {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1104px; // 1024 + 80 (padding)

    @media (min-width: 640px) {
        padding: 0 40px;
    }
}

div.ds-block {
    clear: both; /* inase there is a float above */

    max-width: 100%;

    // for blocks without background color
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 40px 0;
    margin: $h2*2 0; // blocks have same top-bottom spacing as h2
}

// blocks within blocks act like headings
div.ds-block div.ds-block {
    margin: 0;
}
div.ds-block * + div.ds-block {
    margin-top: 2rem;
}

// .ds-block__wrapper wraps block content
.ds-block__wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

// block width modifiers .ds-block--[medium|wide|full-width]
div.ds-block {

    &--medium {
        .ds-block__wrapper {
            max-width: 1280px;
        }
    }

    &--wide {
        .ds-block__wrapper {
            max-width: 1600px;
        }
    }

    &--full-width {
        padding: 0;
        margin: 0;
        .ds-block__wrapper {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

// block background color modifiers .ds-block--grey
div.ds-block {

    &--grey {
        background-color: $color-3a;
    }

    &--black {
        background: #242428;
        color: white;

        a {
            text-decoration: underline;
            color: white;
        }

        .btn {
            text-decoration: none;
        }

        .ds-block__header {
            color: white;
        }
    }

    &--red {
        background-color: $color-1;

        .ds-block__header {
            color: white;
        }
    }

    &--black-nodes {
        background-color: $color-2;
        background-image: url("img/bg-nodes.svg");

        .ds-block__header {
            color: white;
        }
    }

    &--red-nodes {
        background-color: $color-1;
        background-image: url("img/bg-nodes.svg");

        .ds-block__header {
            color: white;
        }
    }

    &--grey,
    &--black,
    &--red,
    &--black-nodes,
    &--red-nodes {
        // for blocks with background color
        padding-top: $h2*1.5;  // bg color blocks have slightly smaller top spacing than h2
        padding-bottom: $h2*2;  // bg color blocks have same bottom spacing of h2
        margin: 0;

        @media (min-width: 1000px) {
            padding-left: 4%;
            padding-right: 4%;
            margin: 0;
        }
    }
}

// adjust spacing between adjancent grey blocks
div.ds-block--grey + div.ds-block--grey {
    padding-top: 0;
}

// adjust spacing between adjancent black blocks
div.ds-block--black + div.ds-block--black {
    padding-top: 0;
}

// adjust spacing between adjancent red blocks
div.ds-block--red + div.ds-block--red {
    padding-top: 0;
}

// adjust spacing between adjancent black-nodes blocks
div.ds-block--black-nodes + div.ds-block--black-nodes {
    padding-top: 0;
}

// adjust spacing between adjancent red-nodes blocks
div.ds-block--red-nodes + div.ds-block--red-nodes {
    padding-top: 0;
}

.ds-page-content {
    > div:not(.ds-block),
    > section:not(.ds-block),
    > article:not(.ds-block) {
        //adjust spacing between text div and footer if last child
        &:last-child {
            margin-bottom: $h2*2;  // blocks have same top-bottom spacing as h2
        }
        //adjust spacing between text div and background colour divs
        + {
            div.ds-block--grey,
            div.ds-block--black,
            div.ds-block--red,
            div.ds-block--black-nodes,
            div.ds-block--red-nodes {
                margin-top: $h2*2;  // blocks have same top-bottom spacing as h2
            }
        }
    }
}

.ds-block__header {
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;

    &--center-align {
        text-align: center;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--right-align {

        text-align: right;
        > * {
            margin-left: auto;
            margin-right: 0;
        }
    }

}
