// depenencies
@use "config";

// set margins for standard content containers - because can't set a default class for squiz matrix CMS content containers
.ds-page-content {
    > { 
        div:not([class*="ds-section--bg-"]), 
        section,
        article {
            padding: 0 20px;
            margin: 0 auto;
            max-width: 1280px + 80px; // 1280 + 80 (padding)

            @media (min-width: 640px) {
                padding: 0 40px;
            }
        }
        div:not([class*="ds-section--bg-"]), 
        section,
        article {
            // add bottom margin to last child of page if no bg color
            &:last-child {
                margin-bottom: 4rem;
            }
        }
    }
}

div.ds-block {
    clear: both; /* inase there is a float above */
    max-width: 100%;
}

// .ds-block__wrapper wraps block content
.ds-block__wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

// block width modifiers: usage .ds-block--[medium|wide|full-width]
div.ds-block {

    &--wide {
        > .ds-block__wrapper {
            max-width: 1600px;
        }
    }

    &--full-width {
        padding: 0;
        margin: 0;
        .ds-block__wrapper {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

.ds-block__header {
    text-align: left;
    max-width: 1280px;
    margin: 0 auto;

    &--center-align {
        text-align: center;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--right-align {

        text-align: right;
        > * {
            margin-left: auto;
            margin-right: 0;
        }
    }

}
