// depenencies
@use "config";

// set margins for standard content containers - because can't set a default class for squiz matrix CMS content containers
.ds-page-content {
    > { 
        div:not(.ds-section):not(.ds-block),
        section:not(.ds-section):not(.ds-block),
        article:not(.ds-section):not(.ds-block),
        .ds-section > div:not(.ds-block),
        form {
            padding: 0 20px;
            margin: 0 auto;

            @media (min-width: 640px) {
                padding: 0 40px;
                max-width: 1280px + 80px; // 1280 + 80 (padding)
            }

        }
        div.ds-block,
        div.ds-section,
        div:not(.ds-section):not(.ds-block),
        section:not(.ds-section):not(.ds-block),
        article:not(.ds-section):not(.ds-block),
        form {
            // add bottom margin to last child of page
            &:last-child {
                margin-bottom: 4rem;
            }
        }

        div:not(.ds-section),
        section,
        article {
            .ds-block {
                padding: 0;
            }
        }
    }
}

div.ds-block {
    clear: both; /* incase there is a float above */
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: 640px) {
        padding: 0 40px;
        max-width: 1280px + 80px; // 1280 + 80 (padding)
    }

    .ds-block {
        padding: 0;
    }
}

// block width modifiers: usage .ds-block--[narrow|wide|full-width]
div.ds-block {

    &--narrow {
        max-width: 1024px;
    }   

    &--wide {
            max-width: 1600px;
    }

    &--full-width {
        padding: 0;
        margin: 0;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}

.ds-block__header {
    text-align: left;
    max-width: 1280px;
    margin: 0 auto;

    &--center-align {
        text-align: center;

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--right-align {

        text-align: right;
        > * {
            margin-left: auto;
            margin-right: 0;
        }
    }

}
