// depenencies
@use "config";

.ds-columns {
    columns: 200px 2;
    column-gap: 32px;

    > * {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
}

.ds-columns--three-col {
    column-count: 3;
}

.ds-columns--four-col {
    column-count: 4;
}

div.ds-list {
    > ul, 
    > ol {
        @extend .ds-columns;

        li {
            display: list-item;
            
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

div.ds-list--three-col { 
    > ul, 
    > ol {
        @extend .ds-columns--three-col;
    }
}

div.ds-list--four-col { 
    > ul, 
    > ol {
        @extend .ds-columns--four-col;
    }
}