// depenencies
@use "config";
@use "core/scss/icons";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    // safety net for offscreen elements to stop them creating horizontal scroll in some browsers
    overflow-x: hidden;
}

button,
html,
input,
select,
textarea {
    color: #242424;
}

a,
a:visited { 
    color: config.$color-1;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:not([class*="ds-btn"]) {
        @extend .ds-icon--red;
    }
}

//add external link icon to external links
.ds-page-content {
    a[href^="http"] {
        &:not([href*="latrobe.edu.au"]):not([class*="ds-btn"]):not([href^='#']):not([href^='/']):not(.ds-card__link):not([class*="ds-icon"]) {
            @extend .ds-icon-external-link;
            @extend .ds-icon--red;
        }
    }
}

:focus,
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 3px solid #75b6fc;
    outline-offset: 1px;
}


/* responsive images */
img {
    max-width: 100%;
    height: auto;
}

.ds-image-right {
    margin: 0 0 1rem 0;
}
@media(min-width: 1024px) {
    .ds-image-right{
        width: 38%;
        height: auto;
        max-width: 480px;
        clear: both;
        float: right;
        margin: 0 0 1rem 2rem;
    }
}

/* 
 * squiz places images in p tags therefore max-width limited by p max-width so need to break this 
 * TODO: update this when nav layout changes
 */
.ds-page-content > div:not(.ds-block),
.ds-page-content > section,
.ds-page-content > article {
    p, h2, h3, h4, h5, h6 { 
        img {
            margin-top: 0 !important;
        }
    }
}

/* make anchor clear sticky header on scroll */
@media (min-width: 1024px) {
    html {
        scroll-padding-top: 160px;
    }
}