// depenencies
@use "config";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

button,
html,
input,
select,
textarea {
    color: #242424;
}

body,
html {
    /*height: 100%;*/
    scroll-behavior: smooth;
}

a,
a:visited {
    color: config.$color-1;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

:focus,
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 3px solid #75b6fc;
    outline-offset: 1px;
}


/* responsive images */
img {
    max-width: 100%;
}

/* make anchor clear sticky header on scroll */
@media (min-width: 1024px) {
    .ds-page-content [id]{
        scroll-margin-top: 180px;
    }
}