// depenencies
@use "config";
@use "core/scss/icons";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    scroll-behavior: smooth;
}

button,
html,
input,
select,
textarea {
    color: #242424;
}

a,
a:visited {
    color: config.$color-1;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

//add external link icon to external links
.ds-page-content {
    a[href^="http"]:not([href*="latrobe.edu.au"]):not([class*="ds-btn"]):not([href^='#']):not([href^='/']) {
        @extend .ds-icon-external-link;
        @extend .ds-icon--red;
    }
}

:focus,
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 3px solid #75b6fc;
    outline-offset: 1px;
}


/* responsive images */
img {
    max-width: 100%;
    height: auto;
}

/* 
 * squiz places images in p tags therefore max-width limited by p max-width so need to break this 
 * TODO: update this when nav layout changes
 */
p img {
    
    @media (min-width: 640px) {
        max-width: calc(100vw - 80px);
    }
    // when nav showing
    @media (min-width: 1024px) {
            max-width: calc(75vw - 80px);
    }
    @media (min-width: 1760px) {
        max-width: 1280px;
    }
}

/* make anchor clear sticky header on scroll */
@media (min-width: 1024px) {
    html {
        scroll-padding-top: 160px;
    }
}