// depenencies
@use "config";

.ds-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 0 - 32px;

    &--example {
        & > * {
            background: lighten(#182538, 75%);
            //height: 100px;
            &:nth-child(odd) {
                background: lighten(#182538, 80%);
            }
        }
    }

    & > * {
        width: calc(100% - 32px);
        margin-right: 32px;
        /*&:first-child {
            margin-top: 1rem;
        }*/
    }

    @media (min-width: 576px) {
        &__col-3 {
            width: calc(6/12 * 100% - 32px);
        }
    }

    @media (min-width: 992px) {
        &__col-12 {
            width: calc(100% - 32px);
        }

        &__col-11 {
            width: calc(11/12 * 100% - 32px);
        }

        &__col-10 {
            width: calc(10/12 * 100% - 32px);
        }

        &__col-9 {
            width: calc(9/12 * 100% - 32px);
        }

        &__col-8 {
            width: calc(8/12 * 100% - 32px);
        }

        &__col-7 {
            width: calc(7/12 * 100% - 32px);
        }

        &__col-6 {
            width: calc(6/12 * 100% - 32px);
        }

        &__col-5 {
            width: calc(5/12 * 100% - 32px);
        }

        &__col-4 {
            width: calc(4/12 * 100% - 32px);
        }

        &__col-3 {
            width: calc(3/12 * 100% - 32px);
        }

        &__col-2 {
            width: calc(2/12 * 100% - 32px);
        }

        &__col-1 {
            width: calc(1/12 * 100% - 32px);
        }
    }
}

.ds-grid--no-gutter {
    margin-right: 0;

    & > * {
        width: 100%;
        margin-right: 0;
    }

    @media (min-width: 576px) {
        .ds-grid {
            &__col-3 {
                width: calc(6/12 * 100%);
            }
        }
    }

    @media (min-width: 992px) {
        .ds-grid {
            &__col-12 {
                width: calc(100%);
            }

            &__col-11 {
                width: calc(11/12 * 100%);
            }

            &__col-10 {
                width: calc(10/12 * 100%);
            }

            &__col-9 {
                width: calc(9/12 * 100%);
            }

            &__col-8 {
                width: calc(8/12 * 100%);
            }

            &__col-7 {
                width: calc(7/12 * 100%);
            }

            &__col-6 {
                width: calc(6/12 * 100%);
            }

            &__col-5 {
                width: calc(5/12 * 100%);
            }

            &__col-4 {
                width: calc(4/12 * 100%);
            }

            &__col-3 {
                width: calc(3/12 * 100%);
            }

            &__col-2 {
                width: calc(2/12 * 100%r);
            }

            &__col-1 {
                width: calc(1/12 * 100%);
            }
        }
    }
}
