// dependencies
@use "config";

/* ds-ltu.css 2.0.0 | MIT License | https://github.com/h5bp/ds-ltu.css#readme */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


.hidden-on-mobile {
  @media(max-width:767px) {
    display: none !important;
  }
}

.hidden-on-tablet {
  @media(max-width:1023px) {
    display: none !important;
  }
}

.hide-on-desktop {
  @media(min-width:1024px) {
    display: none !important;
  }
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}


/*
 *  Reduce top margin to 1rem
 *  Useful for headings that don't need normal heading space
 */
.ds--reduce-margin {
  margin-top: 1rem !important;
}

.ds--zero-margin {
  margin-top: 0!important;
}

/*
 *  When you need full width p, li, headings
 */

 .ds--full-width {
   max-width: 100%;
 }

/*
 *  Make container overflow scroll horizontally
 */
.ds--overflowXScroll {
  @include config.overflowXScroll();
}
// For when you only want scroll on mobiles
.ds--overflowXScroll--mobile {
  @include config.overflowXScroll(767px);
}
// For when you only want scroll on mobiles and tablets
.ds--overflowXScroll--tablet {
  @include config.overflowXScroll(1023px);
}


.ds-flex-layout {
  max-width: 100%; 
  display: flex; 
  flex-wrap: wrap;

  > * {
    margin-right: config.spunits(4);

    &:last-child {
      margin-right: 0;
    }
  }

  // modifiers

  // align items
  &.ds-flex-layout--align-center {
    align-items: center;
  }

  &.ds-flex-layout--align-flex-start {
    align-items: flex-start;
  }
  
  &.ds-flex-layout--align-flex-end {
    align-items: flex-end;
  }
  
  &.ds-flex-layout--align-baseline {
    align-items: baseline;
  }
  
  &.ds-flex-layout--align-stretch {
    align-items: stretch;
  }

  // justify content
  &.ds-flex-layout--justify-center {
    justify-content: center;
  }

  &.ds-flex-layout--justify-end {
    justify-content: flex-end;
  }

  &.ds-flex-layout--justify-space-between {
    justify-content: space-between;
  }

  &.ds-flex-layout--justify-space-around {
    justify-content: space-around;
  }

  &.ds-flex-layout--justify-space-evenly {
    justify-content: space-evenly;
  }

  &.ds-flex-layout--double-gap {
    > * {
      margin-right: config.spunits(8);

      &:last-child {
        margin-right: 0;
      }
    }
  }

}

.ds--text-align {
  
  &-center {
      text-align: center;
      > * {
          margin-left: auto;
          margin-right: auto;
      }
  }

  &-left {

      text-align: left;
      > * {
          margin-left: 0;
          margin-right: auto;
      }
  }

  &-right {

      text-align: right;
      > * {
          margin-left: auto;
          margin-right: 0;
      }
  }

}