//dependencies
@use "config";

%icon {
    //display: inline-block;
    //position: relative;

    &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        margin: 0 config.spunits(1);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: config.$filter-near-black;

        /*position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);*/
    }

}

.ds-icon--red {

    &::after {
        filter: config.$filter-red;
    }
}

.ds-icon--white {

    &::after {
        filter: config.$filter-white;
    }
}

.ds-icon--teal {

    &::after {
        filter: config.$filter-teal;
    }
}

.ds-icon--grey {
    &::after {
        filter: config.$filter-grey;
    }
}

.ds-icon--before {
    padding-right: inherit;
    padding-left: 1.75em; /* 28px for 1rem - using em here to suit font size change */

    &::after {
        left: 0;
        right: auto;
    }
}

[class*="ds-icon"] {
    &:empty {
        padding-right: 1em;
    }

    &.ds-icon--before:empty {
        padding-right: inherit;
        padding-left: 1em;
    }
}

/* icons */

.ds-icon-activity {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/activity.svg");
    }
}

.ds-icon-airplay {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/airplay.svg");
    }
}

.ds-icon-alert-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/alert-circle.svg");
    }
}

.ds-icon-alert-octagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/alert-octagon.svg");
    }
}

.ds-icon-alert-triangle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/alert-triangle.svg");
    }
}

.ds-icon-align-center {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-center.svg");
    }
}

.ds-icon-align-justify {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-justify.svg");
    }
}

.ds-icon-align-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-left.svg");
    }
}

.ds-icon-align-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-right.svg");
    }
}

.ds-icon-anchor {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/anchor.svg");
    }
}

.ds-icon-aperture {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/aperture.svg");
    }
}

.ds-icon-archive {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/archive.svg");
    }
}

.ds-icon-arrow-down-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down-circle.svg");
    }
}

.ds-icon-arrow-down-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down-left.svg");
    }
}

.ds-icon-arrow-down-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down-right.svg");
    }
}

.ds-icon-arrow-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down.svg");
    }
}

.ds-icon-arrow-left-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-left-circle.svg");
    }
}

.ds-icon-arrow-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-left.svg");
    }
}

.ds-icon-arrow-right-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-right-circle.svg");
    }
}

.ds-icon-arrow-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-right.svg");
    }
}

.ds-icon-arrow-up-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up-circle.svg");
    }
}

.ds-icon-arrow-up-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up-left.svg");
    }
}

.ds-icon-arrow-up-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up-right.svg");
    }
}

.ds-icon-arrow-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up.svg");
    }
}

.ds-icon-at-sign {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/at-sign.svg");
    }
}

.ds-icon-award {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/award.svg");
    }
}

.ds-icon-bar-chart-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bar-chart-2.svg");
    }
}

.ds-icon-bar-chart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bar-chart.svg");
    }
}

.ds-icon-battery-charging {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/battery-charging.svg");
    }
}

.ds-icon-battery {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/battery.svg");
    }
}

.ds-icon-bell-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bell-off.svg");
    }
}

.ds-icon-bell {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bell.svg");
    }
}

.ds-icon-bluetooth {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bluetooth.svg");
    }
}

.ds-icon-bold {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bold.svg");
    }
}

.ds-icon-book-open {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/book-open.svg");
    }
}

.ds-icon-book {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/book.svg");
    }
}

.ds-icon-bookmark {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bookmark.svg");
    }
}

.ds-icon-box {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/box.svg");
    }
}

.ds-icon-briefcase {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/briefcase.svg");
    }
}

.ds-icon-calendar {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/calendar.svg");
    }
}

.ds-icon-camera-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/camera-off.svg");
    }
}

.ds-icon-camera {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/camera.svg");
    }
}

.ds-icon-cast {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cast.svg");
    }
}

.ds-icon-check-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/check-circle.svg");
    }
}

.ds-icon-check-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/check-square.svg");
    }
}

.ds-icon-check {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/check.svg");
    }
}

.ds-icon-chevron-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-down.svg");
    }
}

.ds-icon-chevron-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-left.svg");
    }
}

.ds-icon-chevron-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-right.svg");
    }
}

.ds-icon-chevron-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-up.svg");
    }
}

.ds-icon-chevrons-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-down.svg");
    }
}

.ds-icon-chevrons-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-left.svg");
    }
}

.ds-icon-chevrons-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-right.svg");
    }
}

.ds-icon-chevrons-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-up.svg");
    }
}

.ds-icon-chrome {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chrome.svg");
    }
}

.ds-icon-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/circle.svg");
    }
}

.ds-icon-clipboard {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/clipboard.svg");
    }
}

.ds-icon-clock {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/clock.svg");
    }
}

.ds-icon-cloud-drizzle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-drizzle.svg");
    }
}

.ds-icon-cloud-lightning {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-lightning.svg");
    }
}

.ds-icon-cloud-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-off.svg");
    }
}

.ds-icon-cloud-rain {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-rain.svg");
    }
}

.ds-icon-cloud-snow {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-snow.svg");
    }
}

.ds-icon-cloud {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud.svg");
    }
}

.ds-icon-code {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/code.svg");
    }
}

.ds-icon-codepen {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/codepen.svg");
    }
}

.ds-icon-codesandbox {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/codesandbox.svg");
    }
}

.ds-icon-coffee {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/coffee.svg");
    }
}

.ds-icon-columns {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/columns.svg");
    }
}

.ds-icon-command {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/command.svg");
    }
}

.ds-icon-compass {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/compass.svg");
    }
}

.ds-icon-copy {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/copy.svg");
    }
}

.ds-icon-corner-down-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-down-left.svg");
    }
}

.ds-icon-corner-down-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-down-right.svg");
    }
}

.ds-icon-corner-left-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-left-down.svg");
    }
}

.ds-icon-corner-left-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-left-up.svg");
    }
}

.ds-icon-corner-right-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-right-down.svg");
    }
}

.ds-icon-corner-right-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-right-up.svg");
    }
}

.ds-icon-corner-up-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-up-left.svg");
    }
}

.ds-icon-corner-up-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-up-right.svg");
    }
}

.ds-icon-cpu {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cpu.svg");
    }
}

.ds-icon-credit-card {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/credit-card.svg");
    }
}

.ds-icon-crop {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/crop.svg");
    }
}

.ds-icon-crosshair {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/crosshair.svg");
    }
}

.ds-icon-database {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/database.svg");
    }
}

.ds-icon-delete {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/delete.svg");
    }
}

.ds-icon-disc {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/disc.svg");
    }
}

.ds-icon-dollar-sign {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/dollar-sign.svg");
    }
}

.ds-icon-download-cloud {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/download-cloud.svg");
    }
}

.ds-icon-download {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/download.svg");
    }
}

.ds-icon-droplet {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/droplet.svg");
    }
}

.ds-icon-edit-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/edit-2.svg");
    }
}

.ds-icon-edit-3 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/edit-3.svg");
    }
}

.ds-icon-edit {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/edit.svg");
    }
}

.ds-icon-external-link {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/external-link.svg");
    }
}

.ds-icon-eye-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/eye-off.svg");
    }
}

.ds-icon-eye {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/eye.svg");
    }
}

.ds-icon-facebook {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/facebook.svg");
    }
}

.ds-icon-fast-forward {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/fast-forward.svg");
    }
}

.ds-icon-feather {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/feather.svg");
    }
}

.ds-icon-figma {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/figma.svg");
    }
}

.ds-icon-file-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file-minus.svg");
    }
}

.ds-icon-file-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file-plus.svg");
    }
}

.ds-icon-file-text {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file-text.svg");
    }
}

.ds-icon-file {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file.svg");
    }
}

.ds-icon-film {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/film.svg");
    }
}

.ds-icon-filter {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/filter.svg");
    }
}

.ds-icon-flag {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/flag.svg");
    }
}

.ds-icon-folder-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/folder-minus.svg");
    }
}

.ds-icon-folder-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/folder-plus.svg");
    }
}

.ds-icon-folder {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/folder.svg");
    }
}

.ds-icon-frown {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/frown.svg");
    }
}

.ds-icon-gift {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/gift.svg");
    }
}

.ds-icon-git-branch {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-branch.svg");
    }
}

.ds-icon-git-commit {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-commit.svg");
    }
}

.ds-icon-git-merge {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-merge.svg");
    }
}

.ds-icon-git-pull-request {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-pull-request.svg");
    }
}

.ds-icon-github {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/github.svg");
    }
}

.ds-icon-gitlab {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/gitlab.svg");
    }
}

.ds-icon-globe {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/globe.svg");
    }
}

.ds-icon-grid {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/grid.svg");
    }
}

.ds-icon-hard-drive {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/hard-drive.svg");
    }
}

.ds-icon-hash {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/hash.svg");
    }
}

.ds-icon-headphones {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/headphones.svg");
    }
}

.ds-icon-heart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/heart.svg");
    }
}

.ds-icon-help-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/help-circle.svg");
    }
}

.ds-icon-hexagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/hexagon.svg");
    }
}

.ds-icon-home {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/home.svg");
    }
}

.ds-icon-image {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/image.svg");
    }
}

.ds-icon-inbox {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/inbox.svg");
    }
}

.ds-icon-info {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/info.svg");
    }
}

.ds-icon-instagram {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/instagram.svg");
    }
}

.ds-icon-italic {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/italic.svg");
    }
}

.ds-icon-key {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/key.svg");
    }
}

.ds-icon-layers {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/layers.svg");
    }
}

.ds-icon-layout {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/layout.svg");
    }
}

.ds-icon-life-buoy {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/life-buoy.svg");
    }
}

.ds-icon-link-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/link-2.svg");
    }
}

.ds-icon-link {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/link.svg");
    }
}

.ds-icon-linkedin {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/linkedin.svg");
    }
}

.ds-icon-list {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/list.svg");
    }
}

.ds-icon-loader {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/loader.svg");
    }
}

.ds-icon-lock {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/lock.svg");
    }
}

.ds-icon-log-in {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/log-in.svg");
    }
}

.ds-icon-log-out {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/log-out.svg");
    }
}

.ds-icon-mail {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mail.svg");
    }
}

.ds-icon-map-pin {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/map-pin.svg");
    }
}

.ds-icon-map {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/map.svg");
    }
}

.ds-icon-maximize-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/maximize-2.svg");
    }
}

.ds-icon-maximize {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/maximize.svg");
    }
}

.ds-icon-meh {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/meh.svg");
    }
}

.ds-icon-menu {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/menu.svg");
    }
}

.ds-icon-message-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/message-circle.svg");
    }
}

.ds-icon-message-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/message-square.svg");
    }
}

.ds-icon-mic-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mic-off.svg");
    }
}

.ds-icon-mic {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mic.svg");
    }
}

.ds-icon-minimize-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minimize-2.svg");
    }
}

.ds-icon-minimize {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minimize.svg");
    }
}

.ds-icon-minus-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minus-circle.svg");
    }
}

.ds-icon-minus-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minus-square.svg");
    }
}

.ds-icon-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minus.svg");
    }
}

.ds-icon-monitor {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/monitor.svg");
    }
}

.ds-icon-moon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/moon.svg");
    }
}

.ds-icon-more-horizontal {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/more-horizontal.svg");
    }
}

.ds-icon-more-vertical {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/more-vertical.svg");
    }
}

.ds-icon-mouse-pointer {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mouse-pointer.svg");
    }
}

.ds-icon-move {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/move.svg");
    }
}

.ds-icon-music {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/music.svg");
    }
}

.ds-icon-navigation-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/navigation-2.svg");
    }
}

.ds-icon-navigation {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/navigation.svg");
    }
}

.ds-icon-octagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/octagon.svg");
    }
}

.ds-icon-package {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/package.svg");
    }
}

.ds-icon-paperclip {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/paperclip.svg");
    }
}

.ds-icon-pause-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pause-circle.svg");
    }
}

.ds-icon-pause {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pause.svg");
    }
}

.ds-icon-pen-tool {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pen-tool.svg");
    }
}

.ds-icon-percent {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/percent.svg");
    }
}

.ds-icon-phone-call {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-call.svg");
    }
}

.ds-icon-phone-forwarded {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-forwarded.svg");
    }
}

.ds-icon-phone-incoming {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-incoming.svg");
    }
}

.ds-icon-phone-missed {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-missed.svg");
    }
}

.ds-icon-phone-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-off.svg");
    }
}

.ds-icon-phone-outgoing {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-outgoing.svg");
    }
}

.ds-icon-phone {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone.svg");
    }
}

.ds-icon-pie-chart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pie-chart.svg");
    }
}

.ds-icon-play-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/play-circle.svg");
    }
}

.ds-icon-play {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/play.svg");
    }
}

.ds-icon-plus-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/plus-circle.svg");
    }
}

.ds-icon-plus-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/plus-square.svg");
    }
}

.ds-icon-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/plus.svg");
    }
}

.ds-icon-pocket {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pocket.svg");
    }
}

.ds-icon-power {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/power.svg");
    }
}

.ds-icon-printer {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/printer.svg");
    }
}

.ds-icon-radio {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/radio.svg");
    }
}

.ds-icon-refresh-ccw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/refresh-ccw.svg");
    }
}

.ds-icon-refresh-cw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/refresh-cw.svg");
    }
}

.ds-icon-repeat {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/repeat.svg");
    }
}

.ds-icon-rewind {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rewind.svg");
    }
}

.ds-icon-rotate-ccw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rotate-ccw.svg");
    }
}

.ds-icon-rotate-cw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rotate-cw.svg");
    }
}

.ds-icon-rss {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rss.svg");
    }
}

.ds-icon-save {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/save.svg");
    }
}

.ds-icon-scissors {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/scissors.svg");
    }
}

.ds-icon-search {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/search.svg");
    }
}

.ds-icon-send {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/send.svg");
    }
}

.ds-icon-server {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/server.svg");
    }
}

.ds-icon-settings {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/settings.svg");
    }
}

.ds-icon-share-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/share-2.svg");
    }
}

.ds-icon-share {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/share.svg");
    }
}

.ds-icon-shield-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shield-off.svg");
    }
}

.ds-icon-shield {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shield.svg");
    }
}

.ds-icon-shopping-bag {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shopping-bag.svg");
    }
}

.ds-icon-shopping-cart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shopping-cart.svg");
    }
}

.ds-icon-shuffle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shuffle.svg");
    }
}

.ds-icon-sidebar {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sidebar.svg");
    }
}

.ds-icon-skip-back {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/skip-back.svg");
    }
}

.ds-icon-skip-forward {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/skip-forward.svg");
    }
}

.ds-icon-slack {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/slack.svg");
    }
}

.ds-icon-slash {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/slash.svg");
    }
}

.ds-icon-sliders {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sliders.svg");
    }
}

.ds-icon-smartphone {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/smartphone.svg");
    }
}

.ds-icon-smile {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/smile.svg");
    }
}

.ds-icon-speaker {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/speaker.svg");
    }
}

.ds-icon-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/square.svg");
    }
}

.ds-icon-star {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/star.svg");
    }
}

.ds-icon-stop-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/stop-circle.svg");
    }
}

.ds-icon-sun {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sun.svg");
    }
}

.ds-icon-sunrise {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sunrise.svg");
    }
}

.ds-icon-sunset {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sunset.svg");
    }
}

.ds-icon-tablet {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/tablet.svg");
    }
}

.ds-icon-tag {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/tag.svg");
    }
}

.ds-icon-target {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/target.svg");
    }
}

.ds-icon-terminal {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/terminal.svg");
    }
}

.ds-icon-thermometer {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/thermometer.svg");
    }
}

.ds-icon-thumbs-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/thumbs-down.svg");
    }
}

.ds-icon-thumbs-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/thumbs-up.svg");
    }
}

.ds-icon-toggle-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/toggle-left.svg");
    }
}

.ds-icon-toggle-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/toggle-right.svg");
    }
}

.ds-icon-trash-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trash-2.svg");
    }
}

.ds-icon-trash {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trash.svg");
    }
}

.ds-icon-trello {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trello.svg");
    }
}

.ds-icon-trending-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trending-down.svg");
    }
}

.ds-icon-trending-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trending-up.svg");
    }
}

.ds-icon-triangle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/triangle.svg");
    }
}

.ds-icon-truck {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/truck.svg");
    }
}

.ds-icon-tv {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/tv.svg");
    }
}

.ds-icon-twitter {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/twitter.svg");
    }
}

.ds-icon-type {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/type.svg");
    }
}

.ds-icon-umbrella {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/umbrella.svg");
    }
}

.ds-icon-underline {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/underline.svg");
    }
}

.ds-icon-unlock {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/unlock.svg");
    }
}

.ds-icon-upload-cloud {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/upload-cloud.svg");
    }
}

.ds-icon-upload {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/upload.svg");
    }
}

.ds-icon-user-check {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-check.svg");
    }
}

.ds-icon-user-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-minus.svg");
    }
}

.ds-icon-user-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-plus.svg");
    }
}

.ds-icon-user-x {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-x.svg");
    }
}

.ds-icon-user {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user.svg");
    }
}

.ds-icon-users {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/users.svg");
    }
}

.ds-icon-video-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/video-off.svg");
    }
}

.ds-icon-video {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/video.svg");
    }
}

.ds-icon-voicemail {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/voicemail.svg");
    }
}

.ds-icon-volume-1 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume-1.svg");
    }
}

.ds-icon-volume-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume-2.svg");
    }
}

.ds-icon-volume-x {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume-x.svg");
    }
}

.ds-icon-volume {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume.svg");
    }
}

.ds-icon-watch {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/watch.svg");
    }
}

.ds-icon-wifi-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/wifi-off.svg");
    }
}

.ds-icon-wifi {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/wifi.svg");
    }
}

.ds-icon-wind {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/wind.svg");
    }
}

.ds-icon-x-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x-circle.svg");
    }
}

.ds-icon-x-octagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x-octagon.svg");
    }
}

.ds-icon-x-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x-square.svg");
    }
}

.ds-icon-x {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x.svg");
    }
}

.ds-icon-youtube {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/youtube.svg");
    }
}

.ds-icon-zap-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zap-off.svg");
    }
}

.ds-icon-zap {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zap.svg");
    }
}

.ds-icon-zoom-in {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zoom-in.svg");
    }
}

.ds-icon-zoom-out {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zoom-out.svg");
    }
}
