%icon {
    position: relative;
    padding-right: 32px;

    &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0 4px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: $near-black;
    }
}

.icon-red {

    &::after {
        filter: $red;
    }
}

.icon-white {

    &::after {
        filter: $white;
    }
}

.icon-before {
    padding-right: inherit;
    padding-left: 32px;

    &::after {
        left: 0;
        right: unset;
    }
}

.icon-activity {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/activity.svg");
    }
}

.icon-airplay {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/airplay.svg");
    }
}

.icon-alert-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/alert-circle.svg");
    }
}

.icon-alert-octagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/alert-octagon.svg");
    }
}

.icon-alert-triangle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/alert-triangle.svg");
    }
}

.icon-align-center {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-center.svg");
    }
}

.icon-align-justify {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-justify.svg");
    }
}

.icon-align-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-left.svg");
    }
}

.icon-align-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/align-right.svg");
    }
}

.icon-anchor {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/anchor.svg");
    }
}

.icon-aperture {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/aperture.svg");
    }
}

.icon-archive {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/archive.svg");
    }
}

.icon-arrow-down-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down-circle.svg");
    }
}

.icon-arrow-down-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down-left.svg");
    }
}

.icon-arrow-down-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down-right.svg");
    }
}

.icon-arrow-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-down.svg");
    }
}

.icon-arrow-left-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-left-circle.svg");
    }
}

.icon-arrow-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-left.svg");
    }
}

.icon-arrow-right-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-right-circle.svg");
    }
}

.icon-arrow-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-right.svg");
    }
}

.icon-arrow-up-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up-circle.svg");
    }
}

.icon-arrow-up-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up-left.svg");
    }
}

.icon-arrow-up-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up-right.svg");
    }
}

.icon-arrow-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/arrow-up.svg");
    }
}

.icon-at-sign {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/at-sign.svg");
    }
}

.icon-award {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/award.svg");
    }
}

.icon-bar-chart-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bar-chart-2.svg");
    }
}

.icon-bar-chart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bar-chart.svg");
    }
}

.icon-battery-charging {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/battery-charging.svg");
    }
}

.icon-battery {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/battery.svg");
    }
}

.icon-bell-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bell-off.svg");
    }
}

.icon-bell {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bell.svg");
    }
}

.icon-bluetooth {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bluetooth.svg");
    }
}

.icon-bold {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bold.svg");
    }
}

.icon-book-open {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/book-open.svg");
    }
}

.icon-book {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/book.svg");
    }
}

.icon-bookmark {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/bookmark.svg");
    }
}

.icon-box {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/box.svg");
    }
}

.icon-briefcase {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/briefcase.svg");
    }
}

.icon-calendar {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/calendar.svg");
    }
}

.icon-camera-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/camera-off.svg");
    }
}

.icon-camera {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/camera.svg");
    }
}

.icon-cast {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cast.svg");
    }
}

.icon-check-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/check-circle.svg");
    }
}

.icon-check-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/check-square.svg");
    }
}

.icon-check {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/check.svg");
    }
}

.icon-chevron-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-down.svg");
    }
}

.icon-chevron-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-left.svg");
    }
}

.icon-chevron-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-right.svg");
    }
}

.icon-chevron-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevron-up.svg");
    }
}

.icon-chevrons-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-down.svg");
    }
}

.icon-chevrons-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-left.svg");
    }
}

.icon-chevrons-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-right.svg");
    }
}

.icon-chevrons-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chevrons-up.svg");
    }
}

.icon-chrome {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/chrome.svg");
    }
}

.icon-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/circle.svg");
    }
}

.icon-clipboard {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/clipboard.svg");
    }
}

.icon-clock {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/clock.svg");
    }
}

.icon-cloud-drizzle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-drizzle.svg");
    }
}

.icon-cloud-lightning {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-lightning.svg");
    }
}

.icon-cloud-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-off.svg");
    }
}

.icon-cloud-rain {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-rain.svg");
    }
}

.icon-cloud-snow {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud-snow.svg");
    }
}

.icon-cloud {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cloud.svg");
    }
}

.icon-code {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/code.svg");
    }
}

.icon-codepen {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/codepen.svg");
    }
}

.icon-codesandbox {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/codesandbox.svg");
    }
}

.icon-coffee {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/coffee.svg");
    }
}

.icon-columns {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/columns.svg");
    }
}

.icon-command {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/command.svg");
    }
}

.icon-compass {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/compass.svg");
    }
}

.icon-copy {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/copy.svg");
    }
}

.icon-corner-down-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-down-left.svg");
    }
}

.icon-corner-down-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-down-right.svg");
    }
}

.icon-corner-left-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-left-down.svg");
    }
}

.icon-corner-left-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-left-up.svg");
    }
}

.icon-corner-right-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-right-down.svg");
    }
}

.icon-corner-right-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-right-up.svg");
    }
}

.icon-corner-up-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-up-left.svg");
    }
}

.icon-corner-up-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/corner-up-right.svg");
    }
}

.icon-cpu {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/cpu.svg");
    }
}

.icon-credit-card {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/credit-card.svg");
    }
}

.icon-crop {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/crop.svg");
    }
}

.icon-crosshair {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/crosshair.svg");
    }
}

.icon-database {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/database.svg");
    }
}

.icon-delete {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/delete.svg");
    }
}

.icon-disc {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/disc.svg");
    }
}

.icon-dollar-sign {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/dollar-sign.svg");
    }
}

.icon-download-cloud {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/download-cloud.svg");
    }
}

.icon-download {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/download.svg");
    }
}

.icon-droplet {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/droplet.svg");
    }
}

.icon-edit-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/edit-2.svg");
    }
}

.icon-edit-3 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/edit-3.svg");
    }
}

.icon-edit {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/edit.svg");
    }
}

.icon-external-link {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/external-link.svg");
    }
}

.icon-eye-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/eye-off.svg");
    }
}

.icon-eye {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/eye.svg");
    }
}

.icon-facebook {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/facebook.svg");
    }
}

.icon-fast-forward {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/fast-forward.svg");
    }
}

.icon-feather {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/feather.svg");
    }
}

.icon-figma {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/figma.svg");
    }
}

.icon-file-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file-minus.svg");
    }
}

.icon-file-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file-plus.svg");
    }
}

.icon-file-text {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file-text.svg");
    }
}

.icon-file {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/file.svg");
    }
}

.icon-film {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/film.svg");
    }
}

.icon-filter {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/filter.svg");
    }
}

.icon-flag {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/flag.svg");
    }
}

.icon-folder-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/folder-minus.svg");
    }
}

.icon-folder-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/folder-plus.svg");
    }
}

.icon-folder {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/folder.svg");
    }
}

.icon-frown {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/frown.svg");
    }
}

.icon-gift {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/gift.svg");
    }
}

.icon-git-branch {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-branch.svg");
    }
}

.icon-git-commit {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-commit.svg");
    }
}

.icon-git-merge {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-merge.svg");
    }
}

.icon-git-pull-request {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/git-pull-request.svg");
    }
}

.icon-github {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/github.svg");
    }
}

.icon-gitlab {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/gitlab.svg");
    }
}

.icon-globe {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/globe.svg");
    }
}

.icon-grid {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/grid.svg");
    }
}

.icon-hard-drive {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/hard-drive.svg");
    }
}

.icon-hash {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/hash.svg");
    }
}

.icon-headphones {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/headphones.svg");
    }
}

.icon-heart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/heart.svg");
    }
}

.icon-help-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/help-circle.svg");
    }
}

.icon-hexagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/hexagon.svg");
    }
}

.icon-home {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/home.svg");
    }
}

.icon-image {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/image.svg");
    }
}

.icon-inbox {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/inbox.svg");
    }
}

.icon-info {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/info.svg");
    }
}

.icon-instagram {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/instagram.svg");
    }
}

.icon-italic {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/italic.svg");
    }
}

.icon-key {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/key.svg");
    }
}

.icon-layers {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/layers.svg");
    }
}

.icon-layout {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/layout.svg");
    }
}

.icon-life-buoy {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/life-buoy.svg");
    }
}

.icon-link-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/link-2.svg");
    }
}

.icon-link {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/link.svg");
    }
}

.icon-linkedin {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/linkedin.svg");
    }
}

.icon-list {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/list.svg");
    }
}

.icon-loader {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/loader.svg");
    }
}

.icon-lock {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/lock.svg");
    }
}

.icon-log-in {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/log-in.svg");
    }
}

.icon-log-out {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/log-out.svg");
    }
}

.icon-mail {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mail.svg");
    }
}

.icon-map-pin {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/map-pin.svg");
    }
}

.icon-map {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/map.svg");
    }
}

.icon-maximize-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/maximize-2.svg");
    }
}

.icon-maximize {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/maximize.svg");
    }
}

.icon-meh {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/meh.svg");
    }
}

.icon-menu {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/menu.svg");
    }
}

.icon-message-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/message-circle.svg");
    }
}

.icon-message-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/message-square.svg");
    }
}

.icon-mic-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mic-off.svg");
    }
}

.icon-mic {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mic.svg");
    }
}

.icon-minimize-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minimize-2.svg");
    }
}

.icon-minimize {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minimize.svg");
    }
}

.icon-minus-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minus-circle.svg");
    }
}

.icon-minus-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minus-square.svg");
    }
}

.icon-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/minus.svg");
    }
}

.icon-monitor {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/monitor.svg");
    }
}

.icon-moon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/moon.svg");
    }
}

.icon-more-horizontal {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/more-horizontal.svg");
    }
}

.icon-more-vertical {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/more-vertical.svg");
    }
}

.icon-mouse-pointer {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/mouse-pointer.svg");
    }
}

.icon-move {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/move.svg");
    }
}

.icon-music {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/music.svg");
    }
}

.icon-navigation-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/navigation-2.svg");
    }
}

.icon-navigation {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/navigation.svg");
    }
}

.icon-octagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/octagon.svg");
    }
}

.icon-package {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/package.svg");
    }
}

.icon-paperclip {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/paperclip.svg");
    }
}

.icon-pause-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pause-circle.svg");
    }
}

.icon-pause {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pause.svg");
    }
}

.icon-pen-tool {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pen-tool.svg");
    }
}

.icon-percent {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/percent.svg");
    }
}

.icon-phone-call {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-call.svg");
    }
}

.icon-phone-forwarded {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-forwarded.svg");
    }
}

.icon-phone-incoming {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-incoming.svg");
    }
}

.icon-phone-missed {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-missed.svg");
    }
}

.icon-phone-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-off.svg");
    }
}

.icon-phone-outgoing {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone-outgoing.svg");
    }
}

.icon-phone {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/phone.svg");
    }
}

.icon-pie-chart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pie-chart.svg");
    }
}

.icon-play-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/play-circle.svg");
    }
}

.icon-play {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/play.svg");
    }
}

.icon-plus-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/plus-circle.svg");
    }
}

.icon-plus-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/plus-square.svg");
    }
}

.icon-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/plus.svg");
    }
}

.icon-pocket {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/pocket.svg");
    }
}

.icon-power {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/power.svg");
    }
}

.icon-printer {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/printer.svg");
    }
}

.icon-radio {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/radio.svg");
    }
}

.icon-refresh-ccw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/refresh-ccw.svg");
    }
}

.icon-refresh-cw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/refresh-cw.svg");
    }
}

.icon-repeat {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/repeat.svg");
    }
}

.icon-rewind {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rewind.svg");
    }
}

.icon-rotate-ccw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rotate-ccw.svg");
    }
}

.icon-rotate-cw {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rotate-cw.svg");
    }
}

.icon-rss {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/rss.svg");
    }
}

.icon-save {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/save.svg");
    }
}

.icon-scissors {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/scissors.svg");
    }
}

.icon-search {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/search.svg");
    }
}

.icon-send {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/send.svg");
    }
}

.icon-server {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/server.svg");
    }
}

.icon-settings {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/settings.svg");
    }
}

.icon-share-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/share-2.svg");
    }
}

.icon-share {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/share.svg");
    }
}

.icon-shield-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shield-off.svg");
    }
}

.icon-shield {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shield.svg");
    }
}

.icon-shopping-bag {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shopping-bag.svg");
    }
}

.icon-shopping-cart {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shopping-cart.svg");
    }
}

.icon-shuffle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/shuffle.svg");
    }
}

.icon-sidebar {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sidebar.svg");
    }
}

.icon-skip-back {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/skip-back.svg");
    }
}

.icon-skip-forward {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/skip-forward.svg");
    }
}

.icon-slack {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/slack.svg");
    }
}

.icon-slash {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/slash.svg");
    }
}

.icon-sliders {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sliders.svg");
    }
}

.icon-smartphone {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/smartphone.svg");
    }
}

.icon-smile {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/smile.svg");
    }
}

.icon-speaker {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/speaker.svg");
    }
}

.icon-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/square.svg");
    }
}

.icon-star {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/star.svg");
    }
}

.icon-stop-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/stop-circle.svg");
    }
}

.icon-sun {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sun.svg");
    }
}

.icon-sunrise {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sunrise.svg");
    }
}

.icon-sunset {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/sunset.svg");
    }
}

.icon-tablet {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/tablet.svg");
    }
}

.icon-tag {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/tag.svg");
    }
}

.icon-target {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/target.svg");
    }
}

.icon-terminal {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/terminal.svg");
    }
}

.icon-thermometer {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/thermometer.svg");
    }
}

.icon-thumbs-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/thumbs-down.svg");
    }
}

.icon-thumbs-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/thumbs-up.svg");
    }
}

.icon-toggle-left {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/toggle-left.svg");
    }
}

.icon-toggle-right {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/toggle-right.svg");
    }
}

.icon-trash-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trash-2.svg");
    }
}

.icon-trash {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trash.svg");
    }
}

.icon-trello {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trello.svg");
    }
}

.icon-trending-down {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trending-down.svg");
    }
}

.icon-trending-up {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/trending-up.svg");
    }
}

.icon-triangle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/triangle.svg");
    }
}

.icon-truck {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/truck.svg");
    }
}

.icon-tv {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/tv.svg");
    }
}

.icon-twitter {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/twitter.svg");
    }
}

.icon-type {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/type.svg");
    }
}

.icon-umbrella {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/umbrella.svg");
    }
}

.icon-underline {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/underline.svg");
    }
}

.icon-unlock {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/unlock.svg");
    }
}

.icon-upload-cloud {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/upload-cloud.svg");
    }
}

.icon-upload {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/upload.svg");
    }
}

.icon-user-check {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-check.svg");
    }
}

.icon-user-minus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-minus.svg");
    }
}

.icon-user-plus {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-plus.svg");
    }
}

.icon-user-x {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user-x.svg");
    }
}

.icon-user {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/user.svg");
    }
}

.icon-users {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/users.svg");
    }
}

.icon-video-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/video-off.svg");
    }
}

.icon-video {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/video.svg");
    }
}

.icon-voicemail {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/voicemail.svg");
    }
}

.icon-volume-1 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume-1.svg");
    }
}

.icon-volume-2 {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume-2.svg");
    }
}

.icon-volume-x {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume-x.svg");
    }
}

.icon-volume {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/volume.svg");
    }
}

.icon-watch {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/watch.svg");
    }
}

.icon-wifi-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/wifi-off.svg");
    }
}

.icon-wifi {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/wifi.svg");
    }
}

.icon-wind {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/wind.svg");
    }
}

.icon-x-circle {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x-circle.svg");
    }
}

.icon-x-octagon {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x-octagon.svg");
    }
}

.icon-x-square {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x-square.svg");
    }
}

.icon-x {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/x.svg");
    }
}

.icon-youtube {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/youtube.svg");
    }
}

.icon-zap-off {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zap-off.svg");
    }
}

.icon-zap {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zap.svg");
    }
}

.icon-zoom-in {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zoom-in.svg");
    }
}

.icon-zoom-out {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/zoom-out.svg");
    }
}
