// depenencies
@use "config";

// ds-section for wrapping blocks in a background
div.ds-section {
    padding: 0;
    max-width: 100%;

    //section is first child of article
    &:first-child {
        margin-top: 0;
    }

    
    &--bordered {
        border-top: 1px solid config.$color-3a;

        &:last-child {
            border-bottom: none;
        }
    }
    
    // modifiers background color
    &--bg-grey {
        background-color: config.$color-3a;
    }

    &--bg-black {
        background: config.$color-2;
    }

    &--bg-red {
        background-color: config.$color-1;

    }

}

div[class*="ds-section--bg-"],
div.ds-section--bordered {
    margin: 2 * config.$h2 0 0 0;
    padding-top: 2 * config.$h2;
    padding-bottom: 2 * config.$h2;

    &:last-child {
        margin-bottom: 0;
    }

    > :first-child {
        margin-top: 0;
    }

    // if first child is a div, section or article make its first child have margin-top 0
    > div, section, article {

        &:first-child {
            > :first-child {
                margin-top: 0;
            }
        }

    }

    > :last-child {
        margin-bottom: 0;
    }

    // in case squiz wysywyg div is last child
    > div:not([class*="ds-block"]), section, article {
        &:last-child {
            > :last-child {
                margin-bottom: 0;
            }
        }
    }

    //if ds-block is first child
    .ds-block:first-child {
        .ds-block__wrapper {
            > :first-child {
                margin-top: 0;
            }
            // in case squiz wysywyg div is first child
            > div:not([class*="ds-block"]), section, article {
                &:first-child {
                    > :first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    
    //if ds-block is last child
    .ds-block:last-child {
        .ds-block__wrapper {
            > :last-child {
                margin-bottom: 0;
            }
            // in case squiz wysywyg div is last child
            > div:not([class*="ds-block"]), section, article {
                &:last-child {
                    > :last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // adjust top margin bg section following bg section
    + div[class*="ds-section--bg-"] {
        margin-top: 0;
    }
}

// adjust spacing between adjancent background
div[class*="ds-section--bg-"] + div[class*="ds-section--bg-"] {
    //padding-top: 0;
    margin-top: -2 * config.$h2;
}

// adjust spacing between adjancent background
div.ds-section--bordered + div.ds-section--bordered {
    margin-top: 0;
}

// add border to top of section no --bg or --bordered modifier following section that has --bordered
div.ds-section--bordered + div.ds-section:not([class*="ds-section--b"]) {
    border-top: 2px dashed config.$color-3a;
}

// remove top border if --bordered follows --bg-
div[class*="ds-section--bg-"] + div.ds-section--bordered {
    margin-top: 0;
    border-top: none;
}

div.ds-section--bg-black,
div.ds-section--bg-red,
div.ds-section--bg-black-nodes,
div.ds-section--bg-red-nodes {
    * {
        color: #fff !important;
        a, a:visited {
            color: #fff;
        }
    }
}
