/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// html {
//     @include font-roboto-light;
//     height: 100%;
//     line-height: 24px;
//     -webkit-text-size-adjust: 100%;
//     -ms-text-size-adjust: 100%;
// }
// @media (min-width:1400px) {
//     html {
//         font-size: 18px;
//         line-height: 28px;
//     }
// }

button,
html,
input,
select,
textarea {
    color: #242424;
}

body,
html {
    height: 100%;
}
