//
// fonts
//

$font-roboto: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
$font-roboto-slab: "Roboto Slab", serif;
$font-roboto-condensed: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;

//
// Weights
//

$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$bold-weight:     700;

//
// Colour
//

/* red shades */
$color-1: #e2231b; /* primary red */

/* grey shades */
$color-2: #242424; /* near black */
$color-2a: #414141; /* charcoal */
$color-3a: #eee;
$color-3b: #ccc;
$color-3c: #999;
$color-3d: #6C6C6C; /* accesible version of brand color #75787B; */

/* brand alt sets */
$color-alt-1: rgb(73, 48, 172);
$color-alt-2: rgb(255, 151, 0);
$color-alt-3: rgb(0, 170, 152);
$color-alt-4: rgb(0, 92, 148);
$color-alt-5: rgb(255, 122, 0);
$color-alt-6: rgb(120, 60, 188);
$color-alt-7: rgb(214, 0, 110);
$color-alt-8: rgb(112, 87, 28);
$color-alt-9: rgb(0, 79, 89);

/* svg icon filters - changes black to color - https://codepen.io/sosuke/pen/Pjoqqp */
$near-black: invert(7%) sepia(53%) saturate(0%) hue-rotate(173deg) brightness(107%) contrast(86%); /* #242424 */
$charcoal: invert(24%) sepia(1%) saturate(0%) hue-rotate(118deg) brightness(92%) contrast(89%); /* #414141 */
$red: invert(36%) sepia(31%) saturate(3720%) hue-rotate(337deg) brightness(81%) contrast(124%); /* #e2231b */
$white: invert(100%) sepia(0%) saturate(2%) hue-rotate(132deg) brightness(113%) contrast(101%);
$teal: invert(49%) sepia(45%) saturate(3730%) hue-rotate(142deg) brightness(92%) contrast(101%); /* #00aa98*/

//
// Spacing
//

$spacer: 4px;
