.ds-proofpoint {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
}

.ds-proofpont-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

.ds-proofpoint-title {
    color: $color-1;
    font-size: 28px;
    line-height: 32px;
    margin: 16px 0 0 0;
}

.ds-proofpoint-number {
    color: $color-1;
    font-size: 40px;
    line-height: 1;
}

.ds-proofpoint-text {
    font-size: 20px;
    line-height: 28px;
}

.ds-proofpoint-footnote {
    font-size: 14px;
    line-height: 20px;
    color: $color-2a;
    margin-top: auto;
    padding-top: 16px;
}

/* proof point set */
.ds-proofpoint-set {
    @include columns;
}

/* // TODO: remove and include as separate block module
.ds-proofpoint-set-text {
    box-sizing: border-box;
    max-width: 800px;
    margin: 16px auto 0 auto;
    padding: 24px 24px 4px 24px;
    background-color: $color-3a;
    @media(min-width: 768px){
        &[data-columns="2"] {
            columns: 2;
            column-gap: 32px;
            max-width: 1000px;
        }
    }
}
*/
