// depenencies
@use "config";

.ds-proofpoint {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    margin-top: config.$space-unit*8; /* 2rem/32px */
    margin-bottom: 0;
}

.ds-proofpont__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

.ds-proofpoint__body {
    >*:first-child {
        margin-top: 1em;
    }
}

.ds-proofpoint__title {
    color: config.$color-1;
    font-family: config.$font-roboto-slab;
    font-weight: config.$regular;
    /*font-size: 28px;
    line-height: 32px;*/
}

.ds-proofpoint__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.ds-proofpoint__footnote {
    font-size: 0.8rem;
}

/* proof point set */
.ds-proofpoint-set {
    @include config.columns($basis-width: 214px);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/// modifiers ///
// proof poyint set modifier to make it scroll left-right on small screens instead of wrapping
.ds-proofpoint-set--scroll {
    @media(max-width: 1279px) {
        flex-wrap: nowrap;
        justify-content: left;
        overflow-x: scroll;

        // hiding scrollbar
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;

        .ds-proofpoint {

        }
    }
}
