.ds-proofpoint {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    margin-top: $spacer*8; /* 2rem/32px */
    margin-bottom: 0;
}

.ds-proofpont__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

.ds-proofpoint__title {
    color: $color-1;
    font-size: 28px;
    line-height: 32px;
}

.ds-proofpoint__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.ds-proofpoint__footnote {
    font-size: 14/16*1rem;
    line-height: 20/16;
    color: $color-2a;
    margin-top: auto;
    padding-top: $spacer*4; /* 1rem/16px */
}

/* proof point set */
.ds-proofpoint-set {
    @include columns;
}
