{% for pattern in site.ltu-components %}
    {%- if pattern.url contains include.snippet -%}

        {%- if page.type == 'example' -%}
            {% assign path =  '/ltu-components/tests/' -%}
        {%- else -%}
            {% assign path =  '/ltu-components/src/' %}
        {%- endif -%}

        <div class="wedgetail-code" style="display: block;">
            {% for pattern in site.ltu-components %}
                {%- if pattern.url contains include.snippet -%}
                    {%- highlight html -%}
                        {% if pattern.type == 'block' %}
<div class="ds-block ds-block--{{ pattern.width }}">
    <div class="ds-block__wrapper">
{{ pattern.content }}
    </div>
</div>
                        {% else %}
                            {{ pattern.content }}
                        {% endif %}
                    {%- endhighlight -%}
                {%- endif -%}
            {% endfor %}
        </div>

    {%- endif -%}
{% endfor %}
