{% for pattern in site.ltu-patterns %}
    {%- if pattern.url contains include.snippet -%}

        {%- if include.container != 'false' -%}
            <div class="ds-block" data-bgcolor="{{ include.blockBackground }}">
                <div class="ds-block-wrapper" data-blockwidth="{{ include.blockWidth }}" data-blockalign="{{ include.blockAlign }}">
                    {{ pattern.content }}
                </div>
            </div>

        {%- else -%}
            {{ pattern.content }}
        {%- endif -%}

    {%- endif -%}
{% endfor %}
