{% for pattern in site.ltu-patterns %}
    {%- if pattern.url contains include.snippet -%}
        <div class="wedgetail-pattern">
            <div class="wedgetail-header">
                <div class="wedgetail-title">
                    <a class="permalink" href="{{ pattern.title | slugify | prepend: '#' }}"><i class="icon" data-icon="link"></i></a>

                    <div class="header typo_eagle">
                        <h3>{{ pattern.title }}</h3>
                    </div>

                    <div class="wedgetail-label ready">
                        {{ pattern.status }}
                    </div>
                </div>
            </div>

            <div class="wedgetail-sample">
                <iframe style="background: {{ include.bgcolor | default: transparent }};" class="wedgetail-snippet-iframe" id="{{ include.snippet | remove: ".html" }}" src="/ltu-patterns/packages/{{ include.snippet }}" height="0px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    {%- endif -%}
{% endfor %}
