{% for pattern in site.ltu-components %}
    {%- if pattern.url contains include.snippet -%}
        {% if include.container == 'false' %}
            <div>
            {{ pattern.content }}
            </div>
        {% elsif pattern.type == 'block' %}
            <div class="ds-block ds-block--{{ pattern.width }} ds-block--{{ include.blockBackground }}">
                <div class="ds-block__wrapper">
                {{ pattern.content }}
                </div>
            </div>
        {% else %}
            <div>
            {{ pattern.content }}
            </div>
        {% endif %}
    {%- endif -%}
{% endfor %}
