{%- for pattern in site.pages -%}
    {%- if pattern.url contains include.snippet -%}
        {%- if pattern.status -%}
            <div class="pattern-status">Status: {{ pattern.status }}</div>
        {%- endif -%}

        <iframe style="background: {{ include.bgcolor | default: transparent }};" class="sg-snippet-iframe" id="{{ include.snippet | remove: ".html" }}" src="/ltu-patterns/html/{{ include.snippet }}" height="0px" frameborder="0" scrolling="no"></iframe>
    {%- endif -%}
{%- endfor -%}  