{% for pattern in site.ltu-patterns %}
    {%- if pattern.url contains include.snippet -%}

        {%- if page.type == 'example' -%}
            {% assign path =  '/ltu-patterns/' -%}
        {%- else -%}
            {% assign path =  '/ltu-patterns/packages/' %}
        {%- endif -%}

        <div class="wedgetail-pattern">
            <div class="wedgetail-header">
                <div class="wedgetail-title">
                    <a class="permalink" href="{{ pattern.title | slugify | prepend: '#' }}"><i class="icon" data-icon="link"></i></a>

                    <div class="header typo_eagle">
                        <h3>{{ pattern.title }}</h3>
                    </div>

                    <div class="wedgetail-label {{ pattern.status }}">
                        {{ pattern.status }}
                    </div>
                </div>
            </div>

            {% if pattern.text %}
                <div class="wedgetail-text">
                    <p>{{ pattern.text }}</p>
                </div>
            {% endif %}

            <div class="wedgetail-sample">
                <iframe style="background: {{ include.bgcolor | default: transparent }};" class="wedgetail-snippet-iframe" id="{{ path }}{{ include.snippet | remove: ".html" }}" src="{{ path }}{{ include.snippet }}" height="0px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    {%- endif -%}
{% endfor %}
