{% for pattern in site.ltu-patterns %}
    {%- if pattern.url contains include.snippet -%}

        {%- if page.type == 'example' -%}
            {% assign path =  '/ltu-patterns/' -%}
        {%- else -%}
            {% assign path =  '/ltu-patterns/packages/' %}
        {%- endif -%}

        <div class="wedgetail-code" style="display: block;">
            {% for pattern in site.ltu-patterns %}
                {%- if pattern.url contains include.snippet -%}
                    {%- highlight html -%}
                        {{ pattern.content }}
                    {%- endhighlight -%}
                {%- endif -%}
            {% endfor %}
        </div>
        
    {%- endif -%}
{% endfor %}
