{% for pattern in site.ltu-components %}
    {%- if pattern.url contains include.snippet -%}
        {% if include.container == 'false' %}
            {{ pattern.content }}
        {% elsif pattern.type == 'block' %}
            <div class="ds-block {% if pattern.width %}ds-block--{{ pattern.width }}{% endif %} {% if include.blockBackground %}ds-block--{{ include.blockBackground }}{% endif %}">
                <div class="ds-block__wrapper">
                {{ pattern.content }}
                </div>
            </div>
        {% else %}
            <div>
            {{ pattern.content }}
            </div>
        {% endif %}
    {%- endif -%}
{% endfor %}
