{% for pattern in site.pages %}
    {%- if pattern.url contains include.snippet -%}
        <div class="wedgetail-pattern" id="{{ pattern.title | slugify }}">
            <div class="wedgetail-header">
                <div class="wedgetail-title">
                    <a class="permalink" href="{{ pattern.title | slugify | prepend: '#' }}"><i class="icon" data-icon="link"></i></a>

                    <div class="header typo_eagle">
                        <h3>{{ pattern.title }}</h3>
                    </div>

                    <div class="wedgetail-label {{ pattern.status }}">
                        {{ pattern.status }}
                    </div>
                </div>

                <div class="wedgetail-preview">
                    <a href="javascript:void(0)" title="View Source Code" class="wedgetail-helper-code button"></a>  

                    <a class="wedgetail-snippet-file" href="/ltu-patterns/packages/{{ include.snippet }}" target="_blank" title="Open in new tab"></a>
                </div>
            </div>

            <div class="wedgetail-sample button-primary" style="background: {{ include.bgcolor | default: transparent }};">
                <iframe class="wedgetail-snippet-iframe" id="{{ include.snippet | remove: ".html" }}" src="/ltu-patterns/packages/{{ include.snippet }}" height="0px" frameborder="0" scrolling="no"></iframe>
            </div>
                
            <div class="wedgetail-code">
                {% for pattern in site.pages %}
                    {%- if pattern.url contains include.snippet -%}
                        {%- highlight html -%}
                            {{ pattern.content }}
                        {%- endhighlight -%}
                    {%- endif -%}
                {% endfor %}
            </div>
        </div>
    {%- endif -%}
{% endfor %}