<div class="sg-menu">
    <label for="sg-menu" class="sg-menu-toggle">Menu</label> Latrobe web design system
    <input type="checkbox" id="sg-menu" />
    <nav class="sg-menu-list">
        <ul>
            <li><a href="{{ site.baseURL }}">Overview</a></li>
        </ul>
        <p>Foundations</p>
        <ul>
            <li><a href="{{ site.baseURL }}typography/">Typography</a></li>
            <li><a href="{{ site.baseURL }}grid/">Grid</a></li>
            <li><a href="{{ site.baseURL }}colour/">Colour</a></li>
        </ul>
        <p>Elements</p>
        <ul>
            <li><a href="{{ site.baseURL }}text/">Text</a></li>
            <li><a href="{{ site.baseURL }}buttons/">Buttons</a></li>
            <li><a href="{{ site.baseURL }}forms/">Forms</a></li>
        </ul>
        <p>Components</p>
        <p>Blocks</p>
        <ul>
            <li><a href="{{ site.baseURL }}header/">Header</a></li>
            <li><a href="{{ site.baseURL }}banner/">Banner</a></li>
        </ul>
        <p>Templates</p>
    </nav>
</div>
