<div class="sg-menu">
    <label for="sg-menu" class="sg-menu-toggle">Menu</label> La Trobe website design system
    <input type="checkbox" id="sg-menu" />
    <nav class="sg-menu-list">
        <ul>
            <li><a href="{{ site.url }}">Overview</a></li>
        </ul>
        <p>Foundations</p>
        <ul>
            <li><a href="{{ site.url }}/foundations/typography/">Typography</a></li>
            <li><a href="{{ site.url }}/foundations/grid/">Grid</a></li>
            <li><a href="{{ site.url }}/foundations/colour/">Colour</a></li>
            <li><a href="{{ site.url }}/foundations/icons/">Icons</a></li>
        </ul>
        <p>Elements</p>
        <ul>
            <li><a href="{{ site.url }}/elements/text/">Text</a></li>
            <li><a href="{{ site.url }}/elements/buttons/">Buttons</a></li>
            <li><a href="{{ site.url }}/elements/forms/">Forms</a></li>
        </ul>
        <p>Components</p>
        <ul>
            <li><a href="{{ site.url }}/components/cards/">Cards</a></li>
        </ul>
        <p>Blocks</p>
        <ul>
            <li><a href="{{ site.url }}/blocks/header/">Header</a></li>
            <li><a href="{{ site.url }}/blocks/banner/">Banner</a></li>
            <li><a href="{{ site.url }}/blocks/logo-showcase/">Logo showcase</a></li>
        </ul>
        <p>Templates</p>
    </nav>
</div>
