<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
    <link rel="stylesheet" href="{{ site.url }}/wedgetail/css/styles.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
</head>

<body>
    {%- include wedgetail-menu.html -%}
