// depenencies
@use "config";
@use "button/scss/button";

.ds-tabs {
    margin: 2rem 0;
}

.ds-tabs-nav {
    max-width: 1024px;
    display: block;
    border-bottom: 2px solid config.$color-2;
    /* scroll on mobile when too wide */
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
}

.ds-tabs-nav__tab {
    @extend .ds-btn-link;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    padding: config.$space-unit * 4;
    top: 2px;
    left: 0px;

    &[aria-selected="true"] {
        color: config.$color-2;
        text-decoration: none;
    }

    &[aria-selected="true"]::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        border-bottom: 6px solid config.$color-2a;
    }

    &:focus {
        outline-offset: -3px;
    }
}

/*.ds-tabs-nav.ds-tabs-nav--pills {
    border-bottom: none;
    .ds-tabs-nav__tab {
        @extend .ds-btn-pill;
        margin-right: config.$space-unit * 2;
        &[aria-selected="true"] {
            @extend .ds-btn-pill--selected
        }
        &[aria-selected="true"]::after {
            display: none;
        }
    }
}*/

.ds-tabs-content {
    margin-top: 2rem;
}

.ds-tab-content__body {
    >*:first-child {
        margin-top: 0;
    }
}

.ds-tabs--boxed {
    .ds-tab-content {
        &__body {
            background-color: config.$color-3a;
            padding: config.spunits(8);
            margin: 0 !important;
            /* override lobotomised owl */
            @media (min-width:1024px) {
                padding: config.$space-unit * 20;
            }
        }
    }
}
