.ds-tabs-nav {
    display: block;
    border-bottom: 2px solid $color-2;
    /* scroll on mobile when too wide */
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.ds-tabs-nav__tab {
    @extend .ds-btn-link;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    padding: $spacer * 4;
    top: 2px;
    left: 0px;

    &[aria-selected="true"] {
        color: $color-2;
        text-decoration: none;
    }

    &[aria-selected="true"]::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        border-bottom: 6px solid $color-2a;
    }
}

.ds-tabs-nav.ds-tabs-nav--pills {
    border-bottom: none;
    .ds-tabs-nav__tab {
        @extend .ds-btn-pill;
        margin-right: $spacer * 2;
        &[aria-selected="true"] {
            @extend .ds-btn-pill--selected
        }
        &[aria-selected="true"]::after {
            display: none;
        }
    }
}

.ds-tabs-content {
    margin-top: 2rem;
}

.ds-tabs--boxed {
    .ds-tab-content {
        &__body {
            background-color: $color-3a;
            padding: $spacer * 10;
            margin: 0 !important;
            /* override lobotomised owl */
            @media (min-width:1024px) {
                padding: $spacer * 20;
            }
        }
    }
}
