---
title: "Alerts"
status: draft
showLeftNav: "no"
---

<!-- Success Alert -->
{% include sample-component.html
    snippet="alert/src/html/alert-success.html"
    blockWidth="narrow"
%}

<!-- Danger Alert -->
{% include sample-component.html
    snippet="alert/src/html/alert-danger.html"
    blockWidth="narrow"
%}

<!-- Warning Alert -->
{% include sample-component.html
    snippet="alert/src/html/alert-warning.html"
    blockWidth="narrow"
%}

<!-- Warning Info -->
{% include sample-component.html
    snippet="alert/src/html/alert-info.html"
    blockWidth="narrow"
%}