---
title: "Sample"
status: draft

showLeftNav: "no"
---



<div class="ds-block" data-bgcolor="" data-blockwidth="full-width">
    <div class="ds-block-wrapper" >
        <div style="width: 100%; height: 200px; background: green">DS Block full width</div>
    </div>
</div>

<div>
    <h2>Default div</h2>
    <div style="width: 100%; height: 200px; background: blue">Default div</div>
</div>
<article>
    <h2>Default article</h2>
    <div style="width: 100%; height: 200px; background: green">Default article</div>
</article>
<section>
    <h2>Default section</h2>
    <div style="width: 100%; height: 200px; background: green">Default section</div>
</section>

<div class="ds-block" data-bgcolor="" data-blockwidth="">
    <div class="ds-block-wrapper"  >
        <div class="ds-block-header" data-textalign="left">
            <h2>Break into your career through latrobe</h2>
        </div>
        <div style="width: 100%; height: 200px; background: green">DS Block - default width</div>
    </div>
</div>

<div class="ds-block" data-bgcolor="grey" data-blockwidth="">
    <div class="ds-block-wrapper"  >
        <div class="ds-block-header">
            <h2>Break into your career through latrobe</h2>
        </div>
        <div style="width: 100%; height: 200px; background: green">DS Block - default width - bgcolor</div>
    </div>
</div>

<div class="ds-block" data-bgcolor="" data-blockwidth="medium">
    <div class="ds-block-wrapper"  >
        <div class="ds-block-header" data-textalign="left">
            <h2>Break into your career through latrobe</h2>
        </div>
        <div style="width: 100%; height: 200px; background: green">DS Block - medium</div>
    </div>
</div>

<div class="ds-block" data-bgcolor="grey" data-blockwidth="medium">
    <div class="ds-block-wrapper"  >
        <div class="ds-block-header">
            <h2>Break into your career through latrobe</h2>
        </div>
        <div style="width: 100%; height: 200px; background: green">DS Block - medium  - bgcolor</div>
    </div>
</div>

<div class="ds-block" data-bgcolor="" data-blockwidth="wide">
    <div class="ds-block-wrapper"  >
        <div class="ds-block-header" data-textalign="left">
            <h2>Break into your career through latrobe</h2>
        </div>
        <div style="width: 100%; height: 200px; background: green">DS Block - wide</div>
    </div>
</div>

<div class="ds-block" data-bgcolor="grey" data-blockwidth="wide">
    <div class="ds-block-wrapper"  >
        <div class="ds-block-header">
            <h2>Break into your career through latrobe</h2>
        </div>
        <div style="width: 100%; height: 200px; background: green">DS Block - wide  - bgcolor</div>
    </div>
</div>
