---
title: "Component combinations"
status: draft
showLeftNav: "no"
---

<div class="ds-block">
    <div class="ds-block__wrapper">

<!-- Success Alert -->
{% include sample-component.html
    snippet="alert/src/html/alert-success.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="callout/src/html/callout.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Feature campaign -->
{% include sample-component.html
    snippet="banner/src/html/campaign.html"
    container="false"
%}

<!-- Blockquote -->
{% include sample-component.html
    snippet="blockquote/src/html/blockquote.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Tabs -->
{% include sample-component.html
    snippet="tab/src/html/tabs-small.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="callout/src/html/callout2.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Accordion -->
{% include sample-component.html
    snippet="accordion/src/html/accordion.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Mosaic -->
{% include sample-component.html
    snippet="mosaic/src/html/mosaic.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Table -->
{% include sample-component.html
    snippet="table/src/html/table.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Testimonial -->
{% include sample-component.html
    snippet="testimonial/src/html/testimonial-feature.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="proofpoint/src/html/proof-points-basic.html"
    blockWidth="narrow"
    container="false"
%}

    </div>
</div>
