---
title: "CTA testing"
status: draft
showLeftNav: "no"

heading: Do you have questions about the application process?
---

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">
        <div class="ds-block-header">
            <h2>{{ page.heading }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="cta">            
            <div class="cta-item">
                <h4>Within Australia</h4>
                1800 619 768 (free call within Australia)
            </div>
            
            <div class="cta-item">
                <h4>International</h4>
                (+61 3 9627 4805) (outside Australia)
            </div>
            
            <div class="cta-item">
                <h4>Ask a question</h4>
                Speak to an LTI staff member
            </div>

            <div class="cta-item">
                <h4>Social</h4>
                Talk to us on on Twitter, Facebook, Weibo, WeChat and Instagram.
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">
        <div class="ds-block-header">
            <h2>{{ page.heading }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="cta">            
            <div class="cta-item">
                <h4>Within Australia</h4>
                1800 619 768 (free call within Australia)
            </div>
            
            <div class="cta-item">
                <h4>International</h4>
                (+61 3 9627 4805) (outside Australia)
            </div>
            
            <div class="cta-item">
                <h4>Ask a question</h4>
                Speak to an LTI staff member
            </div>

            <div class="cta-item">
                <h4>Social</h4>
                Talk to us on on Twitter, Facebook, Weibo, WeChat and Instagram.
            </div>
        </div>

        <div class="ds-block-footer">
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-item-group">
                <div class="cta-item">
                    <h4>Within Australia</h4>
                    1800 619 768 (free call within Australia)

                    <h4>International</h4>
                    (+61 3 9627 4805) (outside Australia)
                </div>
            
                <div class="cta-item">
                    <h4>Social</h4>
                    Talk to us on on Twitter, Facebook, Weibo, WeChat and Instagram.
                </div>
            </div>
        </div>

        <div class="ds-block-footer cta-footer">
            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-item-group">
                <div class="cta-item">
                    <h4>Within Australia</h4>
                    1800 619 768 (free call within Australia)

                    <h4>International</h4>
                    (+61 3 9627 4805) (outside Australia)
                </div>
            
                <div class="cta-item">
                    <h4>Social</h4>
                    Talk to us on on Twitter, Facebook, Weibo, WeChat and Instagram.
                </div>
            </div>
        </div>
    </div>
</div>


<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-item-group">
                <div class="cta-item">
                    <h4>Within Australia</h4>
                    1800 619 768 (free call within Australia)
                </div>
            
                <div class="cta-item">
                    <h4>International</h4>
                    (+61 3 9627 4805) (outside Australia)
                </div>

                <div class="cta-item">
                    <h4>Social</h4>
                    Talk to us on on Twitter, Facebook, Weibo, WeChat and Instagram.
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-item-group">
                <div class="cta-item">
                    <h4>Within Australia</h4>
                    1800 619 768 (free call within Australia)
                </div>
            
                <div class="cta-item">
                    <h4>International</h4>
                    (+61 3 9627 4805) (outside Australia)
                </div>

                <div class="cta-item">
                    <h4>Social</h4>
                    Talk to us on on Twitter, Facebook, Weibo, WeChat and Instagram.
                </div>

                <div class="cta-item">
                    <h4>International</h4>
                    (+61 3 9627 4805) (outside Australia)
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="ds-block" data-bgcolor="grey">
    <div class="ds-block-wrapper" data-blockwidth="wide">        
        <div class="cta-alternate">
            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="cta-heading">
                <h2>{{ page.heading }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>