---
title: "Form"
status: draft
---

<div class="ds-block-container" data-blockwidth="narrow">
    <div class="ds-block-content" data-blockAlign="center">
        <form>
            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input.html"
                container="false"
                label="Name"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/number-input.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/date-picker.html"
                container="false"
                label="Date"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/textarea.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/checkbox-group.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/radio-group.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/file-uploader.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/select-input.html"
                container="false"
            %}

            {% comment %} {% include sample-component.html
                snippet="packages/inputs/src/html/record.html"
                container="false"
            %} {% endcomment %}
        </form>
    </div>
</div>