---
title: "Validation"
status: draft
---

<div class="ds-block-container" data-blockwidth="narrow">
    <div class="ds-block-content" data-blockAlign="center">
        <form>
            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input/text-input.html"
                container="false"
                state="success"
            %}
            
            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input/text-input-success.html"
                container="false"
            %}
            
            {% include sample-component.html
                snippet="packages/inputs/src/html/textarea/textarea.html"
                container="false"
            %}
        </form>
    </div>
</div>