---
title: "Form"
status: draft
---

<div class="ds-block-container" data-blockwidth="narrow">
    <div class="ds-block-content" data-blockAlign="center">
        <form>
            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input/text-input.html"
                container="false"
                label="Name"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/misc/number-input.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/misc/date-picker.html"
                container="false"
                label="Date"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/textarea/textarea.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/checkbox/checkbox-group.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/radio/radio-group.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/misc/file-uploader.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/select/select-input.html"
                container="false"
            %}
        </form>
    </div>
</div>