---
status: draft

title: "Home"

showHeader: "yes"
showFooter: "yes"
---

<!-- Banner -->
{% include sample-component.html
    snippet="packages/banner/src/tests/banner_home.html"
    blockWidth="full-width"
    heading="Leighton"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="proofpoint/src/tests/proof-points-home.html"
    blockBackground="grey"
%}

<!-- Banner -->
{% include sample-component.html
    snippet="packages/banner/src/tests/banner_home_article.html"
    blockWidth="full-width"
    heading="Leighton"
%}
