---
title: "Home"
status: draft
---

<!-- Legacy Header -->
{% include sample-component.html
    snippet="packages/header/src/html/header-legacy.html"
    blockWidth="full-width"
%}

<!-- Banner -->
{% include sample-component.html
    snippet="packages/banner/src/tests/banner_home.html"
    blockWidth="full-width"
    heading="Leighton"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="proofpoint/src/tests/proof-points-home.html"
    blockBackground="grey"
%}

<!-- Banner -->
{% include sample-component.html
    snippet="packages/banner/src/tests/banner_home_article.html"
    blockWidth="full-width"
    heading="Leighton"
%}