---
title: "Sample"
status: draft
---



<div class="ds-block" data-bgcolor="" data-blockwidth="full-width">
    <div class="ds-block-wrapper" >
        <div style="width: 100%; height: 200px; background: green">Block full width</div>
    </div>
</div>

<div>
    <div style="width: 100%; height: 200px; background: blue">Default div</div>
</div>
<article>
    <div style="width: 100%; height: 200px; background: green">Default article</div>
</article>
<section>
    <div style="width: 100%; height: 200px; background: green">Default section</div>
</section>

<div class="ds-block" data-bgcolor="" data-blockwidth="narow">
    <div class="ds-block-wrapper"  >
        <div style="width: 100%; height: 200px; background: green">Block </div>
    </div>
</div>

<div class="ds-block" data-bgcolor="grey" data-blockwidth="wide">
    <div class="ds-block-wrapper"  >
        <div style="width: 100%; height: 200px; background: green"></div>
    </div>
</div>

<div class="ds-block" data-bgcolor="full-width">
    <div class="ds-block-wrapper" >
        <div style="width: 100%; height: 200px; background: green"></div>
    </div>
</div>

<div class="ds-block" data-bgcolor>
    <div class="ds-block-wrapper" >
        <div style="width: 100%; height: 200px; background: blue"></div>
    </div>
</div>

<div class="ds-block" data-bgcolor="" data-blockwidth="narrow">
    <div class="ds-block-wrapper"  >
        <div style="width: 100%; height: 200px; background: green"></div>
    </div>
</div>

<div class="ds-block" data-bgcolor="grey" data-blockwidth="narrow">
    <div class="ds-block-wrapper"  >
        <div style="width: 100%; height: 200px; background: green"></div>
    </div>
</div>
