---
title: "Sample"
status: draft
---

<!-- Banner -->
{% include sample-component.html
    snippet="packages/banner/src/html/banner_campaign.html"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="packages/proofpoint/src/html/proof-points-set.html"
    blockWidth="narrow"
    blockBackground="grey"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="packages/callout/src/html/callout2.html"
    blockWidth="narrow"
    blockAlign="center"
%}

<!-- Testimonial Set -->
<div class="testimonial-set">
    {% include sample-component.html
        snippet="packages/testimonial/src/html/testimonial-set.html"
        blockWidth="narrow"
        blockBackground="grey"
    %}
</div>

<!-- Step List -->
{% include sample-component.html
    snippet="packages/step-list/src/html/step-list.html"
    blockWidth="narrow"
    blockAlign="center"
%}

<!-- Proofpoint Set -->
{% include sample-component.html
    snippet="packages/proofpoint/src/html/proof-points-set.html"
    blockWidth="narrow"
    blockBackground="grey"
%}

<!-- Testimonial -->
{% include sample-component.html
    snippet="packages/testimonial/src/html/testimonial.html"
    blockWidth="narrow"
    blockAlign="center"
%}

<!-- Testimonial Set One -->
<div class="testimonial-set">
    {% include sample-component.html
        snippet="packages/testimonial/src/html/testimonial.html"
        blockWidth="narrow"
        blockAlign="center"
    %}
</div>

<!-- Proofpoint Set -->
{% include sample-component.html
    snippet="packages/proofpoint/src/html/proof-points-set.html"
    blockWidth="narrow"
%}

<!-- Card Set -->
{% include sample-component.html
    snippet="packages/card/src/html/card-set.html"
    blockWidth="narrow"
    blockBackground="grey"
%}

<!-- Form -->
{% include sample-component.html
    snippet="packages/card/src/html/card-set.html"
    blockWidth="narrow"
%}