---
title: "Sample"
status: draft
---

<!-- Banner -->
{% include sample-component.html
    snippet="packages/banner/src/html/banner_campaign.html"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="packages/proofpoint/src/html/proof-points-set.html"
    blockWidth="default"
    blockBackground="grey"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="packages/callout/src/html/callout-default.html"
    blockWidth="default"
    blockAlign="center"
%}

<!-- Step List -->
{% include sample-component.html
    snippet="packages/step-list/src/html/step-list.html"
    blockWidth="narrow"
    blockAlign="center"
%}

<!-- Proofpoint Set -->
{% include sample-component.html
    snippet="packages/proofpoint/src/html/proof-points-set.html"
    blockWidth="default"
    blockBackground="grey"
%}

<!-- Testimonial -->
{% include sample-component.html
    snippet="packages/testimonial/src/html/testimonial-feature.html"
    blockWidth="default"
    blockAlign="center"
%}

<!-- Testimonial Set One -->
{% include sample-component.html
    snippet="packages/testimonial/src/html/testimonial-set-4.html"
    blockWidth="default"
    blockAlign="center"
%}

<!-- Proofpoint Set -->
{% include sample-component.html
    snippet="packages/proofpoint/src/html/proof-points-set.html"
    blockWidth="default"
%}

<!-- Card Set -->
{% include sample-component.html
    snippet="packages/card/src/html/card-set.html"
    blockWidth="default"
    blockBackground="grey"
%}

<!-- Form -->
{% include sample-component.html
    snippet="packages/card/src/html/card-set.html"
    blockWidth="default"
%}
