---
title: "Standard content page"
status: draft

showHeader: "yes"
showFooter: "yes"
showLeftNav: "yes"
---

<!-- Success Alert -->
{% include sample-component.html
    snippet="alert/src/html/alert-success.html"
    blockWidth="narrow"
%}

<div>
    {% include sample-component.html snippet="components/alerts/alert-success.html" %}

    <h1>How the Online Campus works - h1</h1>

    <aside class="aside-right">
        {% include sample-component.html snippet="components/cards/card-image-linked-cta.html" %}
    </aside>

    <h2>How much time is required to study online?, let's make this longer so that it wraps: are you wrapping? - h2</h2>

    <p>Studying online provides you with a greater amount of flexibility. Courses can be completed as fast or as slow as you need to fit around your schedule. Enrol in one or two subjects in one study period, study block or semester, depending on how much time you have.</p>

    <p>To complete subjects within the study period, we recommend allowing at least 12-15 hours a week for each subject. To make sure you&rsquo;re on top of your study load and you&rsquo;re progressing though each subject, it's best to set up a study plan personalised around your life.</p>

    <h2>How subjects are taught, let's make this longer so that it wraps: are you wrapping? - h2</h2>

    <p>Many of our online programs offer subjects in <q cite="">intense short study periods many times</q> over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>

    {% include sample-component.html snippet="elements/blockquote/blockquote-large.html" %}

    {% include sample-component.html snippet="elements/blockquote/blockquote-medium.html" %}

    {% include sample-component.html snippet="elements/blockquote/blockquote.html" %}

    {% include sample-component.html snippet="elements/text/blockquote.html" %}

    {% include sample-component.html snippet="elements/text/blockquote-attribution.html" %}

    {% include sample-component.html snippet="elements/text/unordered_list.html" %}

    {% include sample-component.html snippet="components/callout/callout.html" %}

    <p>Online subjects include a range of learning activities:</p>

    {% include sample-component.html snippet="elements/text/pull_quote.html" %}

    {% include sample-component.html snippet="elements/text/inline.html" %}

    {% include sample-component.html snippet="elements/text/hr.html" %}



    <h2>Other information -h2</h2>

    <h3>I forgot my password, what do I do?, let's make this longer so that it wraps: are you wrapping? -h3</h3>

    <p>If you cannot remember your password, you can reset it using the <a href="https://www.latrobe.edu.au/students/support/it/reset-password">Password Reset Tool</a>.</p>

    {% include sample-component.html snippet="elements/text/double_list.html" %}

    <h3>Discover La Trobe Hub and Continuing BFN Student Info - h3</h3>

    <p>Once you have access to the LMS, some quick reference material can be found in the LMS within your&nbsp;<a href="https://lms.latrobe.edu.au/course/view.php?id=60289">Discover La Trobe Hub</a>.</p>


    <!----------------------------------------------------------------------------------------------------------------------------------------------
    Ordered list
    ------------------------------------------------------------------------------------------------------------------------------------------------>

    {% include sample-component.html snippet="elements/text/ordered_list.html" %}

    <!---------------------------------------------------------------------------------------------------------------------------------------------->

    <p>If you're a continuing BFN student, you will find some additional reference materials for you in your&nbsp;<a href="https://lms.latrobe.edu.au/course/view.php?id=41321">OUA-BFN LMS Subject here</a>.</p>

    <h4>Here is a - h4, let's make this longer so that it wraps: are you wrapping?</h4>

    <p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>


    <!----------------------------------------------------------------------------------------------------------------------------------------------
    Accordion
    ------------------------------------------------------------------------------------------------------------------------------------------------>

    {% include sample-component.html snippet="components/accordion/accordion.html" %}

    <!---------------------------------------------------------------------------------------------------------------------------------------------->

    <h5>Here is a - h5, let's make this longer so that it wraps: are you wrapping?</h5>

    <p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>

    <h6>Here is a - h6, let's make this longer so that it wraps: are you wrapping?</h6>

    <p>Many of our online programs offer subjects in intense short study periods many times over the year. This provides some capacity to customise your program to enrol in subjects when it suits you, and even to complete more subjects in a year than in traditional semester-based programs.</p>
</div>
