// depenencies
@use "config";

.ds-site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.ds-global-nav {
    box-shadow: 0 0 6px config.$color-3b;
    background-color: white;
}
.ds-global-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.ds-global-nav__children {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ds-global-nav__child {
    margin: 0;
    padding: 0 config.spunits(4);
    @media(min-width: 1280px){
        padding: 0 config.spunits(6);
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
    }

    &:hover::after {
        background-color: config.$color-1;
    }

    a, a:visited { 
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 80px; // same height as logo image
        text-decoration: none;
        color: config.$color-2;
        font-weight: config.$bold;

        &::after {
            content: "";
            height: 4px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            filter: none;
        }
        
        &:hover {
            color: config.$color-1;
            text-decoration: none;
            &::after {
                background-color: config.$color-1;
            }
        }


    }
}

.ds-global-nav__child--selected {
    a, a:visited {
        color: config.$color-2;
    }
    a::before {
        content: url(icons/latrobe-chevron-RGB.svg);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;
        width: 16px;
        height: 16px;
    }
}

.ds-global-home-link {
    a {
        display: flex;
        flex-direction: column;
    }
}

a.ds-global-search {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 0;
    text-indent: 80px;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-image: url("icons/feather/search.svg");
        filter: config.$filter-near-black;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &:hover {
        filter: config.$filter-red;
    }
}


.ds-utility-nav {
    ul {
        background-color: config.$color-3a;
        padding: 0 20px;
        margin: 0;
        text-align: center;
        list-style: none;
        font-size: 14px; // do not want this to increase with base font

        li {
            display: inline-block;
            padding: 0;
            margin: 0;

            a, a:visited {
                display: inline-block;
                color: config.$color-2;
                text-decoration: none;
                padding: 12px 8px 11px 8px; 
                border-bottom: 1px solid transparent;
                font-weight: config.$medium;
            }

            a:hover {
                color: config.$color-1;
                border-bottom-color: config.$color-1;
            }
        }
    }
}