.card {
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    padding: 0 0 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
}

.card-header {
    position: relative;
}

.card-img {
    width: 100%;
    display: block;
}

.card-body {
    padding: 0 24px;
}

.card-body > *:first-child {
    margin-top: 24px;
}

.card-heading {
    font-size: $h4;
}

.card-footer {
    padding: 0 20px;
}

.card-cta {
    @extend .icon-chevron-right;
    @extend .icon-red;
    color: $color-1;
}
/* link type */
a.card {
    background: white;
    display: block;
    color: $color-2;
    text-decoration: none;
    border: solid 1px $color-3b;

    &:hover {
        transform: translateY(-4px);
        color: $color-2;
        text-decoration: none;
        cursor: pointer;
        // box-shadow: $shadow-2;

        .card-heading {
            color: $color-1;
            text-decoration: underline;
        }

        .card-cta {
            text-decoration: underline;
        }
    }
}

.card-save {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-top: -40px;
    background-color: white;
    /* .save-course-icon class used by my courses save JS */
    .save-course-icon + label {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;

        &::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: auto;
            background-image: url("icons/feather/heart.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .save-course-icon:checked + label::before {
        content: "";
        background-image: url("icons/feather-fill/heart.svg");
        filter: $red;
    }
}

.card-tag {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: $color-1;
    padding: 8px;
    font-size: 16px;
    line-height: 1;
}

.card-tag-alt {
    @extend .card-tag;
    background: $color-alt-3;
}
/* course card specifics */
.card-course {
    @extend .card;

    li,
    p {
        font-size: 16px;
        line-height: 24px;
    }

    .interaction-note {
        margin-top: 48px;
    }
}
/* layouts */
.card-set {
    @include columns-grid;
}

* + .card-set {
    margin-top: 4em;
}

.card-set-left {
    @include columns-grid($alignment: left, $wrap: auto-fill);
}
