---
title: "Proofpoint Set"
status: ready
---

<!--
<header class="ds-block-header ds-block-header--center-align">
    <h2>Break into your career through latrobe</h2>
</header>
-->
<div class="ds-proofpoint-set">
    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}
</div>
