---
title: "Input grid"
status: draft
---

<div class="ds-block" data-blockwidth="narrow">
    <div class="ds-block-wrapper" data-blockAlign="center">
        <form>
            <div class="form-group" data-cols="12">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="11">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="10">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="9">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="8">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="7">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="6">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="5">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="4">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="3">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="2">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-cols="1">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

        </form>
    </div>
</div>