---
title: "Invalid submission"
status: draft
---

<div class="ds-block-container" data-blockwidth="narrow">
    <div class="ds-block-content" data-blockAlign="center">
        {% include sample-component.html
            snippet="packages/alert/src/html/alert-error-content.html"
            container="false"
        %}

        <form>
            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input/text-input-invalid.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input/text-input-invalid.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/inputs/src/html/text-input/text-input-invalid.html"
                container="false"
            %}

            {% include sample-component.html
                snippet="packages/button/src/html/form_button.html"
                container="false"
            %}
        </form>
    </div>
</div>