---
title: "Inputs"
status: draft
---

<div class="ds-block" data-blockwidth="narrow">
    <div class="ds-block-wrapper" data-blockAlign="center">
        <form>
            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/callout/src/html/callout-small.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="half">
                {% include sample-component.html
                    snippet="packages/form/src/html/text-input-hint.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="third">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/date-picker.html"
                    container="false"
                    label="Date"
                %}
            </div>

            <div class="form-group">
                <label>Gender</label>

                {% include sample-component.html
                    snippet="packages/inputs/src/html/radio/radio.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/alert/src/html/alert-info/alert-info.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/checkbox/checkbox-group.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/radio/radio-group.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/file-uploader.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="half" data-inline>
                {% include sample-component.html
                    snippet="packages/select/src/html/select.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="half" data-inline>
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/disabled-text-input.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/textarea.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="half">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/number-input.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="third">
                {% include sample-component.html
                    snippet="packages/inputs/src/tests/text-input-address.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="quarter">
                {% include sample-component.html
                    snippet="packages/inputs/src/tests/text-input-phone.html"
                    container="false"
                %}
            </div>

            <div class="form-group" data-columns="sixth">
                {% include sample-component.html
                    snippet="packages/inputs/src/tests/text-input-postcode.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/button/src/html/form_button.html"
                    container="false"
                %}
            </div>
        </form>
    </div>
</div>