---
title: "Input grid"
status: draft
---

<div class="ds-block">
    <div class="ds-block-wrapper" data-blockwidth="narrow">
        <form>
            <div class="ds-form-group" data-cols="12">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>
            
            <div class="ds-form-group" data-cols="11">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="10">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="9">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="8">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="7">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="6">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="5" data-block>
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="4" data-block>
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="3" data-block>
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="2" data-block>
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>

            <div class="ds-form-group" data-cols="1" data-block>
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-required.html"
                    container="false"
                %}
            </div>
        </form>
    </div>
</div>