---
title: "Invalid submission"
status: draft
---

<div class="ds-block-container" data-blockwidth="narrow">
    <div class="ds-block-content" data-blockAlign="center">
        <form>
            {% include sample-component.html
                snippet="packages/alert/src/html/alert-error/alert-error-with-content.html"
                container="false"
            %}

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-invalid.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/checkbox/checkbox-group-invalid.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/radio/radio-group-invalid.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/select/src/html/select-invalid.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/button/src/html/form_button.html"
                    container="false"
                %}
            </div>
        </form>
    </div>
</div>