---
title: "Inputs"
status: draft
---

<div class="ds-block-container" data-blockwidth="narrow">
    <div class="ds-block-content" data-blockAlign="center">
        <form>
            {% include sample-component.html
                snippet="packages/callout/src/html/callout.html"
                container="false"
            %}

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/form/src/html/text-input-hint.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/date-picker.html"
                    container="false"
                    label="Date"
                %}
            </div>

            <div class="form-group">
                <label>Gender</label>

                {% include sample-component.html
                    snippet="packages/inputs/src/html/radio/radio.html"
                    container="false"
                %}
            </div>

            {% include sample-component.html
                snippet="packages/alert/src/html/alert-info/alert-info.html"
                container="false"
            %}

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/checkbox/checkbox-group.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/radio/radio-group.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/misc/file-uploader.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/select/select-input.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/disabled-text-input.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/textarea.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/number-input.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-large.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-medium.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/inputs/src/html/text-input/text-input-small.html"
                    container="false"
                %}
            </div>

            <div class="form-group">
                {% include sample-component.html
                    snippet="packages/button/src/html/form_button.html"
                    container="false"
                %}
            </div>
        </form>
    </div>
</div>