---
title: "Want to study with us?"
status: draft
---

<div class="ds-block">
    <div class="ds-block-wrapper" data-blockwidth="narrow">
        <form class="ds-form">
            <fieldset class="ds-fieldset">
                <legend class="ds-legend" data-cols="12">Want to study with us? Enquire here.</legend>

                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="name">I am</label>

                    <select class="ds-select"> 
                        <option value="">--</option>
                        <option value="65">Year 9</option>
                        <option value="66">Year 10</option>
                        <option value="67">Year 11</option>
                        <option value="68">Year 12</option>
                        <option value="5841">Recent school leaver (18-20)</option>
                        <option value="70">Mature age (21+)</option>
                        <option value="72">Industry qualified or experienced</option>
                        <option value="5190">Direct applicant</option>
                        <option value="75">University graduate (other uni)</option>
                        <option value="6713">University graduate (LTU)</option>
                        <option value="69">International or overseas student</option>
                        <option value="71">TAFE graduate</option>
                        <option value="74">Current students (LTU) - UG</option>
                        <option value="4585">Current students (LTU) - PG</option>
                        <option value="73">Current students (other uni) - UG</option>
                        <option value="5132">Current students (other uni) - PG</option>
                        <option value="6017">Current Student (other) - TAFE</option>
                        <option value="76">Current Student (LTU) - Deferred</option>
                        <option value="77">Parent</option>
                        <option value="78">Careers advisor / careers counsellor</option>
                        <option value="79">Teacher</option>
                        <option value="4179">Principal</option>
                        <option value="6024">International agent</option>
                        <option value="6018">Business owner / contact</option>
                        <option value="6022">Industry partner</option>
                        <option value="6023">Industry association</option>
                        <option value="6019">Accrediting body</option>
                        <option value="6020">Government</option>
                        <option value="6021">Staff</option>
                        <option value="80">Other</option>
                        <option value="1736">Library</option>
                    </select>
                </div>

                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="name">I'm interested in</label>

                    <select class="ds-select"> 
                        <option value="">--</option>
                        <option value="57" selected="true">Any</option>
                        <option value="58">Undergraduate (your first degree)</option>
                        <option value="59">Postgraduate (any)</option>
                        <option value="60">Postgraduate (coursework)</option>
                        <option value="61">Postgraduate (research)</option>
                    </select>
                </div>

                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="name">I want to study</label>

                    <select class="ds-select"> 
                        <option value="">--</option>
                        <option value="4118" selected="true">Any</option>
                        <option value="23">Arts and communications</option>
                        <option value="24">Business and commerce</option>
                        <option value="25">IT and engineering</option>
                        <option value="26">Education</option>
                        <option value="28">Health Sciences, Social Work</option>
                        <option value="29">Hospitality, Tourism, Sport Management</option>
                        <option value="30">Law</option>
                        <option value="31">Outdoor and Environmental Education</option>
                        <option value="32">Sciences, Psychology</option>
                        <option value="33">Visual Arts</option>
                    </select>
                </div>

                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="name">Study Location</label>

                    <select class="ds-select">
                        <option value="">--</option>
                        <option value="1" selected="true">Any</option>
                        <option value="3">Albury-Wodonga</option>
                        <option value="4">Bendigo</option>
                        <option value="3476">City</option>
                        <option value="5">Franklin St</option>
                        <option value="2">Melbourne</option>
                        <option value="6">Mildura</option>
                        <option value="7">Shepparton</option>
                        <option value="6333">Sydney</option>
                        <option value="6179">Online</option>
                    </select>
                </div>
            </fieldset>

            <fieldset class="ds-fieldset">
                <legend class="ds-legend" data-cols="12">Personal details</legend>


                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="{{ page.id }}">First name<abbr class="req" title="required">*</abbr></label>
                    <input class="ds-text-input" type="text" class="text-input" id="{{ page.id }}" name="{{ page.id }}" aria-describedby="{{ page.id }}-hint" placeholder="John" required/>
                </div>

                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="{{ page.id }}">Last name<abbr class="req" title="required">*</abbr></label>
                    <input class="ds-text-input" type="text" class="text-input" id="{{ page.id }}" name="{{ page.id }}" aria-describedby="{{ page.id }}-hint" placeholder="Appleseed" required/>
                </div>

                <div class="ds-form-group" data-cols="6">
                    <label class="ds-label" for="{{ page.id }}">Email<abbr class="req" title="required">*</abbr></label>
                    <input class="ds-text-input" type="text" class="text-input" id="{{ page.id }}" name="{{ page.id }}" aria-describedby="{{ page.id }}-hint" placeholder="john@appleseed.com" required/>
                </div>
                
                <div class="ds-form-group" data-cols="3">
                    <label class="ds-label" for="{{ page.id }}">Postal code<abbr class="req" title="required">*</abbr></label>
                    <input class="ds-text-input" type="text" class="text-input" id="{{ page.id }}" name="{{ page.id }}" aria-describedby="{{ page.id }}-hint" placeholder="0000" required/>
                </div>

                <div class="ds-form-group">
                    <label class="ds-label" for="name">Message<abbr class="req" title="required">*</abbr></label>
                    <textarea class="ds-text-input" rows="8" placeholder="Enter your message" required></textarea>
                </div>

                <div class="ds-form-group" data-cols="12">
                    <input class="btn" type="button" value="Send">
                </div>
            </fieldset>
        </form>
    </div>
</div>