//
// Alert base
//

.alert {
    border: 2px solid rgba($color-alt-3, 0.2);
    border-radius: 6px;
    padding: 12px 20px;
    margin: 32px auto;
    position: relative;
}

//
// Alert colours
//

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

//
// Alertbox
//

.alertbox {
    @extend .alert;
    font-weight: $light-weight;
    max-width: 700px;
}

.alertbox-heading {
    font-family: $font-roboto-slab;
    font-weight: $normal-weight;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 24px 0;
    color: $color-alt-3;
}

.alertbox::before {
    display: inline-block;
    float: left;
    content: "";
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-image: url("icons/feather/alert-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    filter: $teal;
}

@media(min-width: 768px){
    .alertbox {
        position: relative;
        padding: 20px 80px;
    }
    .alertbox::before {
        display: block;
        position: absolute;
        top: 18px;
        left: 20px;
    }
}


//
// Alert icons
//

.alert .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $spacer;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
    line-height: 0;
}
