.callout {
    border-left: 3px solid rgba($color-alt-3, 1);
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    font-weight: 400;
    padding: 12px 24px;
    box-shadow: 0px 10px 20px $color-3a;

    > :first-child {
        margin: 0;
    }
}

.icon-callout {
    width: 32px;
    height: 32px;
    margin-right: 24px;
    float: left;
    
    svg {
        width: inherit;
        stroke: $color-alt-3;
    }
}

.callout-heading {
    font-size: $h3;
    color: rgba($color-alt-3, 1);
    margin-top: 0;
}

.callout-text {
    align-self: stretch;
}

.callout-content {
    >:first-child {
        margin-top: 0 !important;
    }
}


@media(min-width: 768px){
    .callout {
        position: relative;
        padding: $spacer*6;
    }
    .callout::before {
        display: block;
        position: absolute;
        left: 24px;
        top: 24px;
    }
}