.tabs-nav {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.tabs-nav li {
    float: left;
    margin-bottom: 0;
    margin-right: 16px;
}

.tabs-nav-small {
    .tabs-nav-item {
        margin-right: 0;
        display: inline-block;
        padding: 12px;
        font-weight: 500;
        text-decoration: none;
    }
}

.tabs-small {
    .tabs-nav {
        border-bottom: 2px solid $color-2a;
        margin-bottom: $spacer * 10;
        display: block;
    }

    .tab-item {
        margin-right: 0;
        font-weight: 500;

        &.active {
            border-bottom: 4px solid $color-2a;
        }

        a {
            display: block;
            padding: 0 12px 8px;
            color: $color-2a;
        }
    }
}