---
title: "Sample"
layout: "sample"
ltulayout: "home"
---
<div class="ds-block ds-block-container-narrow" data-bgcolor="">
    <div class="logo-showcase">
        <header class="ds-block-header" data-headingcase="">
            <h2>Where our graduates are thriving</h2>
            <p>Over 30 years, we've placed 20,00 business and commerce graduates in high-growth, high-potential careers in the global business world</p>
        </header>
        <ul class="logo-showcase-logos" data-columns="6">
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-1.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-2.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-3.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-4.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-5.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-6.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-7.svg" alt=""></li>
            <li class="logo-showcase-logo"><img src="/blocks/logo-showcase/images/logo-8.svg" alt=""></li>
        </ul>
    </div>
</div>

<div class="ds-block ds-block-container-narrow" data-bgcolor="grey">
    <div class="proofpoints">
        <header class="ds-block-header" data-headingcase="">
            <h2>Break into your career through latrobe</h2>
        </header>
        <div class="columns">
            <div class="proofpoint">
                <p class="proofpoint-number">Top 1%</p>
                <div class="proofpoint-body">
                    <p>Our arts andhumanitiessubjects areranked in theworld’s top one percent.</p>
                    <p class="footnote">Times HigherEducation (THE),2019, WorldUniversity Rankings2019 by subject: artsand humanities</p>
                </div>
            </div>
            <div class="proofpoint">
                <p class="proofpoint-number">Top 50</p>
                <div class="proofpoint-body">
                    <p>Study at auniversity rankedin the top 50 inAsia-Pacific.</p>
                    <p class="footnote">Times HigherEducation (THE),2019, Bestuniversities in theAsia-Pacific region2019</p>
                </div>
            </div>
            <div class="proofpoint">
                <p class="proofpoint-number">Practical experience</p>
                <div class="proofpoint-body">
                    <p>Put theory into practise with professional placements in Australia and overseas.</p>
                </div>
            </div>
        </div>
        <div class="proofpoint-text" data-columns="2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>

<div class="ds-block ds-block-container-narrow" data-bgcolor="">
    <div class="card-set">
        <header class="ds-block-header" data-headingcase="">
            <h2>Follow your passion wherever it leads</h2>
        </header>
        <div class="columns-grid">

            <div class="card">
                <header class="card-header">
                    <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
                    <h3 class="card-heading">Human, transferrable skills</h3>
                </header>
                <div class="card-body">
                    <p>Build the human skills that transfer to any context. Communication. Innovation. Creative thinking. You’ll develop your ability to listen, empathise, think critically and problem solve.</p>
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </div>

            <div href="" class="card">
                <header class="card-header">
                    <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
                    <h3 class="card-heading">Do what you love</h3>
                </header>
                <div class="card-body">
                    <p>Explore what interests you. Anthropology. English. History. Philosophy. Sociology. Politics. Languages. But also topics you might not expect. Environmental humanities. Sustainability and development. Visual cultures.</p>
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </div>

            <div class="card">
                <header class="card-header">
                    <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
                    <h3 class="card-heading">Keep it broad or narrow down</h3>
                </header>
                <div class="card-body">
                    <p>Choose from a huge range of general and specialist degrees, majors and minors. Combine topics that wouldn’t usually go together, like politics and statistics or anthropology and neuroscience. Keep your options open and graduate with a broad set of skills – or specialise.</p>
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </div>

            <div class="card">
                <header class="card-header">
                    <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
                    <h3 class="card-heading">The different people around you</h3>
                </header>
                <div class="card-body">
                    <p>You’ll be part of a linguistically, culturally and ethically diverse cohort. Together, you’ll challenge your thinking and tackle real-world problems through debate and discussion in intimate classrooms.</p>
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </div>
        </div>
    </div>
</div>
