// depenencies
@use "config";
@use "core/scss/icons";
@use "button/scss/button";

input[type="file"] {
    width: auto;

    &:focus {
        box-shadow: none;

        &::before {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 0 2px rgba(0,123,255,.25);
        }
    }
}

.ds-custom-file-input {
    color: transparent;
}

.ds-custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.ds-custom-file-input::before {
    content: 'Choose file';
    @extend .ds-btn;
    @extend .ds-btn-secondary;
    cursor: pointer;
    width: auto;
}

.ds-custom-file-input:hover::before {
    border-color: black;
}

.ds-custom-file-input:active {
    outline: 0;
}
