// depenencies
@use "config";

.ds-control-input__input[type="radio"] {
    opacity: 0;
    position: absolute;
    margin-left: 0px;


    & + label {
        cursor: pointer;
        position: relative;
        display: block;
        padding-left: config.$space-unit * 8;
        font-weight: 400;

        &::before,
        &::after {
            content: "";
            position: absolute;
            display: inline-block;
        }

        /*Outer box of the fake checkbox*/
        &::before {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            left: 0px;
            top: 0;
        }
        

        /*Checkmark of the fake checkbox*/
        &::after {
            height: 12px;
            width: 12px;
            background: config.$color-2;
            border-radius: 50%;
            left: 6px;
            top: 6px;

            /*Hide the checkmark by default*/
            content: none;
        }
    }

    /*Unhide on the checked state*/
    &:checked + label::after {
        content: "";
    }
}