---
title: "Component combinations"
status: draft
showLeftNav: "no"
---

<div class="ds-block">
    <div class="ds-block__wrapper">

<!-- Success Alert -->
{% include sample-component.html
    snippet="alert/snippets/alert-success.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="callout/snippets/callout.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Feature campaign -->
{% include sample-component.html
    snippet="banner/snippets/campaign.html"
    container="false"
%}

<!-- Blockquote -->
{% include sample-component.html
    snippet="blockquote/snippets/blockquote.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Tabs -->
{% include sample-component.html
    snippet="tab/snippets/tabs-small.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Callout -->
{% include sample-component.html
    snippet="callout/snippets/callout2.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Accordion -->
{% include sample-component.html
    snippet="accordion/snippets/accordion.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Mosaic -->
{% include sample-component.html
    snippet="mosaic/snippets/mosaic.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Table -->
{% include sample-component.html
    snippet="table/snippets/table.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Testimonial -->
{% include sample-component.html
    snippet="testimonial/snippets/testimonial-feature.html"
    blockWidth="narrow"
    container="false"
%}

<!-- Proofpoint -->
{% include sample-component.html
    snippet="proofpoint/snippets/proof-points-basic.html"
    blockWidth="narrow"
    container="false"
%}

    </div>
</div>
