---
status: "draft"

title: "Form --full-width"
text: 'Add mofifier class: <code>ds-form--full-width</code> to make form fill the container'
---

<div class="ds-block">

    <form class="ds-form ds-form--full-width">
        {% include sample-component.html snippet="ltu-components/src/form/snippets/text/text.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/email/email.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/textarea/textarea.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/checkbox/checkbox.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/button/input-button.html" %}
    </form>

</div>