---
status: "draft"

title: "Form --centered"
text: 'Use modifier class <code>ds-form--centered</code> to center the form'
---
<div class="ds-block">

    <form class="ds-form ds-form--centered">

        {% include sample-component.html snippet="ltu-components/src/form/snippets/text/text.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/email/email.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/textarea/textarea.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/checkbox/checkbox.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/button/input-button.html" %}
    </form>

</div>