---
status: "draft"

title: "Example Form"
text: Forms have a default max width of 42rem in order to align width paragraph line lengths. See modifiers below for centered and full-width forms.
---
<div class="ds-block">

    <form class="ds-form">

        {% include sample-component.html snippet="ltu-components/src/form/snippets/text/text.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/email/email.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/textarea/textarea.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/checkbox/checkbox.html" %}

        {% include sample-component.html snippet="ltu-components/src/form/snippets/button/input-button.html" %}
    </form>

</div>