---
title: "Form --full-width"
status: "draft"
text: "Add mofifier class: `ds-form--full-width` to make form fill the container"
---

<form class="ds-form ds-form--full-width">
    {% include sample-component.html snippet="ltu-components/src/form/snippets/text/text.html" %}

    {% include sample-component.html snippet="ltu-components/src/form/snippets/email/email.html" %}

    {% include sample-component.html snippet="ltu-components/src/form/snippets/textarea/textarea.html" %}

    {% include sample-component.html snippet="ltu-components/src/form/snippets/checkbox/checkbox.html" %}

    {% include sample-component.html snippet="ltu-components/src/form/snippets/button/input-button.html" %}
</form>