// depenencies
@use "config";
@use "core/scss/helpers";

.ds-mosaic {
    @extend .clearfix;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.ds-mosaic__tile {
    margin: 0;
}

.ds-mosaic__tile {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    width: 50%;
    max-width: 100%;
    min-width: 135px;

    @media(min-width: 500px) {
        width: 20%;
        min-width: 200px;
    }
    float: left;
    overflow: hidden;
    text-align: center;

    &:hover {
        .ds-mosaic__tile-title {
            text-decoration: underline;
        }
        .ds-mosaic__tile-image {
            // height: 105%;
            transform: scale(1.05);
        }

        .ds-mosaic__tile-content-footer {
            padding-left: 4px;
        }
    }

    &:after {
        /* make it square */
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    &[data-bg="grey"] {
        background-color: config.$color-3a;
    }
    &[data-bg="black"],
    &[data-bg="red"] {
        color: white;

        .ds-mosaic__tile-content-footer a,
        .ds-mosaic__tile-content-footer a:visited {
            color: white;
        }
    }

    &[data-bg="black"] {
        background-color: config.$color-2;
    }

    &[data-bg="red"] {
        background-color: config.$color-1;
    }

    &[data-bg="image"] {
        .ds-mosaic__tile-content {
            background: linear-gradient(to top, #242424, transparent 50%);
        }
        .ds-mosaic__tile-image {
            display: block;
        }

        .ds-mosaic__tile-title {
            margin-top: auto;
            color: white;
            font-size: 20px;
            line-height: 24px;
            font-size: calc(16px + 6 * ((100vw - 320px) / 680));
            line-height: calc(20px + 6 * ((100vw - 320px) / 680));
            @media screen and (min-width: 1000px) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .ds-mosaic__tile-content-footer,
        .ds-mosaic__tile-description {
            display: none;
        }
    }

    .ds-mosaic__tile-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .ds-mosaic__tile-image {
        display: none;
    }

    .ds-mosaic__tile-link {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
    }

    .ds-mosaic__tile-content {
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .ds-mosaic__tile-title {
        margin: 0 0 0 0;
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        line-height: calc(20px + 6 * ((100vw - 320px) / 680));
        @media screen and (min-width: 1000px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .ds-mosaic__tile-content-footer {
        margin-top: auto;
        padding-left: 0;
        transition: padding 0.25s ease;
    }

    .ds-mosaic__tile-image {
        padding: 0;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // transform: translateX(-50%);
        height: 100%;
        transition: transform 0.25s ease-in-out;
    }
}

.ds-mosaic__tile--primary {
    @extend .ds-mosaic__tile;
    width: 100%;
    min-width: 270px;
    @media(min-width: 500px) {
        width: 40%;
        min-width: 400px;
    }

    .ds-mosaic__tile-title {
        font-size: 24px;
        line-height: 28px;
        font-size: calc(24px + 6 * ((100vw - 320px) / 680));
        line-height: calc(28px + 6 * ((100vw - 320px) / 680));
        @media screen and (min-width: 1000px) {
            font-size: 32px;
            line-height: 36px;
        }
    }
}

@supports(display:grid) {
    .ds-mosaic {
        overflow-x: scroll;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(135px,20%));
        &::after,
        &::before {
            display: none; /* stop clearfix interfering with grid layout */
        }
    }

    .ds-mosaic__tile,
    .ds-mosaic__tile-primary {
        min-width: 100%;
        width: 100%;
    }

    .ds-mosaic__tile--primary {
        grid-column: span 2;
        grid-row: span 2;
    }
}
