form {
    width: 100%;
    max-width: 40em;
}

.form-group {
    margin-top: 2em;
}

input {
    display: block;
}

.control-input {
    padding-top: 12px;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.radio {
    label {
        padding-left: 20px;
    }

    input[type="radio"] {
        position: absolute;
        margin-left: 0px;
    }
}