---
title: "Icon css"
status: 
---
# Icon css generator

If you add icons to the utility set then you can copy and paste code from this page to the _icons.scss file.

<pre>
{% for image in site.static_files %}
{% if image.path contains 'assets/css/icons/feather/' %}
.ds-icon-{{ image.name | remove: ".svg" }} {
    @extend %icon;

    &::after {
        background-image: url("icons/feather/{{ image.name }}");
    }

    &.ds-icon--before {
        
        &::after {
            background-image: none;
        }

        &::before {
            background-image: url("icons/feather/{{ image.name }}");
        }

    }
}{% endif %}{% endfor %}
</pre>
