// depenencies
@use "config";

.ds-shadow-box {
    background: white;
    padding-bottom: config.spunits(4);
    margin-top: config.spunits(8);
    margin-bottom: config.spunits(8);
    border-bottom: 1px solid config.$color-3b;
    
    @media(min-width: 768px){
        padding: config.spunits(8) config.spunits(12);
        border-bottom: none;
        box-shadow: config.$shadow-1;

        > *:first-child {
            margin-top: 0;
        }
    }

}

.ds-border-box {
    background: white;
    margin-top: 1rem;
    padding: config.spunits(4);
    border: 2px solid config.$color-3b;

    > *:first-child {
        margin-top: 0;
    }
}