---
title: "Proofpoint Set"
status: ready
---

<header class="ds-block__header">
    <h2>Break into your career through latrobe</h2>
</header>

<div class="proofpoint-set">
    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}
</div>