.wedgetail-pattern {
    position: relative;
    margin-top: 3rem;
    padding-top: 3rem;
}

h2+.wedgetail-pattern {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

h2 {
    margin-top: 4rem;
    border-top: 1px solid rgba(24, 37, 56, 0.1);
    padding-top: 4rem;
}


.wedgetail-pattern {
    .wedgetail-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wedgetail-title {
        display: flex;
        align-items: center;
    }
}


.wedgetail-label {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 8px;
    margin: 0;
    color: #182538;
    text-transform: uppercase;
    background: $smoke;
    margin-left: 1rem;
    border-radius: 3px;
    line-height: 1;

    &.planned {
        background: $planned;
        color: $white;
    }
    
    &.draft {
        background: $draft;
        color: $white;
    }
    
    &.ready, &.live {
        background: $ready;
        color: $white;
    }
    
    &.retired {
        background: $retired;
        color: $white;
    }
}

.wedgetail-menu-list-local ul li a {
    padding: 0px 0 0px 20px;
}

.wedgetail-menu-list-local {
    .planned,
    .draft,
    .ready,
    .retired {
        position: relative;

        &:before {
            content: "";
            border-radius: 4px;
            width: 8px;
            height: 5px;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.planned {
    &:before {
        background: $planned;
    }
}

.draft {
    &:before {
        background: $draft;
    }
}

.ready {
    &:before {
        background: $ready;
    }
}

.retired {
    &:before {
        background: $retired;
    }
}
