body {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #182538;
}

h1 {
    font-size: 68px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {

}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}

p, li {
    max-width: 800px;
}

p.intro {
    font-size: 1.2rem;
}

figure {
    margin: 0;
}