// depenencies
@use "config";

.ds-media-list {
    padding: 0;
    list-style: none;
}

.ds-media-item {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: config.spunits(8);
}

.ds-media-item__header {
    margin-right: config.spunits(5);
    @media(min-width: 768px) {
        margin-right: config.spunits(8);
    }

    img {
        max-width: 100px;
        @media(min-width: 768px) {
            max-width: 160px;
        }
    }
}

.ds-media-item__body {
    > :first-child {
        margin-top: 0;
    }

    h2, h3, h4, h5, h6 {
        + p {
            margin-top: 0.5em;
        }
    }
}