// depenencies
@use "config";

.ds-media-list {

}

.ds-media-item {
    display: flex;
    justify-content: flex-start;
}

* + li.ds-media-item {
    margin-top: 2em;
}

.ds-media-img {
    margin-right: config.$space-unit * 10;
}