// depenencies
@use "config";

.ds-media-list {
    padding: 0;
}

.ds-media-item {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.ds-media-item__header {
    margin-right: config.$space-unit * 8;
}

.ds-media-item__body {
    > :first-child {
        margin-top: 0;
    }

    h2, h3, h4, h5, h6 {
        + p {
            margin-top: 0.5em;
        }
    }
}