
// depenencies
@use "config";

.ds-child-nav {
    margin: config.spunits(8) auto;
    overflow-x: scroll;
    white-space: nowrap;
    
    .ds-child-nav__list {
        max-width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        //flex-wrap: wrap;
        align-items: center;
    }

    .ds-child-nav__list-item {
        max-width: 100%;
        list-style: none;
        margin: config.spunits(2) 0;
        margin-right: config.spunits(3);
        font-size: 0.9em;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        font-size: inherit;
    }
    .ds-child-nav__link {
        font-weight: 500;
        color: config.$color-3d;
        text-decoration: none;
        border-bottom: 2px solid config.$color-3b;
        display: inline-block;

        &:hover {
            color: config.$color-1;
            border-color: config.$color-1;
        }
    }

}
