// depenencies
@use "variables";

// @include these for flex or grid with flex fallback columns
// optionally pass base width
// note: basis width of 280 with 32px gutter allows for up to three cols in the standard 1024 content container and four cols in medium 1280px container
@mixin columns($basis-width: 280px, $alignment: left) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $alignment;
    margin-right: -(variables.$space-unit*8); /* 2rem/32px */
    & > * {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: $basis-width;
        margin: 1rem 2rem 0 0;
    }
}
@mixin columns-grid($basis-width: 280px, $alignment: center, $wrap: auto-fit) {
    @include columns($basis-width, $alignment); /* flex fallback */
    @supports(display: grid) {
        display: grid;
        justify-items: $alignment;
        grid-column-gap: variables.$space-unit*8; /* 2rem/32px */
        margin-right: 0;
        grid-template-columns: repeat($wrap, minmax($basis-width, 1fr));
        & > * {
            margin: 1rem 0 0 0;
        }
    }
}

// Media standard breakpoints
@mixin bp-up($point) {
    @if $point == xl {
        @media (min-width: 1280px) { @content; }
    }

    @else if $point == lg {
        @media (min-width: 992px) { @content; }
    }

    @else if $point == md {
        @media (min-width: 768px)  { @content; }
    }

    @else if $point == sm {
        @media (min-width: 576px)  { @content; }
    }
}

@mixin bp-down($point) {
    @if $point == xl {
        @media (max-width: 1280px) { @content; }
    }

    @else if $point == lg {
        @media (max-width: 992px) { @content; }
    }

    @else if $point == md {
        @media (max-width: 768px)  { @content; }
    }

    @else if $point == sm {
        @media (max-width: 576px)  { @content; }
    }
}
