// depenencies
@use "variables";
//@use "functions";

// @include these for flex or grid with flex fallback columns
// optionally pass base width
// note: basis width of 276 with 32px gutter allows for up to four cols when viewport >= 1280px (1200px content container) and five cols in wide 1600px container
@mixin columns($basis-width: 264px, $alignment: center) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $alignment;
    margin-right: -#{variables.$gutter};
    & > * {
        flex: 1;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: $basis-width;
        margin: 1rem variables.$gutter 0 0;
    }
}
@mixin columns-grid($basis-width: 264px, $alignment: center, $wrap: auto-fit) {
    @include columns($basis-width, $alignment); /* flex fallback */
    @supports(display: grid) {
        display: grid;
        grid-column-gap: #{variables.$gutter};
        margin-right: 0;
        grid-template-columns: repeat($wrap, minmax($basis-width, 1fr));
        & > * {
            margin: 1rem 0 0 0;
        }
    }
}

// @include overflowXScroll to make box horizontal scroll
// optiontionally provide a breakpoint at which to back to normal flow - useful when you want scroll on mobile only 
@mixin overflowXScroll($break-point: nil) {

    @if $break-point != nil {

        @media(max-width: $break-point) {
            overflow-x: scroll;
            white-space: nowrap;
            // hiding scrollbar
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
        }

    } @else {
        overflow-x: scroll;
        white-space: nowrap;
        // hiding scrollbar
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
    }
    
}