// depenencies
@use "functions";

// @include these for flex or grid with flex fallback columns
// optionally pass base width
// note: basis width of 276 with 32px gutter allows for up to four cols when viewport >= 1280px (1200px content container) and five cols in wide 1600px container
@mixin columns($basis-width: 276px, $alignment: center) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $alignment;
    margin-right: -32px; // using pixels for gutter so it doesn't scale with base font change from 16px -> 18px @1440 width
    & > * {
        flex: 1;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: $basis-width;
        margin: 1rem 32px 0 0; // using pixels for gutter so it doesn't scale with base font change from 16px -> 18px @1440 width
    }
}
@mixin columns-grid($basis-width: 276px, $alignment: center, $wrap: auto-fit) {
    @include columns($basis-width, $alignment); /* flex fallback */
    @supports(display: grid) {
        display: grid;
        grid-column-gap: 32px; // using pixels for gutter so it doesn't scale with base font change from 16px -> 18px @1440 width
        margin-right: 0;
        grid-template-columns: repeat($wrap, minmax($basis-width, 1fr));
        & > * {
            margin: 1rem 0 0 0;
        }
    }
}