//----------------------------------------------------------------------------------------------------------------------------------//
// Fonts
//----------------------------------------------------------------------------------------------------------------------------------//

$font-roboto: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif !default;
$font-roboto-slab: "Roboto Slab", serif !default;

//----------------------------------------------------------------------------------------------------------------------------------//
// Weights
//----------------------------------------------------------------------------------------------------------------------------------//

$light-weight:    300 !default;
$regular:   400 !default;
$medium:   500 !default;
$bold:     700 !default;
$black:    900 !default;


//----------------------------------------------------------------------------------------------------------------------------------//
// Headings
//----------------------------------------------------------------------------------------------------------------------------------//

$heading-scale-ratio: 1.25; // Major third

$h6: 0.8rem;
$h5: 1rem;
$h4: $h5 * $heading-scale-ratio;
$h3: $h4 * $heading-scale-ratio;
$h2: $h3 * $heading-scale-ratio;
$h1: $h2 * $heading-scale-ratio;

//----------------------------------------------------------------------------------------------------------------------------------//
// Colour
//----------------------------------------------------------------------------------------------------------------------------------//

/* red shades */
$color-1: #e2231b !default; /* primary red */

/* grey shades */
$color-2: #242424 !default; /* near black */
$color-2a: #414141 !default; /* charcoal */
$color-3: #fafafa !default;
$color-3a: #eee !default;
$color-3b: #ccc !default;
$color-3c: #999 !default;
$color-3d: #6C6C6C !default; /* accesible version of brand color #75787B; */

/* brand alt sets */
$color-alt-1: rgb(73, 48, 172) !default;
$color-alt-2: rgb(255, 151, 0) !default;
$color-alt-3: rgb(0, 170, 152) !default;
$color-alt-4: rgb(0, 92, 148) !default;
$color-alt-5: rgb(255, 122, 0) !default;
$color-alt-6: rgb(120, 60, 188) !default;
$color-alt-7: rgb(214, 0, 110) !default;
$color-alt-8: rgb(112, 87, 28) !default;
$color-alt-9: rgb(0, 79, 89) !default;

/* Form colours */

$green: #28a745 !default;

/* svg icon filters - changes black to color - https://codepen.io/sosuke/pen/Pjoqqp */
$near-black: invert(7%) sepia(53%) saturate(0%) hue-rotate(173deg) brightness(107%) contrast(86%) !default; /* #242424 */
$charcoal: invert(24%) sepia(1%) saturate(0%) hue-rotate(118deg) brightness(92%) contrast(89%) !default; /* #414141 */
$red: invert(36%) sepia(31%) saturate(3720%) hue-rotate(337deg) brightness(81%) contrast(124%) !default; /* #e2231b */
$white: invert(100%) sepia(0%) saturate(2%) hue-rotate(132deg) brightness(113%) contrast(101%) !default;
$teal: invert(49%) sepia(45%) saturate(3730%) hue-rotate(142deg) brightness(92%) contrast(101%) !default; /* #00aa98*/

//----------------------------------------------------------------------------------------------------------------------------------//
// Spacing
//----------------------------------------------------------------------------------------------------------------------------------//

$space-unit: 0.25rem !default; /* 4px */

//$space-unit: 4px !default;
$space-sm:   calc(1 * var($space-unit)) !default;
$space-md:   calc(2 * var($space-unit)) !default;
$space-lg:   calc(3 * var($space-unit)) !default;
$space-xl:   calc(4 * var($space-unit)) !default;
$space-xxl:  calc(5 * var($space-unit)) !default;
$space-xxxl: calc(10 * var($space-unit)) !default;

$component-padding: $space-md !default;


//----------------------------------------------------------------------------------------------------------------------------------//
// Box shadows
//----------------------------------------------------------------------------------------------------------------------------------//

$shadow-1: -16px 16px 20px $color-3a !default;
$shadow-2: 0px 10px 20px $color-3b !default;
$shadow-3: 0px 10px 20px $color-3d !default; //for dark backgrounds
