---
title: "Proofpoint Set"
status: ready

type: block
width: medium
---
<div class="ds-proofpoint-set">
    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="proofpoint/snippets/proof-points-basic.html"
        container="false"
    %}
</div>
