---
title: "Card"
layout: "sample"
ltulayout: "home"
---
<div class="ds-block ds-block-container-narrow" data-bgcolor="grey">
    <div class="card-set">
        <h2 class="ds-block-heading" data-textcase="">Why study arts, social sciences andcommunications at La Trobe?</h2>
        <div class="columns">

            <div class="card">
                <header class="card-header">
                    <h3 class="card-heading">La Trobe Business School is accredited by the Association to Advance Collgiate Schools of Business</h3>
                </header>
                <div class="card-body">
                    <p>La Trobe Business School is highly regarded and ranked as one of Victoria's top Business schools by prestigious QS World University Rankings.
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </div>

            <a href="" class="card">
                <header class="card-header">
                    <h3 class="card-heading">La Trobe Business School is accredited by the Association to Advance Collgiate Schools of Business</h3>
                </header>
                <div class="card-body">
                    <p>La Trobe Business School is highly regarded and ranked as one of Victoria's top Business schools by prestigious QS World University Rankings.
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </a>

            <div class="card">
                <header class="card-header">
                    <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
                    <h3 class="card-heading">La Trobe Business School is accredited by the Association to Advance Collgiate Schools of Business</h3>
                </header>
                <div class="card-body">
                    <p>La Trobe Business School is highly regarded and ranked as one of Victoria's top Business schools by prestigious QS World University Rankings.
                </div>
                <footer class="card-footer">
                    <p></p>
                </footer>
            </div>

            <a class="card">
                <header class="card-header">
                    <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
                    <h3 class="card-heading">International</h3>
                </header>
                <div class="card-body">
                    <p>We offer degrees that can lead to jobs in hundreds of industries all over the world.
                </div>
                <footer class="card-footer">
                    <p><span class="card-cta">Take the next step</span></p>
                </footer>
            </a>
        </div>
    </div>
</div>
<div class="ds-block ds-block-container-narrow" data-bgcolor="grey1">
<div class="columns">
    <div class="proofpoint">
        <p class="proofpoint-number">Top 1%</p>
        <div class="proofpoint-body">
            <p>Our arts andhumanitiessubjects areranked in theworld’s top one percent.</p>
            <p class="footnote">Times HigherEducation (THE),2019, WorldUniversity Rankings2019 by subject: artsand humanities</p>
        </div>
    </div>
    <div class="proofpoint">
        <p class="proofpoint-number">Top 50</p>
        <div class="proofpoint-body">
            <p>Study at auniversity rankedin the top 50 inAsia-Pacific.</p>
            <p class="footnote">Times HigherEducation (THE),2019, Bestuniversities in theAsia-Pacific region2019</p>
        </div>
    </div>
    <div class="proofpoint">
        <p class="proofpoint-number">Practical experience</p>
        <div class="proofpoint-body">
            <p>Put theory into practise with professional placements in Australia and overseas.</p>
        </div>
    </div>
</div>
</div>
