---
title: "Card profile"
layout: "sample"
ltulayout: "standard_page"
---

<div class="card card-profile">
    <div class="card-profile-image">
        <img src="https://via.placeholder.com/280">
    </div>

    <div class="card-profile-text">
        <div class="card-body">
            <p>&ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;</p>
        </div>

        <div class="card-footer">
            <div class="card-person-info">
                <h5 class="person-name">John Appleseed</h5>
                <p class="small">Senior Accountant,<br>Southern Cross Business Advisers</p>
                <h6 class="card-degree">Graduated from Bachelor of Accounting</h6>
            </div>

            <a href="#" class="btn btn-secondary btn-small icon-play icon-before">Watch story</a>
        </div>
    </div>
</div>
