---
title: "Card profile"
layout: "sample"
ltulayout: "standard_page"
---

<div class="card card-profile">

    <div class="card-profile-image">
        <img src="https://via.placeholder.com/120">
    </div>

    <div class="card-body">

        <p>&ldquo;There is little doubt that La Trobe and the Bachelor of Accounting course has given me this opportunity to enter and grow in my own chosen career path.&rdquo;</p>
        
    </div>

    <div class="card-footer">
        <h5 class="person-name">John Appleseed</h5>
        <p class="small">Senior Accountant,<br>Southern Cross Business Advisers</p>
        <h6 class="card-degree">Graduated from Bachelor of Accounting</h6>

        <a href="#" class="btn btn-secondary btn-small icon-play icon-before">Watch story</a>
    </div>

    <!-- <header class="card-header">
        <h3 class="card-heading">Human, transferrable skills</h3>
    </header>
    <div class="card-body">
        <p>Build the human skills that transfer to any context. Communication. Innovation. Creative thinking. You’ll develop your ability to listen, empathise, think critically and problem solve.</p>
    </div> -->
</div>
