---
title: "Cards"
---
<p class="intro">The card component is used to provide a brief summary of content or a task, often with a link to more detail. Cards are frequently displayed alongside other cards in a <a href="{{ site.url }}/blocks/card-set/">card set</a> to group related content or tasks.</p>
<h2>Basic card</h2>
{% include sample-iframe.html snippet="card.html" bgcolor="#eee" %}
<h3>Basic card linked</h3>
{% include sample-iframe.html snippet="card-linked.html" %}
<h3>Basic card linked with cta</h3>
{% include sample-iframe.html snippet="card-linked-cta.html" %}
<h2>Card with image</h2>
{% include sample-iframe.html snippet="card-image.html" bgcolor="#eee" %}
<h3>Card with image linked</h3>
{% include sample-iframe.html snippet="card-image-linked.html" %}
<h2>Card with image linked with cta</h2>
{% include sample-iframe.html snippet="card-image-linked-cta.html" %}
