.cta {
    margin-top: 4%;
    
    @include columns();

    @include bp-up(xl) {
        text-align: center;
    }
}

.cta--alternate {
    @include columns;

    // display: flex;
    // flex-direction: column;

    @include bp-down(xl) {
        align-items: center;
    }

    @include bp-up(xl) {
        flex-direction: row;
    }

    justify-content: space-between;
}


.cta__heading {
    @include bp-down(xl) {
        text-align: center;
    }

    @include bp-up(lg) {
        flex-grow: 0;
        flex-basis: 33.3%;
    }
}

.cta__item-group {
    display: flex;
    flex-direction: column;

    @include bp-up(sm) {
        flex-grow: 0;
        flex-basis: 25%;
    }

    @include bp-up(lg) {
        flex-direction: row;
        flex-grow: 1;
    }
}

.cta__item {
    @include bp-up(lg) {
        width: 100%;
        margin-left: 40px;
        margin-bottom: 0;

        &:first-child {
            margin-left: 0;;
        }
    }

    @include bp-up(xl) {
        margin-top: 0;

        &:first-child {
            margin-left: 40px;
        }
    }
}

.cta__footer {
    border-top: 1px solid grey;
    margin-top: 4%;
    padding-top: 4%;
}