---
title: "Text"
---
<h2>Headings and paragraphs</h2>
{% include sample-iframe.html snippet="headings.html" %}

<h3>Font styles</h3>
<table class="sg-table">
    <thead>
        <tr><th>Tag</th><th>Font</th><th>Size / Line height <br>(&lt; 1400px viewport)</th><th>Size / Line height <br>(&gt;1400px viewport)</th><th>Weight</th></tr>
    </thead>
    <tbody>
        <tr><td>H1</td><td>RobotoCondensed Bold</td><td>36px / 40px</td><td>48px / 52px</td><td>Normal</td></tr>
        <tr><td>H2</td><td>RobotoCondensed Bold</td><td>32px / 36px</td><td>32px / 36px</td><td>Normal</td></tr>
        <tr><td>H3</td><td>RobotoCondensed Bold</td><td>26px / 32px</td><td>28px / 32px</td><td>Normal</td></tr>
        <tr><td>H4</td><td>RobotoCondensed Bold</td><td>22px / 28px</td><td>24px / 28px</td><td>Normal</td></tr>
        <tr><td>H5</td><td>RobotoCondensed Bold</td><td>18px / 24px</td><td>20px / 24px</td><td>Normal</td></tr>
        <tr><td>H6</td><td>RobotoCondensed Bold</td><td>16px / 20px</td><td>18px / 20px</td><td>Normal</td></tr>
        <tr><td>Everything else</td><td>Roboto Light</td><td>16px / 24px</td><td>18px / 28px</td><td>300</td></tr>
    </tbody>
</table>

<h2>Lists</h2>
<h3>Ordered lists</h3>
{% include sample-iframe.html snippet="ordered-list.html" %}
<h3>Unordered lists</h3>
{% include sample-iframe.html snippet="unordered-list.html" %}
<h3>Double lists</h3>
{% include sample-iframe.html snippet="double-list.html" %}

<h2>Block quote</h2>
{% include sample-iframe.html snippet="blockquote.html" %}

<h2>Pull quote</h2>
{% include sample-iframe.html snippet="pull-quote.html" %}

<h2>Horizontal rule</h2>
{% include sample-iframe.html snippet="hr.html" %}

<h2>Inline text elements</h2>
<p>Inline text elements are used within headings, paragraphs and list items to markup and format words and phrases.</p>
{% include sample-iframe.html snippet="inline.html" %}
