.ds-image-grid {
    display: grid;
    grid-gap: $spacer * 4;

    @include bp-down(xl) {
        grid-gap: $spacer * 2;
    }

    @include bp-down(sm) {
        grid-gap: $spacer;
    }

    &__image {
        position: relative;
        background-color: #333333;
        background-image: url(https://picsum.photos/1920/1920);
        background-position: center;
        background-size: cover;
        width: 100%;
        margin-top: 0;
        grid-column: span 3;
        grid-row: span 3;
        padding-top: 100%;

        @include bp-down(sm) {
            grid-column: span 6;
        }

        &:nth-of-type(15n+1),
        &:nth-of-type(15n+7) {
            grid-column: span 12;
            grid-row: span 6;
            padding-top: 50%;

            @include bp-down(sm) {
                padding-top: 75%;
            }
        }

        &:nth-of-type(15n+2),
        &:nth-of-type(15n+10) {
            grid-column: span 6;
            grid-row: span 6;

            @include bp-down(sm) {
                grid-column: span 12;
                grid-row: span 3;
                padding-top: 50%;
            }
        }

        &:nth-of-type(15n+13),
        &:nth-of-type(15n+14),
        &:nth-of-type(15n+15) {
            grid-column: span 4;
            grid-row: span 4;
        }
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: $spacer * 4;
        color: white;
        background: linear-gradient(transparent, #242424);

    }
}
