// depenencies
@use "config";

$ds-logo-width: 200px;

.ds-logo-showcase {
    list-style-type: none;
    margin: config.spunits(4) auto config.spunits(8) auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: calc(6 * (#{$ds-logo-width} + #{config.spunits(2)}));

    /*** modifiers ***/
    // max 5 per row ds-logo-showcase--max-5-cols
    &--max-5-cols {
        max-width: calc(5 * (#{$ds-logo-width} + #{config.spunits(2)}));
    }
    // max 4 per row ds-logo-showcase--max-4-cols
    &--max-4-cols {
        max-width: calc(4 * (#{$ds-logo-width} + #{config.spunits(2)}));
    }
}

.ds-logo-showcase__logo {
    margin: config.spunits(1);
    width: $ds-logo-width;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}
