// depenencies
@use "config";

.ds-modal-dialog {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1280px;
    max-height: 90vh;
    margin: auto;

    overflow-y: scroll;
    /*hide scrollbar*/ 
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .ds-modal-content {
        display: block;
        background-color: #fff;
        padding: config.spunits(8);

        & > :first-child {
            margin-top: 0;
        }
    }
}

.ds-modal-content {
    display: none;
}
