.cta-box {
    box-sizing: border-box;
    clear: both;
    display: table;
    padding: 0;
    position: relative;
    width: 100%;
}

.cta-content {
    background-color: #eee;
    padding: 0 !important;
}

@media (min-width: 960px) {
    // TODO - add to legacy overrides.
    .cta-heading {
        width: 33.3%;
    }

    .cta-content {
        width: 75%;
        padding: 0 !important;
        display: inherit !important;
    }
}

.cta-heading {
    padding: 40px;
    background-color: #242424;
    color: #fff;
    vertical-align: middle;

    @media (min-width: 960px) {
        width: 32%;
    }
}