.story {
    margin: 40px;
    overflow: hidden;
    position: relative;
}

.story-text {
    width: 50%;
    padding: 60px;
    box-sizing: border-box;
    position: relative;
}

.story img {
    position: absolute;
    width: 100%;
}

.bleach {
    width: 50%;
    background: rgba(255,255,255,0.8);
    bottom: 0;
    position: absolute;
    top: 0;
}

.story h2 {
    font-size: 28px;
    line-height: 32px;
}

//TODO - Move to override section after dev merge
.content-wrapper div img {
    padding: 0!important;
}