// depenencies
@use "config";

.ds-table-wrapper {
    /*
     * responsive tables - scroll when window width too small
     * for squiz this wrapper is added via table.js
     */
    overflow-x: auto;
}

table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table caption {
    font-size: config.$h4;
    font-weight: config.$medium;
    padding: config.spunits(4) config.spunits(8);
    text-align: left;
}

table caption.subtle-right {
    background-color: config.$color-3a;
    padding: config.spunits(1) config.spunits(10);
}

td, th {
    vertical-align: top;
    padding: config.spunits(7);

    > :first-child {
        margin-top: 0;
    }
}

th {
    font-weight: config.$bold;
    text-align: left;
    border-bottom: 2px solid config.$color-3b;
}

tbody th:first-child {
    border-right: 2px solid config.$color-3b;
}

td {
    border-right: 2px solid config.$color-3b;

    &:last-child {
        border-right: none;
    }
}

tr {
    border-top: 2px solid config.$color-3b;
    border-bottom: 2px solid config.$color-3b;
}

// jquery tablesorter styles - investigate if required
/*
.tablesorter .header {
    background-image: url("icons/feather/chevron-down.svg");
    background-position: center right 4px;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.tablesorter .header:hover {
    background-color: config.$color-3;
}
*/

.ds-table--unstyled {
    margin-top: 1rem;
    margin-bottom: 0;
    border: none;
    width: auto;
    caption, tr, th, td {
        border: none;
        padding: 0;
    }
    th, td {
        padding: 4px 8px 0 0;
    }
    tr {
        th, td {
            &:last-child {
                padding-right: 0;
            }
        }
    }
    tbody th:first-child {
        border-right: none;
    }
}