.ds-table-wrapper {
    //responsive tables - scroll when
    overflow-x: auto;
}

table {
    border: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    border-top: 2px solid $color-3a;
}

table caption {
    font-size: $h4;
    font-weight: $medium;
    padding: $spacer * 4 $spacer * 8;
    text-align: left;
    background-color: $color-3a;
    border-top: 2px solid $color-3a;
}

table caption.subtle-right {
    background-color: #eee;
    padding: $spacer $spacer * 10;
}

td, th {
    vertical-align: top;
    padding: $spacer*7;
}

th {
    background-color: white;
    text-align: left;
    border-bottom: 2px solid $color-3a;
}

tbody th:first-child {
    border-right: 2px solid $color-3a;
}

td {
    border-right: 2px solid $color-3a;

    &:last-child {
        border-right: none;
    }
}

tr {
    border-bottom: 2px solid $color-3a;
}

// jquery tablesorter styles
.tablesorter .header {
    background-image: url("icons/feather/chevron-down.svg");
    background-position: center right 4px;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.tablesorter .header:hover {
    background-color: $color-3;
}
