// depenencies
@use "config";

.ds-table-wrapper {
    //responsive tables - scroll when
    overflow-x: auto;
}

table {
    border: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table caption {
    font-size: config.$h4;
    font-weight: config.$medium;
    padding: config.$space-unit * 4 config.$space-unit * 8;
    text-align: left;
}

table caption.subtle-right {
    background-color: #eee;
    padding: config.$space-unit config.$space-unit * 10;
}

td, th {
    vertical-align: top;
    padding: config.$space-unit*7;
}

th {
    background-color: white;
    text-align: left;
    border-bottom: 2px solid config.$color-3a;
}

tbody th:first-child {
    border-right: 2px solid config.$color-3a;
}

td {
    border-right: 2px solid config.$color-3a;

    &:last-child {
        border-right: none;
    }
}

tr {
    border-top: 2px solid config.$color-3a;
    border-bottom: 2px solid config.$color-3a;
}

// jquery tablesorter styles
.tablesorter .header {
    background-image: url("icons/feather/chevron-down.svg");
    background-position: center right 4px;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.tablesorter .header:hover {
    background-color: config.$color-3;
}
