---
title: "Typography"
---
<h2>Typeface</h2>
<h3>Roboto Light</h3>
{% include sample-iframe-only.html snippet="roboto.html" ltulayout="home" %}

<h3>Roboto Condensed Bold</h3>
<p><a href="https://fonts.google.com/specimen/Roboto+Condensed">Roboto Condensed Bold</a> is used for headings and other specific treatments.</p>
{% include sample-iframe-only.html snippet="roboto-bold.html" ltulayout="home" %}

<h3>Brioni Light</h3>
<p>A tertiary font <a href="https://www.typotheque.com/fonts/brioni">Brioni Light</a> is also available.
{% include sample-iframe-only.html snippet="brioni.html" ltulayout="home" %}
<p>The main CSS file only makes use of it in 4 instances:</p>
<ul>
    <li>Pull quotes.</li>
    <li>Intro paragraphs in news articles section - I couldn't find an example on the web.</li>
    <li>Attribution paragraphs in Profiles section - I couldn't find an example on the web.</li>
    <li>First paragraph in cross promo  - I couldn't find an example on the web.</li>
</ul>
<p class="sg-alert">!!!AJP!!! We should replace this with a system font - e.g. <span style="font-family: Georgia">Georgia</span> - the extra font download is not worth it for these four uses!</p>
