// depenencies
@use "config";
@use "core/scss/icons";

.ds-breadcrumbs {
    padding: 20px 0;
    border-bottom: 1px dotted config.$color-3b;
    
}

.ds-breadcrumbs {

    font-size: 16px; // stop large screen increase
    line-height: 20px;
    a {
        @extend .ds-icon-chevron-right;  
    }

    a:last-child {
        color: #000;
        pointer-events: none;
        text-decoration: none;
        &::after {
            display: none;
        }
    }

}