// depenencies
@use "config";
@use "core/scss/icons";

.ds-breadcrumbs {
    padding: 20px 0px;
    margin: 0 20px;
    border-bottom: 1px dotted config.$color-3b;
    
    @media(min-width: 640px){
        margin: 0 40px;
    }
}

.ds-breadcrumbs {

    font-size: 16px; // stop large screen increase
    line-height: 20px;

    a {
        @extend .ds-icon-chevron-right;
    }

    a:last-child {
        color: #000;
        pointer-events: none;
        text-decoration: none;
        &::after {
            display: none;
        }
    }

    // add this class if using squiz %asset_lineage_linked% for breadcrumbs as it adds &gt; after each link
    &.is-squiz {
        color: transparent;
        a {
            margin-right: -12px;
        }
    }

}