---
title: "Card set"
width: wide

type: block
width: medium
---
<div class="ds-card-set">
    {% include sample-component.html
        snippet="card/snippets/card-image.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="card/snippets/card-image.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="card/snippets/card-image.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="card/snippets/card-image.html"
        container="false"
    %}
</div>
