@use "config";
.ds-page-intro {
    display: flex;
    flex-direction: column-reverse;
    margin-top: config.spunits(4);
    .ds-page-intro__content {
        & > :first-child {
            margin-top: 0;
        }
    }
    .ds-page-intro__image {
        margin-top: 0;
        align-self: flex-start;
    }
    @media(min-width: 768px) {
        flex-direction: row;
        flex-direction: row;
        align-items: center;
        .ds-page-intro__image {
            margin-top: 0;
            min-height: 260px;
            max-height: 260px;
        }
    }
}
