@use "config";
.ds-page-intro {
    margin-top: config.spunits(4);
    .ds-page-intro__content {
        & > :first-child {
            margin-top: 0;
        }
    }
    .ds-page-intro__image {
        margin: 0 0 1rem 0;
    }
    @media(min-width: 1024px) {
        .ds-page-intro__image {
            width: 30%;
            height: auto;
            max-width: 460px;
            clear: both;
            float: right;
            margin: 0 0 1rem 2rem;
            //min-height: 260px;
            //max-height: 260px;
        }
    }
}
