@use "config";
.ds-page-intro {
    margin-top: config.spunits(4);
    .ds-page-intro__content {
        & > :first-child {
            margin-top: 0;
        }
    }
    .ds-figure {
        margin: 0 0 config.spunits(4) 0;
    }
    @media(min-width: 1024px) {
        .ds-figure {
            width: calc(100% / 3 - 32px);
            height: auto;
            max-width: 460px;
            clear: both;
            float: right;
            margin: 0 0 config.spunits(4) 32px;
        }
    }
}
