.sg-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    background: #f4f4f4;
}

.sg-menu-list {
    background: #eee;
    overflow-y: scroll;
    
    .ds-heading {
        padding: 20px;
    
        * {
            margin: 0;
        }
    }
}

.sg-menu-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sg-menu-list p {
    padding: 10px 20px;
    margin: 20px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    background: #ddd;
}

.sg-menu-list a {
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
    padding: 10px 20px;
}