.sg-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
}

.sg-menu-list {
    background: rgb(24, 37, 56);
    overflow-y: scroll;
    
    .ds-heading {
        padding: 20px;
        
        * {
            margin: 0;
            color: white;
        }
    }
}

.sg-menu-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sg-menu-list p {
    padding: 20px 20px 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border-top: 1px solid rgba(255,255,255, 0.15);
    letter-spacing: 1px;
    margin-bottom: 0;

    &:first-child {
        margin: 0;
        border: none;
        color: yellow;
        padding-bottom: 0;
    }
}

.sg-menu-list a {
    display: block;
    width: 100%;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
}