---
title: "Inputs"
status: draft
---

<div class="ds-block">
    <div class="ds-block-wrapper" data-blockwidth="narrow">
        <div class="ds-form-group" data-cols="12">
            {% include sample-component.html
                snippet="ltu-patterns/src/callout/snippets/callout-small.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="6">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/text-input-hint.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="6">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/text-input-required.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="12">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/date-picker.html"
                container="false"
                label="Date"
            %}
        </div>

        <div class="ds-form-group">
            <label>Gender</label>

            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/radio/radio.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/alert/snippets/alert-info/alert-info.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="12">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/checkbox/checkbox-group.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/checkbox/checkbox-group-4col.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/radio/radio-group.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/radio/radio-group-4col.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/file/file-uploader.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="6" data-inline>
            {% include sample-component.html
                snippet="ltu-patterns/src/select/snippets/select.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="6" data-inline>
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/disabled-text-input.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/textarea.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="6">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/number-input.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="5">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/src/tests/text-input-address.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="3">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/src/tests/text-input-phone.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="2">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/src/tests/text-input-phone.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group" data-cols="1">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/src/tests/text-input-postcode.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/button/snippets/form_button.html"
                container="false"
            %}
        </div>
    </div>
</div>