---
title: "Invalid submission"
status: draft
---

<div class="ds-block">
    <div class="ds-block-wrapper" data-blockwidth="narrow">
        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/alert/snippets/alert-error/alert-error-with-content.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/text-input/text-input-invalid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/checkbox/checkbox-group-invalid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/inputs/snippets/radio/radio-group-invalid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/select/snippets/select-invalid.html"
                container="false"
            %}
        </div>

        <div class="ds-form-group">
            {% include sample-component.html
                snippet="ltu-patterns/src/button/snippets/form_button.html"
                container="false"
            %}
        </div>
    </div>
</div>