---
title: "Callout"
layout: "sample"
ltulayout: "standard_page"
status: "draft"
---

<div class="callout" data-type="info">
    <div class="callout-content">
        <h2 class="callout-heading">Make an informed choice</h2>

        <p>Our one-on-one consultations are designed to hone in on your objectives and provide practical guidance about your study options</p>

        <a class="btn btn-small icon-users" id="" href="https://www.latrobe.edu.au/study/one-on-one-consultations/undergraduate">Book one-on-one</a>
    </div>
</div>