// depenencies
@use "config";

.ds-testimonial {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
}

.ds-testimonial__image {
    border-radius: 100%;
    overflow: hidden;
    width: config.spunits(30); /*120px*/
    height: config.spunits(30); /*120px*/
    margin: 0 auto 0 auto;
    position: relative;

    img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ds-testimonial__copy {
    padding: config.spunits(2) 0px config.spunits(5) 0px;
    
    blockquote {
        margin: 1em 0 0 0;
        padding-left: 0;
        border-left: none;
        & > p {
            font-size: 1rem;
            font-weight: config.$regular;
        }
    }

    .ds-testimonial__cta {
        margin-top: config.spunits(5); /*20px*/;
    }

}

.ds-testimonial-set {
    @include config.columns-grid($alignment: center);

    .ds-testimonial {
        max-width: 1024px;
    }


    /* if only one exists in set */
    .ds-testimonial:nth-last-child(1):first-child,
    .ds-testimonial:nth-last-child(1):first-child ~ .ds-testimonial {
        @media(min-width: 600px){

            .ds-testimonial__image {
                width: config.spunits(70); /*280px*/;
                height: config.spunits(70); /*280px*/;
                margin: 0 0 config.spunits(5) config.spunits(5); /*0 0 20px 20px;*/
                float: right;
            }

            .ds-testimonial__copy {
                padding-top: config.spunits(5);
                blockquote {
                    & > p {
                        font-size: config.$h4;
                    }
                }
            }

        }
        @media(min-width: 1024px){
            .ds-testimonial__image {
                width: config.spunits(90); /*360px*/;
                height: config.spunits(90); /*360px*/;
            }
        }

    }

    /* if only two exist */
    .ds-testimonial:nth-last-child(2):first-child,
    .ds-testimonial:nth-last-child(2):first-child ~ .ds-testimonial {

        @media(min-width: 1200px){

            .ds-testimonial__image {
                width: config.spunits(70); /*280px*/;
                height: config.spunits(70); /*280px*/;
                margin: 0 0 20px 20px;
                float: right;
            }

            .ds-testimonial__copy {
                border: 0px;
                padding-top: 20px;
            }

        }
    }

}