
.ds-testimonial {
    display: block;
    color: $color-2;
    text-decoration: none;
    width: 100%;
    max-width: 1024px;
}

.ds-testimonial__image {
    border-radius: 100%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto -60px auto;
    position: relative;

    img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ds-testimonial__copy {
    padding: 84px 0px 20px 0px;

    blockquote {
        margin-top: 0;
        margin-bottom: 2rem;
        padding-left: 0;
        border-left: none;
        & > p {
            font-size: 1rem;
            font-weight: $regular;
        }
    }

    .ds-testimonial__cta {
        margin-top: 20px;
    }

}

@media(min-width: 600px){

    .ds-testimonial__image {
        width: 280px;
        height: 280px;
        margin: 0 0 20px 20px;
        float: right;
    }

    .ds-testimonial__copy {
        margin-top: 0 !important; /* override lobotomised owl */
        padding-top: 20px;
    }

    .ds-testimonial-set .ds-testimonial__image {
        width: 120px;
        height: 120px;
        margin: 0 auto -60px auto;
        float: none;
    }

    .ds-testimonial-set .ds-testimonial__copy {
        padding: 84px 20px 20px 20px;
    }
}


.ds-testimonial-set {
    @extend .ds-card-set;
}

/* if only one exists */
.ds-testimonial-set .ds-testimonial:nth-last-child(1):first-child,
.ds-testimonial-set .ds-testimonial:nth-last-child(1):first-child ~ .ds-testimonial {
    @media(min-width: 600px){
        display: block;

        .ds-testimonial__image {
            width: 280px;
            height: 280px;
            margin: 0 0 20px 20px;
            float: right;
        }

        .ds-testimonial__copy {
            border: 0px;
            padding-top: 20px;
        }
    }
    @media(min-width: 1024px){
        .ds-testimonial__image {
            width: 360px;
            height: 360px;
        }
    }

}

/* if only two exist */
.ds-testimonial-set .ds-testimonial:nth-last-child(2):first-child,
.ds-testimonial-set .ds-testimonial:nth-last-child(2):first-child ~ .ds-testimonial {

    @media(min-width: 1200px){
        display: block;

        .ds-testimonial__image {
            width: 280px;
            height: 280px;
            margin: 0 0 20px 20px;
            float: right;
        }

        .ds-testimonial__copy {
            border: 0px;
            padding-top: 20px;
        }
    }
}
