// depenencies
@use "sass:math";
@use "config";

.ds-promo {
    margin: 4rem 0;
    outline: 1px solid config.$color-3b;

    position: relative;

    @media(min-width: 960px) {
        border: 0;
        outline: 1px solid config.$color-3b;
        outline-offset: -1px;
    }

    // red triangle top left
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 41px solid transparent;
        border-top: 30px solid #e2231b;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        @media(min-width: 1024px) {
            border-right: 81px solid transparent;
            border-top: 60px solid #e2231b;
        }
    }
}

.ds-promo__content {
    @media(min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        > * {
            width: 50%;
        }
    }
}

.ds-promo__text {

    @media(min-width: 1136px) {
        flex: 4;
    }

}

.ds-promo__text-wrapper {
    padding: config.spunits(8) config.spunits(5);
    text-align: center;

    > :first-child {
        margin-top: 0;
    }

}

.ds-promo__heading {

    // latrobe chevron
    .ds-promo__heading__chevron {
        content: "";
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url("icons/latrobe-chevron-RGB.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translateX(32px) translateY(-32px);
    }
}

.ds-promo__image {

    @media(min-width: 1136px) {
        flex: 6;
    }

    position: relative;

    // white triangle bottom right
    &::after {

        @media(min-width: 1024px) {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 146px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 107px solid #fff;
            position: absolute;
            bottom: 0;
            right: 0;
        }

    }

}

.ds-promo__image-wrapper {

    //3/4 aspect ratio box
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: math.div(2, 3) * 100%;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

        object-fit: cover;
        min-height: 100%;
        width: auto;
    }


}


// .ds-promo modifier
.ds-promo--reverse {
    // red triangle top right
    &::before {
        border-left: 41px solid transparent;
        border-right: 0px solid transparent;
        border-top: 30px solid #e2231b;
        position: absolute;
        z-index: 2;
        top: 0;
        left: auto;
        right: 0;

        @media(min-width: 1024px) {
            border-left: 81px solid transparent;
            border-top: 60px solid #e2231b;
        }
    }

    // reverses text and image order
    .ds-promo__content {
        @media(min-width: 768px) {
            flex-direction: row;
        }
    }

    .ds-promo__image {
        // white triangle bottom left
        &::after {

            @media(min-width: 1024px) {
                border-left: 0px solid transparent;
                border-right: 146px solid transparent;
                border-bottom: 107px solid #fff;
                border-top: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}

// full bleed version modifier
.ds-promo--image-bleed {

    @media(min-width: 768px) {

        .ds-promo__content {
            display: block;
            position: relative;
            height: 0;
            padding-top: .5 * 100%;
            overflow: hidden;

            @media(min-width: 1136px) {
                padding-top: .4 * 100%;
            }
        }

        .ds-promo__image {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

            &::before {
                display: none;
            }
        }

        .ds-promo__image-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
        }

        .ds-promo__text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .ds-promo__text-wrapper {
            background-color: rgba(255,255,255,.95);
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: 40%;
            min-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media(min-width: 1136px) {
        .ds-promo__text-wrapper {
            top: 24px;
            left: 24px;
            bottom: 24px;
        }
    }

    &.ds-promo--reverse {

        @media(min-width: 768px) {
            .ds-promo__text-wrapper {
                right: 0px;
                left: auto;
            }
        }

        @media(min-width: 1136px) {
            .ds-promo__text-wrapper {
                right: 24px;
                left: auto;
            }
        }
    }

}

// modifier to set text alignment left
.ds-promo--text-align-left  {
    .ds-promo__text-wrapper {
        text-align: left;
    }
}