// depenencies
@use "config";
@use "text/scss/text";

.ds-promo {
    margin: 4rem 0;
    outline: 1px solid config.$color-3b;

    position: relative;

    @media(min-width: 960px) {
        border: 0;
        outline: 1px solid config.$color-3b;
        outline-offset: -1px;
    }

    // red triangle top left
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 81px solid transparent;
        border-top: 60px solid #e2231b;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
}

.ds-promo__content {
    @media(min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        > * {
            width: 50%;
        }
    }
}

.ds-promo__text {

    @media(min-width: 1136px) {
        flex: 4;
    }

}

.ds-promo__text-wrapper {
    padding: config.spunits(11);
    text-align: center;

    > :first-child {
        margin-top: 0;
    }
    
}

.ds-promo__heading {

    // latrobe chevron
    .ds-promo__heading__chevron {
        content: "";
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url("icons/latrobe-chevron-RGB.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translateX(32px) translateY(-32px);
    }
}

.ds-promo__image {

    @media(min-width: 1136px) {
        flex: 6;
    }

    position: relative;

    // white triangle top left
    /*&::before {
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        border-right: config.spunits(35) solid transparent;
        border-left: 0px solid transparent;
        border-top: config.spunits(13) solid #fff;
        position: absolute;
        top: 1px;
        left: 0;
        z-index: 1;
    }*/

    // white triangle bottom right
    &::after {
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        border-left: config.spunits(35) solid transparent;
        border-right: 0px solid transparent;
        border-bottom: config.spunits(13) solid #fff;
        position: absolute;
        bottom: 0;
        right: 0;

        border-left: 81px solid transparent;
        border-bottom: 60px solid #fff;

        @media(min-width: 768px) {
            border-left: 146px solid transparent;
            border-bottom: 107px solid #fff;
        }
    }
    
}

.ds-promo__image-wrapper {

    //3/4 aspect ratio box
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 2/3 * 100%;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }

    
}


// .ds-promo modifier
.ds-promo--reverse {
    // red triangle top right
    &::before {
        border-left: 81px solid transparent;
        border-right: 0px solid transparent;
        border-top: 60px solid #e2231b;
        position: absolute;
        z-index: 2;
        top: 0;
        left: auto;
        right: 0;
    }

    // reverses text and image order
    .ds-promo__content {
        @media(min-width: 768px) {
            flex-direction: row;
        }
    }

    .ds-promo__image {
        // white triangle top right
        /*&::before {
            border-left: config.spunits(35) solid transparent;
            border-right: 0px solid transparent;
            border-top: config.spunits(13) solid #fff;
            bottom: 0;
            top: 1px;
            right: 0;
            left: auto;
            z-index: 1;
        }*/

        // white triangle bottom left
        &::after {
            border-right: config.spunits(35) solid transparent;
            border-left: 0px solid transparent;
            border-top: 0;
            border-bottom: config.spunits(13) solid #fff;
            bottom: 0;
            left: 0;

            border-right: 146px solid transparent;
            border-bottom: 107px solid #fff;
        }
    }
}

// full bleed version modifier
.ds-promo--image-bleed {

    @media(min-width: 768px) {

        .ds-promo__content {
            display: block;
            position: relative;
            height: 0;
            padding-top: .5 * 100%;
            overflow: hidden;

            @media(min-width: 1136px) {
                padding-top: .4 * 100%;
            }
        }

        .ds-promo__image {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

            &::before {
                display: none;
            }
        }

        .ds-promo__image-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
        }

        .ds-promo__text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .ds-promo__text-wrapper {
            background-color: rgba(255,255,255,.95);
            border: 1px solid config.$color-3b;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: 40%;
            min-width: 400px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media(min-width: 1136px) {
        .ds-promo__text-wrapper {
            top: 24px;
            left: 24px;
            bottom: 24px;
        }
    }

    &.ds-promo--reverse {

        @media(min-width: 768px) {
            .ds-promo__text-wrapper {
                right: 0px;
                left: auto;
            }
        }

        @media(min-width: 1136px) {
            .ds-promo__text-wrapper {
                right: 24px;
                left: auto;
            }
        }
    }

}

// modifier to set text alignment left
.ds-promo--text-align-left  {
    .ds-promo__text-wrapper {
        text-align: left;
    }
}



// hero promo for home page
.ds-hero-promo {

    @media(min-width: 768px) {
        position: relative;
        height: 0;
        min-height: 500px;
        padding-bottom: 30%;
        overflow: hidden;
    }
}

.ds-hero-promo__image {

    position: relative;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;

    @media(min-width: 768px) {
        position: static;
    }

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-left: auto;
    }
   
}

.ds-hero-promo__content {
    
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    color: #fff;

    @media(min-width: 768px) {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }

    @media(min-width: 1281px) {
        top: 50%;
        transform: translateY(-55%);
    }
}

.ds-hero-promo__text {

    width: 100%;
    padding: 20px;

    @media(max-width: 767px) {
        background: #e2231b;
    }

    @media(min-width: 640px) {
        padding: 20px 40px;
    }

    &::before {
        display: block;
        content: url(icons/latrobe-chevron-RGB-white.svg);
        width: 40px;
    }

    @media(min-width: 768px) {
        width: 50%;
        &::before {
            display: block;
            content: url(img/logo-white.svg);
            width: 300px;
            margin-top: -40px;
            margin-left: -40px;
        }
    }

}

.ds-hero-promo__text__headline {
    @extend .h1;
    margin-top: 0em;
    @media(min-width: 1680px) {
        margin-top: 0.5em;
    }
}

.ds-hero-promo__text__subheadline {
    @extend .h2;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.ds-hero-promo__gradient-overlay {
    @media(min-width: 768px) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        //background: linear-gradient(110deg, #e2231b 65%, transparent 65%);
        background: linear-gradient(110deg, #e2231b 55%, transparent 55%);
    }

    @media(min-width: 1152px) {
        background: linear-gradient(110deg, #e2231b 50%, transparent 50%);
    }

}

.ds-hero-promo--image-right:not(.ds-hero-promo--transparent-gradient) {
    @media(min-width: 768px) {
        .ds-hero-promo__image {
            
            img {
                height: 120%;
                width: auto;
                object-fit: cover;
            }

        }
    }
}

.ds-hero-promo--transparent-gradient {

    .ds-hero-promo__text__headline,
    .ds-hero-promo__text__subheadline {
        text-shadow: 0px 0px 16px rgba(0,0,0,0.5);
    }

    .ds-hero-promo__gradient-overlay {
        @media(min-width: 768px) {
            background: linear-gradient(110deg, rgba(0,0,0,0.5) 55%, transparent 65%);
        }

        @media(min-width: 1152px) {
            background: linear-gradient(110deg, rgba(0,0,0,0.5) 45%, transparent 55%);
        }
    }
    
}




.ds-find-a-course {
    
    padding: 20px 0 60px 0;
    background-color: #fff;
}

.ds-find-a-course--homepage {
    @media(min-width: 1281px) {
        box-shadow: config.$shadow-2;
        position: relative;
        z-index: 1;
        margin-top: -4rem;
    }

    @media(min-width: 1441px) {
        margin-top: -4vw;
    }
}