---
title: "Input grid"
status: draft
---

<div class="ds-block">
    <div class="ds-block-wrapper" data-blockwidth="narrow">
        <form class="ds-form">
            <div class="ds-grid">
                <div class="ds-form-group ds-grid__col-12">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>
                
                <div class="ds-form-group ds-grid__col-11">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-10">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-9">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-8">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-7">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-6">
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-5" data-block>
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-4" data-block>
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-3" data-block>
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-2" data-block>
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>

                <div class="ds-form-group ds-grid__col-1" data-block>
                    {% include sample-component.html
                        snippet="ltu-components/src/inputs/snippets/text-input/text-input-required.html"
                        container="false"
                    %}
                </div>
            </div>
        </form>
    </div>
</div>