body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: lighten(#182538, 10%);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #182538; 
    width: 42em;
    margin-top: 1em;
    margin-bottom: 0;
}


h1 {
    font-size: 68px;
    font-weight: 700;
    width: auto;
}

h2 {
    font-size: 32px;
}

h3 {

}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
}

p, li {
    width: 42em;
    
}

p.intro {
    font-size: 1.6rem;
}

figure {
    margin: 0;
}

code {
    background-color: #f0f3f8;
    font-size: 16px;
    padding: 5px;
    text-shadow: none;
    color: #182538;
}

/* override prism styles */

:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: lighten(#182538, 80%);
    font-size: 16px;
    padding: 5px;
    text-shadow: none;
    color: #182538;
}

pre[class*=language-] {
    padding: 40px;
    text-shadow: none;
}