.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox label {
    position: relative;
    padding-left: $spacer * 8;
    display: block;
    cursor: pointer;
    font-weight: 400;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 8px;
    width: 12px;
    border-left: 3px solid;
    border-bottom: 3px solid;
    
    transform: rotate(-45deg);
    
    left: 6px;
    top: 10px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}