.ds-control-input__input[type="checkbox"] {
    opacity: 0;
    position: absolute;

    & + label {
        position: relative;
        padding-left: $spacer * 8;
        display: block;
        cursor: pointer;
        font-weight: 400;
        
        &::before,
        &::after {
            position: absolute;
            content: "";
            display: inline-block;
        }

        /*Checkmark of the fake checkbox*/
        &::after {
            height: 8px;
            width: 12px;
            border-left: 3px solid;
            border-bottom: 3px solid;
            transform: rotate(-45deg);
            left: 6px;
            top: 7px;

            /*Hide the checkmark by default*/
            content: none;
        }
    }

    /*Unhide on the checked state*/
    &:checked + label::after {
        content: "";
    }
}