.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    position: relative;
    padding-left: $spacer * 8;
    display: block;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 24px;
    width: 24px;
    border: 2px solid $color-3b;
    border-radius: 2px;
    left: 0px;
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 8px;
    width: 12px;
    border-left: 3px solid;
    border-bottom: 3px solid;
    
    transform: rotate(-45deg);
    
    left: 6px;
    top: 10px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    border: 2px solid $color-2;
}