form {
    width: 100%;
    max-width: 40em;
}

label {
    display: block;
    margin-top: $spacer * 5;
}

input {
    display: block;
}

legend {
    display: block;
    padding: 0;
    border: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: $spacer*5 0;
}

.text-input {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: lighten($color-3b, 20%);
    border: 2px solid $color-3b;
    resize: vertical;
    border-radius: 2px;
    margin-top: 4px;

    &:focus {
        outline: none;
        border-color: #80bdff;
        box-shadow: 0 0 0 4px rgba(0,123,255,.25);
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group {
    margin-top: 2em;
}

.control-input {
    margin-top: 8px;
    display: inline-block;

    &--block {
        display: block;
    }

    label {
        margin-top: 0;
    }
}