.radio input[type="radio"] {
    display: none;
}

.radio {
    label {
        padding-left: 20px;
        cursor: pointer;
    }

    input[type="radio"] {
        position: absolute;
        margin-left: 0px;
    }
}

.radio label {
    position: relative;
    display: inline-block;
    padding-left: $spacer * 8;
}

.radio label::before,
.radio label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.radio label::before{
    height: 24px;
    width: 24px;
    border: 2px solid $color-3b;
    border-radius: 50%;
    left: 0px;
}

/*Checkmark of the fake checkbox*/
.radio label::after {
    height: 12px;
    width: 12px;
    background: $color-2;
    border-radius: 50%;
    left: 6px;
    top: 6px;
}

/*Hide the checkmark by default*/
.radio input[type="radio"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.radio input[type="radio"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.radio input[type="radio"]:focus + label::before {
    border: 2px solid $color-2;
}