.hint-text {
    color: $color-2a;
}

.text-input.text-input--width-sm {
    max-width: 6.3rem;
}

.text-input.text-input--width-md {
    max-width: 10rem;
}

.text-input.text-input--width-lg {
    max-width: 18rem;
}