.hint-text,
.invalid-text,
.valid-text {
    display: block;
    margin-top: 4px;
}

.invalid-text,
.valid-text {
    font-weight: 500;
}

.invalid-text {
    color: $color-1;
}

.valid-text {
    color: #28a745;
}

.hint-text {
    color: $color-2a;
}

.text-input {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &--invalid {
        border-color: $color-1;

        &:focus {
            border-color: $color-1;
            box-shadow: 0 0 0 4px mix(white, $color-1, 75%);
        }
    }

    &--valid {
        border-color: #28a745;

        &:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 4px mix(white, #28a745, 75%);
        }
    }
}