<nav id="nav-container" class="nav-container lv-6271" role="navigation">
    <ul class="local-nav parent">
        <li class="hide-nav"><button title="Hide navigation panel"></button></li>
        <li class="root"><a href="/">Home</a>
            <ul class="level-one">
                <li class="current"><a href="https://www.latrobe.edu.au/home">Home</a> </li>
                <li><a href="https://www.latrobe.edu.au/study">Study with us</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/study/courses">Courses</a></li>
                        <li><a href="https://www.latrobe.edu.au/study/life">Life at La Trobe</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/study/life/events">Events and culture</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/accommodation">Accommodation</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/support">Support to help you thrive</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/your-study-experience">Your study experience</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/living">Living in Australia</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/social-media">Social media</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/sport-at-la-trobe">Sport at La Trobe</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/campuses">Campuses</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/life/living-away-from-home">Living &amp; studying away from home</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/study/undergrad">Your first degree</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/why-study-at-la-trobe">Why study at La Trobe?</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/find-your-course-by-atar">Find your course by ATAR</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/atar-adjustment-factors-calculator">ATAR adjustment factors calculator</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/how-to-apply">How to apply (undergraduate studies)</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/costs">Costs and fees</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/scholarships">Scholarships</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/resources">Resource centre</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/experience-your-future">Experience your future</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/undergrad/return-to-study">Return to study</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/study/postgrad">Postgraduate degrees</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/study/postgrad/worlds-best">We stand with the world's best</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/postgrad/industry-connected-career-ready">Industry connected &amp; career ready</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/postgrad/your-options">Choose how you study</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/postgrad/one-on-one-pg">Postgraduate one-on-one consultations</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/postgrad/fees-and-scholarships">Postgraduate fees and scholarships</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/postgrad/apply">How to apply for postgrad</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/study/higher-degree-by-research">Get a research degree</a></li>
                        <li><a href="https://www.latrobe.edu.au/study/study-overseas">Study overseas</a></li>
                        <li><a href="https://www.latrobe.edu.au/study/contact">Contact us</a></li>
                        <li><a href="https://www.latrobe.edu.au/study/apply">How to apply</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/study/apply/undergrad">Domestic undergraduate applications</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/apply/postgrad">Domestic postgraduate coursework</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/apply/research">Graduate research degrees</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/apply/international">International applications</a></li>
                                <li><a href="https://www.latrobe.edu.au/study/apply/pathways">Pathways and entry schemes</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/courses">Courses and degrees</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/courses/study-arts-social-sciences-and-communications">Arts, social sciences and communications</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/study-business-and-commerce">Business and commerce</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/study-education-teaching">Education and teaching</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/study-health">Health</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/study-it-and-engineering">IT and engineering</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/study-law-criminology">Law and criminology</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/study-science">Science</a></li>
                        <li><a href="https://www.latrobe.edu.au/courses/a-z">Browse all courses</a></li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/international">International students</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe">Study in Australia at La Trobe</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings">Rankings and ratings</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe/our-campuses">Our Campuses</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe/our-colleges">Our Colleges</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe/student-testimonials">Student Testimonials</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe/alumni-testimonials">Alumni Testimonials</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe/brochures">Brochures</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/study-in-australia-at-la-trobe/webinars">Webinars</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/study-options">Study options</a></li>
                        <li><a href="https://www.latrobe.edu.au/international/how-to-apply">How to apply</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/undergraduate-and-postgraduate">Undergraduate and Postgraduate studies</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/postgraduate-research-programs">Postgraduate research programs</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/english-and-academic-requirements">English language and academic requirements</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/sponsored-programs">Sponsored programs</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/your-country">Study at La Trobe in your home country</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/accept-your-offer">Accept your offer</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/defer-your-offer">Defer your offer</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/apply-for-a-visa">Apply for a visa</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/fees-and-scholarships">Fees and scholarships</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/fees-and-scholarships/tuition-fees">Tuition fees</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/fees-and-scholarships/scholarships">Scholarships</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/fees-and-scholarships/financial-aid">US Financial Aid loans</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/fees-and-scholarships/other-loans">Other loans</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/you-have-an-offer">You have an offer</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/defer-your-offer">Defer your offer</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/how-to-apply/apply-for-a-visa">Apply for a visa</a></li>
                                <li><a href="https://www.latrobe.edu.au/students/international/support/leaving">Before you leave</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/you-have-an-offer/airport">Airport pick-up</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/you-have-an-offer/temp-accomm">Temporary accommodation</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/when-you-arrive">When you arrive</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/when-you-arrive/guide">Arrival information</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/when-you-arrive/registration">Check-in and enrol</a></li>
                                <li><a href="https://www.latrobe.edu.au/students/getting-started/orientation">Orientation</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/when-you-arrive/life-at-la-trobe">Life at La Trobe</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/exchange-and-study-abroad">Exchange and study abroad</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/exchange-and-study-abroad/apply">Apply</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/exchange-and-study-abroad/predeparture">Pre-departure</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/exchange-and-study-abroad/when-you-arrive">Your arrival</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/exchange-and-study-abroad/before-you-leave">Returning home</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/exchange-and-study-abroad/get-in-touch">Get in touch</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/education-fairs">Meet us in your country</a></li>
                        <li><a href="https://www.latrobe.edu.au/international/agents">Information for agent representatives </a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/agents/update-your-details">Update your details</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/agents/claiming-your-commission">Claiming your commission</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/agents/become-an-agent">How to become a La Trobe agent</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/agents/contact-us">Contact us</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/international/international">Contact us</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/international/international/meet-us-in-your-country">Meet us in your country</a></li>
                                <li><a href="https://www.latrobe.edu.au/international/international/meet-our-representatives">Agent representative in your country</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/industry-and-community">Industry and Community</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry">Partnerships with Industry</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/research-and-innovation-precinct-and-partnerships">Research and Innovation Precinct and Partnerships</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/innovation-commercialisation-and-technology-transfer">Innovation, Commercialisation and Technology Transfer</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/strategic-innovation-fund">Strategic Innovation Fund</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/research-that-makes-a-difference">Research that makes a difference</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/research-and-innovation-precinct">Research and Innovation Precinct</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/accelerator">La Trobe Accelerator Program</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/ballet">The Australian Ballet partnership</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/rural-road-trauma-research-hub">Rural Road Trauma Research Hub</a></li>
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/partnerships-with-industry/contact-us">Contact us</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/industry-and-community/engage-with-la-trobe">Engage with La Trobe</a></li>
                        <li><a href="https://www.latrobe.edu.au/industry-and-community/employ-la-trobe-graduates-and-students">Employ La Trobe graduates and students</a></li>
                        <li><a href="https://www.latrobe.edu.au/industry-and-community/unitemps">Unitemps at La Trobe</a></li>
                        <li><a href="https://www.latrobe.edu.au/industry-and-community/regional-engagement">Regional engagement</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/industry-and-community/regional-engagement/rural-medical-pathway">Rural medical pathway</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/research">Research</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/research/future">Get a research degree</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/research/future/at-latrobe">Graduate research at La Trobe</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/future/degrees">Which graduate research degree is right for you?</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/future/costs-scholarships">What are the costs and what scholarships are available?</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/future/apply">How to apply</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/future/additional-information-for-hdr-scholarship-applicants-to-la-trobe-university-law-school">Additional information for HDR Scholarship Applicants</a></li>
                                <li><a href="https://www.latrobe.edu.au/researchers/grs/contacts">Contact the Graduate Research School</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/research/research-impacts">Our research and its impact</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/research/research-impacts/researchers">Researchers video collection</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/research-impacts/impacts">La Trobe research impacts</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/research/research-focus-areas">Research Focus Areas</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/research/research-focus-areas/building-healthy-communities">Building healthy communities</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/research-focus-areas/securing-food-water-environment">Securing food, water and the environment</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/research-focus-areas/sport-exercise-and-rehabilitation">Sport, exercise and rehabilitation</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/research-focus-areas/transforming-human-societies">Transforming Human Societies</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/research-focus-areas/understanding-disease">Understanding disease</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/research/centres">Research centres</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/research/centres/environmental">Environmental research</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/centres/health">Health and molecular research</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/centres/societal">Societal research</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/centres/technology">Technology research</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/research/research-infrastructure">Research infrastructure</a></li>
                        <li><a href="https://www.latrobe.edu.au/research/red">Research Education and Development (RED)</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/research/red/workshops-seminars">Workshop and seminar program</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/red/academic-integrity-for-researchers-and-ithenticate">Academic integrity for researchers and iThenticate</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/red/initiatives">Initiatives</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/red/Higher-Degree-by-Research-candidates">Higher Degree by Research candidates</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/red/internal-consultancy">Internal consultancy</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/red/supervisors">Information for supervisors</a></li>
                                <li><a href="https://www.latrobe.edu.au/research/red/profile">About the RED team</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/research/news">News</a></li>
                        <li><a href="https://www.latrobe.edu.au/research/researchers">Researchers</a></li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/about">About La Trobe</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/about/leadership">Vice-Chancellor</a></li>
                        <li><a href="https://www.latrobe.edu.au/about/learning-and-teaching">Learning and teaching</a></li>
                        <li><a href="https://www.latrobe.edu.au/about/vision">Our vision</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/about/vision/diversity-and-inclusion">Diversity and Inclusion</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/vision/values">Our Values</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/vision/research">Research</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/vision/smoke-free-la-trobe">Smoke Free La Trobe</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/vision/university-city-of-the-future">University City of the Future</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings">Rankings and ratings</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/academic-rankings-of-world-universities">Academic Rankings of World Universities</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/employer-satisfaction-survey">Employer Satisfaction Survey</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/era-and-fields-of-research">Excellence in Research for Australia</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/research-impact">Research impact</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/green-star-accreditation">Green Star accreditation</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/qs-world-university-rankings">QS World University Rankings</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/qs-star-ratings">QS Star ratings</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/rankings-and-ratings/times-higher-education">Times Higher Education</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/about/at-a-glance">La Trobe at a glance</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/about/at-a-glance/history">Our history</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/at-a-glance/facts-figures">Facts and figures</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/at-a-glance/plans">Plans and publications</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/at-a-glance/maps">Locations and Maps</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/about/management">Management</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/about/management/organisation">University management</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/management/policies">Policies, Planning and Quality</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/management/regional-office">Regional Office</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/about/governance">Governance</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/about/governance/council">Council</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/governance/university">University governance</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/governance/academic">Academic Governance</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/governance/services-unit">Governance Services Unit</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/governance/committees">Committees</a></li>
                                <li><a href="https://www.latrobe.edu.au/about/governance/contacts">Contact us</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/about/colleges,-schools,-and-departments">Colleges, schools, and departments</a></li>
                        <li><a href="https://www.latrobe.edu.au/about/international">International activities</a></li>
                        <li><a href="https://www.latrobe.edu.au/about/acknowledgement">Acknowledgement</a></li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/ltlt">La Trobe Learning and Teaching</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/ltlt/services">Services</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/ltlt/services/consultations">Consultations</a></li>
                                <li><a href="https://www.latrobe.edu.au/ltlt/services/workshops">Workshops</a></li>
                                <li><a href="https://www.latrobe.edu.au/ltlt/services/curriculum-redesign">Curriculum Redesign</a></li>
                                <li><a href="https://www.latrobe.edu.au/ltlt/services/ed-tech">Ed Tech</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/ltlt/resources">Resources</a></li>
                        <li><a href="https://www.latrobe.edu.au/ltlt/events-and-news">Events and news</a></li>
                        <li><a href="https://www.latrobe.edu.au/ltlt/learning-and-teaching-lounge">Learning and Teaching Lounge</a></li>
                        <li><a href="https://www.latrobe.edu.au/ltlt/la-trobe-academy">La Trobe Academy</a></li>
                        <li><a href="https://www.latrobe.edu.au/ltlt/about">About LTLT</a></li>
                    </ul>
                </li>
                <li><a href="https://www.latrobe.edu.au/future-city">University City of the Future</a>
                    <ul class="level-two">
                        <li><a href="https://www.latrobe.edu.au/future-city/student-accommodation-project">Student Accommodation Project</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/future-city/student-accommodation-project/project-information">Project Information</a></li>
                                <li><a href="https://www.latrobe.edu.au/future-city/student-accommodation-project/frequently-asked-questions">Frequently Asked Questions</a></li>
                                <li><a href="https://www.latrobe.edu.au/future-city/student-accommodation-project/contact-us">Contact Us</a></li>
                                <li><a href="https://www.latrobe.edu.au/future-city/student-accommodation-project/why-cross-laminated-timber-is-on-the-rise-in-the-construction-industry">Why Cross Laminated Timber is on the rise in the construction industry</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.latrobe.edu.au/future-city/health-wellbeing-hub">La Trobe Health and Wellbeing Hub Project</a></li>
                        <li><a href="https://www.latrobe.edu.au/future-city/nangak-tamboree">Nangak Tamboree</a>
                            <ul class="level-three">
                                <li><a href="https://www.latrobe.edu.au/future-city/nangak-tamboree/image-gallery">Image Gallery</a></li>
                                <li><a href="https://www.latrobe.edu.au/future-city/nangak-tamboree/unearthing-the-history-of-the-land">Unearthing the history of the land</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>


            </ul>
        </li>
    </ul>
</nav>
