/* Module: S */
.checklist {
  padding: 20px 0;
}

.checklist__header {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 3%;
}

.checklist__description {
  font-weight: 300;
  padding-bottom: 2%;
  font-size: 1.125em;
}

.checklist__description p {
  margin: 0;
}

.checklist__list {
  width: 100%;
  float: left;
  list-style: none;
  counter-reset: my-awesome-counter;
  padding: 0 4% 0 70px;
  margin-bottom: 24px;
  position: relative;
}

.checklist__list:before {
  width: 2px;
  height: calc(100% - 100px);
  border-left: 2px dotted #000;
  position: absolute;
  top: 50px;
  left: 24px;
  content: '';
  z-index: -1;
}

.checklist__item {
  counter-increment: my-awesome-counter;
  position: relative;
  font-weight: 500;
  font-size: 0.9375em;
  min-height: 80px;
  padding: 16px 0;
  border-bottom: 1px solid #E3E3E3;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.checklist__item:after {
  content: '';
  min-height: inherit;
  font-size: 0;
}

.checklist__item:last-child {
  border-bottom: none;
}

.checklist__item:before {
  content: counter(my-awesome-counter);
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid #e2231b;
  color: #e2231b;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  z-index: 3;
}

.checklist__item.checked:before {
  background-color: #e2231b;
  color: #fff;
  -webkit-print-color-adjust: exact;
}

.checklist__content--hint {
  font-weight: 300;
  padding-top: 4px;
  font-size: 0.875em;
  display: none;
}

.checklist__hint {
  width: 33.333333%;
  float: left;
  display: none;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.22);
  padding: 30px;
  margin-top: 32px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
}

.checklist__hint.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100);
}

.checklist__hint-label {
  font-size: 0.9375em;
  font-weight: bold;
  padding: 8px 0 8px 32px;
  background-image: url("/mysource_files/info.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-bottom: 15px;
}

.checklist__hint-label:after {
  left: 0;
  margin: 0;
  right: unset;
}

.checklist__hint-text {
  font-size: 0.9375em;
}

.checklist__complete {
  float: left;
  clear: left;
  width: 100%;
  font-weight: bold;
  color: #28a745;
  display: none;
}

.checklist__buttons {
  clear: left;
  padding-top: 32px;
}

.checklist__button {
  padding: 0.75em 4.375em;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.checklist__button:before, .checklist__button:after {
  content: '';
  -webkit-transition: filter 0.3s ease;
  -moz-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.checklist__button:hover:after, .checklist__button:focus:after {
  filter: invert(100%) sepia(53%) saturate(0%) hue-rotate(173deg) brightness(107%) contrast(100%);
}