/* Error: expected "{".
 *    ,
 * 42 |             font-size: 1rem;
 *    |                            ^
 *    '
 *   ltu-patterns/assets/_sass/components/_testimonial.scss 42:28  root stylesheet
 *   ltu-patterns/assets/_sass/ds-ltu.scss 38:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 42 \2502              font-size: 1rem;\a    \2502                             ^\a    \2575 \a   ltu-patterns/assets/_sass/components/_testimonial.scss 42:28  root stylesheet\a   ltu-patterns/assets/_sass/ds-ltu.scss 38:9                    root stylesheet';
}
