/* Error: Undefined variable.
 *    ,
 * 82 |     font-size: $h3;
 *    |                ^^^
 *    '
 *   ltu-patterns/packages/alerts/src/scss/_alert.scss 82:16  @import
 *   ltu-patterns/assets/_sass/ds-ltu.scss 24:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 82 \2502      font-size: $h3;\a    \2502                 ^^^\a    \2575 \a   ltu-patterns/packages/alerts/src/scss/_alert.scss 82:16  @import\a   ltu-patterns/assets/_sass/ds-ltu.scss 24:9               root stylesheet";
}
