// ==================================================================================================================

// La Trobe University Design System

// Used to design, develop and test new and updated UI components.
// This design system also acts as the specification for CMS integrators and developers.

// ==================================================================================================================

//
@charset "UTF-8";


// Packages
@import "../../packages/core/src/scss/fonts";
@import "../../packages/core/src/scss/normalize";
@import "../../packages/core/src/scss/variables";
@import "../../packages/core/src/scss/mixins";
@import "../../packages/core/src/scss/core";
@import "../../packages/core/src/scss/icons";
@import "../../packages/core/src/scss/utility";

@import "../../packages/accordion/src/scss/accordion";
@import "../../packages/alert/src/scss/alert";
@import "../../packages/banner/src/scss/banner";
@import "../../packages/blockquote/src/scss/blockquote";
@import "../../packages/blocks/src/scss/blocks";
@import "../../packages/breadcrumb/src/scss/breadcrumb";
@import "../../packages/button/src/scss/button";
@import "../../packages/callout/src/scss/callout";
@import "../../packages/card/src/scss/card";
@import "../../packages/control-inputs/src/scss/forms";
@import "../../packages/control-inputs/src/scss/checkbox";
@import "../../packages/columns/src/scss/columns";
@import "../../packages/columns/src/scss/aside";
@import "../../packages/cta/src/scss/cta";
@import "../../packages/link/src/scss/link";
@import "../../packages/loader/src/scss/loader";
@import "../../packages/logo-showcase/src/scss/logo-showcase";
@import "../../packages/map/src/scss/map";
@import "../../packages/modal/src/scss/modal";
@import "../../packages/mosaic/src/scss/mosaic";
@import "../../packages/pagination/src/scss/pagination";
@import "../../packages/proofpoint/src/scss/proofpoint";
@import "../../packages/tab/src/scss/tab";
@import "../../packages/table/src/scss/table";
@import "../../packages/testimonial/src/scss/testimonial";
@import "../../packages/tooltip/src/scss/tooltip";