// ==================================================================================================================

// La Trobe University Design System

// Used to design, develop and test new and updated UI components.
// This design system also acts as the specification for CMS integrators and developers.

// ==================================================================================================================

@charset "UTF-8";
// Base
@import "base/fonts";
@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/core";
@import "base/icons";

// Elements
@import "elements/headings";
@import "elements/buttons";
@import "elements/tables";

// Components
@import "components/alertbox";
@import "components/logo-showcase";
@import "components/cards";
@import "components/proofpoint";
@import "components/testimonials";

// Blocks
@import "blocks/blocks";
@import "blocks/banner";
@import "blocks/mosaic";
@import "blocks/promo";

