<<<<<<< Updated upstream
// ==================================================================================================================
// BUTTONS
// ==================================================================================================================

/* legacy classes */
.ltu-button,
.content-box.m-beige .ltu-button {
    @extend .btn-secondary;
    @extend [class*="icon-"];
    padding-right: 44px;
}
.ltu-button::after {
    @extend .icon-chevron-right;
}
.ltu-button.light,
.ltu-button.chat,
.m-yellow .ltu-button,
.m-brown .ltu-button,
.m-black .ltu-button,
.content-box .ltu-button,
blockquote .ltu-button {
    @extend .btn-secondary-light;
    @extend [class*="icon-"];
    padding-right: 44px;
}
.ltu-button.chat {
    @extend .icon-message-square;
}
.ltu-button[href^="mailto:"] {
    @extend .icon-mail;
}
.story-widget[data-color=grey] .ltu-button.light,
.story-widget[data-color=transparent] .ltu-button.light {
    @extend .btn-secondary;
}
.story-widget.wide[data-color=transparent] .ltu-button.light {
    @media (min-width: 768px) {
        color: white;
        border: 2px solid white;
    }
}


// ==================================================================================================================
// CARDS
// ==================================================================================================================

.card-img {
    float: none !important;
    padding: 0 !important;
}


// ==================================================================================================================
// LOGO SHOWCASE
// ==================================================================================================================

.banner-box-ctas {
    margin-bottom: 0 !important;
}


// ==================================================================================================================
// LOGO SHOWCASE
// ==================================================================================================================

.logo-showcase-logos {
    margin: 0 auto 24px auto !important;
}

.logo-showcase-logo {
    margin: 4px !important;

    img {
        float: none !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }
}


// ==================================================================================================================
// PROOFPOINT
// ==================================================================================================================

.proofpont-icon {
    float: none !important;
    padding: 0 0 16px 0 !important;
}

.proofpoint-title {
    margin: 0 0 16px 0 !important;
}

.proofpoint-number {
    margin: 0 0 16px 0 !important;
}

.proofpoint-footnote,
.proofpoint-legacy-content p:first-child + p {
    margin-top: auto !important;
}
=======














>>>>>>> Stashed changes
