// ==================================================================================================================

// La Trobe University Legacy Styling

// Overrides (!important tags) are used to override existing legacy styling on top of new DS styling.
// See ds-overrides.scss for more

// ==================================================================================================================


// SETUP
// ==================================================================================================================
@charset "UTF-8";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";


// LEGACY
// ==================================================================================================================
@import "legacy/core";
@import "legacy/styles";
@import "legacy/buttons";
@import "legacy/accordion";
@import "legacy/staff-profiles";
@import "legacy/jquery-ui.1.9.2.ltu";
@import "legacy/banner";
@import "legacy/course-search";
@import "legacy/sticky-nav";
@import "legacy/news-events";
@import "legacy/contacts";
@import "legacy/awesomeplete";

@import "base/icons";


// BUTTONS
// ==================================================================================================================
@import "elements/buttons";

/* legacy classes */
.ltu-button,
.content-box.m-beige .ltu-button {
    @extend .btn-secondary;
    @extend [class*="icon-"];
    padding-right: 44px;
}
.ltu-button::after {
    @extend .icon-chevron-right;
}
.ltu-button.light,
.ltu-button.chat,
.m-yellow .ltu-button,
.m-brown .ltu-button,
.m-black .ltu-button,
.content-box .ltu-button,
blockquote .ltu-button {
    @extend .btn-secondary-light;
    @extend [class*="icon-"];
    padding-right: 44px;
}
.ltu-button.chat {
    @extend .icon-message-square;
}
.ltu-button[href^="mailto:"] {
    @extend .icon-mail;
}
.story-widget[data-color=grey] .ltu-button.light,
.story-widget[data-color=transparent] .ltu-button.light {
    @extend .btn-secondary;
}
.story-widget.wide[data-color=transparent] .ltu-button.light {
    @media (min-width: 768px) {
        color: white;
        border: 2px solid white;
    }
}

// ALERTBOX
// =================================================================================================================
@import "components/alertbox";

// LOGO SHOWCASE
// ==================================================================================================================
/*@import "components/logo-showcase";

.logo-showcase-logos {
    margin: 0 auto 24px auto !important;
}

.logo-showcase-logo {
    margin: 4px !important;

    img {
        float: none !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }
}*/


// CARDS
// =================================================================================================================
@import "components/cards";

.card-img {
    float: none !important;
    padding: 0 !important;
}


// PROOFPOINTS
// ==================================================================================================================
@import "components/proofpoint";

.proofpont-icon {
    float: none !important;
    padding: 0 0 16px 0 !important;
}

.proofpoint-title {
    margin: 0 0 16px 0 !important;
}

.proofpoint-number {
    margin: 0 0 16px 0 !important;
}

.proofpoint-footnote,
.proofpoint-legacy-content p:first-child + p {
    margin-top: auto !important;
}


// Testimonials
// ==================================================================================================================
@import "components/testimonials";


// BLOCKS
// ==================================================================================================================
@import "blocks/blocks";


// BANNERS
// ==================================================================================================================
@import "blocks/banner";

.banner-box-ctas {
    margin-bottom: 0 !important;
}


// CALL TO ACTION
// ==================================================================================================================
@import "blocks/cta";


// MOSAIC
// ==================================================================================================================
@import "blocks/mosaic";

.mosaic-tile {
    margin: 0 !important;
    .mosaic-tile-image {
        float: none !important;
        padding: 0 !important;
    }
}


// PROMO
// ==================================================================================================================

@import "blocks/promo";

.content-wrapper div img {
    padding: 0!important;
}

// TESTIMONIALS
// ==================================================================================================================

@import "components/testimonial";

.testimonial-copy {
    blockquote {
        background: transparent;
        color: $color-2;
    }
}
