---
title: "Alert Box"
layout: "sample"
ltulayout: "standard_page"
status: "ready"
---

<div class="alertbox" data-type="info">
    <h2 class="alertbox-heading">Make an informed choice</h2>

    <p class="alertbox-text"> Our one-on-one consultations are designed to hone in on your objectives and provide practical guidance about your study options</p>

    <p class="alertbox-link"></p><a class="btn icon-users" id="" href="https://www.latrobe.edu.au/study/one-on-one-consultations/undergraduate">Book one-on-one</a></p>
</div>