// depenencies
@use "config";

.ds-form {
    width: 100%;
}

// Source - bootstrap reboot https://github.com/twbs/bootstrap/blob/master/scss/_reboot.scss
// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See https://github.com/twbs/bootstrap/issues/12359
//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.
.ds-fieldset {
    min-width: 0; // 1
    padding: 0; // 2
    margin: 0; // 2
    border: 0; // 2
}

// Source - bootstrap reboot https://github.com/twbs/bootstrap/blob/master/scss/_reboot.scss
// 1. By using `float: left`, the legend will behave like a block element.
//    This way the border of a fieldset wraps around the legend if present.
// 2. Correct the text wrapping in Edge.
// 3. Fix wrapping bug.
//    See https://github.com/twbs/bootstrap/issues/29712
.ds-legend {
    float: left; // 1 
    width: 100%;
    padding: 0;
    line-height: inherit;
    white-space: normal; // 2
  
    + * {
      clear: left; // 3
    }
}

.ds-legend {
    // remove browser default style
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    font-size: config.$h4;
    font-weight: config.$medium;
    margin-top: 3em;
    margin-bottom: 1em;
    border-bottom: 2px solid config.$color-3b;

    ~ * {
        clear: left; // extend bootstrap reset 3 above to cater for first sibling being non-visible e.g. <script> 
    }
}

// label
.ds-label {
    display: block;
    font-weight: 500;
    margin: 2em 0 0.25em 0; // using em here to reflect Label size
}

// label required indicator
abbr.ds-label__required {
    color: config.$color-1;
    border: none;
}

.ds-text-input,
.ds-textarea,
.ds-select,
.ds-input-checkbox,
.ds-input-radio,
.ds-number-input {
    line-height: 1;
    // remove browser default style
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ds-text-input,
.ds-textarea,
.ds-select,
.ds-number-input {
    display: block;
}

.ds-text-input,
.ds-textarea,
.ds-select,
.ds-number-input {
    display: inline-block;
    width: 100%;
    padding: config.spunits(4);
    margin: config.spunits(1) 0;
    background-color: white;
    border: 2px solid config.$color-3b;
    resize: vertical;
    border-radius: 2px;

    &::placeholder {
        color: config.$color-3d;
    }

    &:disabled {
        background-color: config.$color-3a;
        color: config.$color-3c;
    }
}

.ds-number-input {
    width: auto;
}

.ds-text-input,
.ds-select,
.ds-number-input {
    // since line height does not work on inputs this makes inputs same height as buttons which helps for inline forms
    // font-size + top/bottom padding + top/bottom border
    height: calc(1rem + #{config.spunits(8)} + 4px); 
}


.ds-text-input {
    &:read-only {
        background-color: config.$color-3a;
    }
}


.ds-input {
    &--block {
        display: block;
    }

    &--inline {
        margin-right: config.spunits(4);
    }
}


// Validation modifiers
.ds-text-input,
.ds-select {    
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &--invalid {
        border-color: config.$color-1;
    }

    &--valid {
        border-color: config.$green;
    }
}

.ds-hint {
    display: block;
    margin-top: config.spunits(2);
    font-weight: 500;
    color: config.$color-3d;

    &--invalid {
        color: config.$color-1;
    }

    &--valid{
        color: config.$green;
    }
}

.ds-input-group {
    display: flex;
    align-items: stretch;
    margin-top: config.spunits(1);
    
    > * {
        margin-top: 0 !important;
    }

    .ds-text-input {
        flex: 4;
    }

    .ds-input-group__prepend,
    .ds-text-input:not(:last-child),
    .awesomplete:not(:last-child) .ds-text-input {
        border-right: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .ds-input-group__append,
    .ds-text-input:not(:first-child),
    .awesomplete:not(:first-child) .ds-text-input {
        border-left: 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .awesomplete {
        flex-grow: 1;
    }
}

.ds-input-group__prepend,
.ds-input-group__append {
    // since line height does not work on inputs this makes inputs same height as buttons which helps for inline forms
    height: calc(1rem + #{config.spunits(8)} + 4px); // font-size + top/bottom padding + top/bottom border
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    //font-weight: 500;
    border: 2px solid config.$color-3b;
    border-radius: 2px;

    > [class*="ds-btn"],
    input[type="submit"],
    input[type="reset"] {
        margin: 0 !important;
        height: 100%;
    }
}

.ds-input-group__text {
    line-height: 1;
    margin: 0;

    &:not(:empty) { 
        padding: 0 config.spunits(2);
        @media(min-width: 768px){
            padding: 0 config.spunits(3);
        }
    }
    
    display: flex;
    height: 100%;
    align-items: center;

    background-color: config.$color-3a;
    //modifier to add background
    &--bg-white {
        background-color: white;
    }

    > * {
        margin: 0;
        line-height: 1;
    }

    span + span {
        margin-left: config.spunits(1);
    }
}