@use "config";
@use "core/scss/icons";
@use "button/scss/button";

.ds-filter-group__nav {
    background-color: config.$color-3a;
    padding-left: config.spunits(2);

    /* scroll on mobile when too wide */
    @include config.overflowXScroll();
    //margin-top: ;

    @media(min-width: 768px) {
        margin-right: config.spunits(30);
    }
}

.ds-filter-group__nav__label {
    font-weight: config.$medium;

    &[aria-expanded="true"] {
        & > span::after {
            transition: transform 0.3s;
        }

        & > span::after {
            transform: rotate(180deg);
        }
    }
}

.ds-filter-group__nav__tab {
    /* remove browser styling from button element */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;   
    background: none;
    border: 0;
    cursor: pointer;

    padding: config.spunits(4) 0;
    border-bottom: 4px solid transparent;
    
    &:not(:first-child) {
        margin-left: config.spunits(3);
    }

    @extend .ds-icon-chevron-down;
    &::after {
        transition: transform 0.3s;
    }

    &[aria-expanded="true"] {
        border-bottom: 4px solid config.$color-2;

        &::after {
            transform: rotate(180deg);
        }
    }

    &:disabled{
        opacity: 0.25;
    }

}

// .ds-filter-group__nav__tab--selected {
//     position: relative;

//     &::before {
//         content: "";
//         display: block;
//         width: 14px;
//         height: 14px;
//         background-image: url(icons/feather-fill/flag.svg);
//         background-repeat: no-repeat;
//         background-size: 100%;
//         position: absolute;
//         top: 0;
//         left: 35%;
//         filter: config.$filter-green;
//     }
// }

.ds-filter-group__nav__tab--selected {
    color: config.$green;
    font-weight: bold;
}

.ds--filter-group__content {
    position: relative;
}

.ds-filter-group__content__tab {
    /*position: absolute;
    z-index: 900;*/
    position: relative;
    width: 100%;
    background: #fff;
    border: 2px solid config.$color-3b;
    padding: config.spunits(6);
    
    @media(min-width: 768px) {
        padding-right: config.spunits(30);
    }

    .ds-form {
        max-width: 100%;

        > .ds-form-group{

            &:first-child {
                //margin-top: 0;

                .ds-label:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }

    .ds-filter-group__filter__apply {

        @extend .ds-btn-secondary;
        // color: config.$green;
        // border-color: config.$green;
        color: white;
        background-color: config.$green;
        border-color: transparent;

        @media(min-width: 768px) {
            // position: absolute;
            // right: config.spunits(4);
            // top: config.spunits(4);
        }
    }
}

.ds-filter-megamenu {
    border: none;
    box-shadow: config.$shadow-1;
    // padding-right: 0;

    &__filters {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    
        h4 {
            font-size: config.$h5;
            margin-bottom: config.spunits(2);
        }
    }

    &__section {
        border-bottom: solid 2px config.$color-3b;
        padding-bottom: config.spunits(6);

    }
    
    &__section:nth-of-type(5) {
        border-bottom: none;
        margin-bottom: config.spunits(6);
    }

    &__action {
        background: white;
        bottom: 0;
        box-shadow: config.$shadow-2;
        margin-top: config.spunits(2);
        padding: config.spunits(2);
        position: sticky;
    }
   

    label {
        // override checkbox colour
        &::before {   
            border: solid 2px config.$green;
        }
    
        // override checkmark colour
        &::after {
            border-left: 3px solid config.$green;
            border-bottom: 3px solid config.$green;
        }
    }
}

.ds-icon-heart-filled {
    &::after {
        background-image: url("icons/feather-fill/heart.svg");
        filter: config.$filter-red;
    }

    &.ds-icon--before {
        
        &::after {
            background-image: url("icons/feather-fill/heart.svg");
            filter: config.$filter-red;
        }

        &::before {
            background-image: url("icons/feather-fill/heart.svg");
            filter: config.$filter-red;
        }

    }
}