// depenencies
@use "config";

// form groups wrap label and input pairs
.ds-form-group {
    margin-top: 1rem;
}

//
.ds-form-group--two-layer {
    .ds-input-checkbox,
    .ds-input-radio {
        + .ds-label {
            display: inline-block;
        }
    }
}

.ds-form-group--two-layer__content {
    margin-top: config.spunits(2);
    padding: config.spunits(4);
    border: 1px solid config.$color-3b;
}


.ds-form-group--inline {

    // inline control groups are set to scroll on small screens
    //@include config.overflowXScroll();

    // all children
    > * {
        display: inline-block;
        width: auto;
    }

    .ds-label {
        margin-right: config.spunits(4);
    }

    // last child
    > :last-child {
        margin-right: 0;
    }

}