//dependencies
@use "config";

.ds-input-group {
    display: flex;
    align-items: stretch;
    margin-top: config.spunits(1);
    
    * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .ds-text-input {
        flex: 4;
    }

    .ds-input-group__prepend,
    .ds-text-input:not(:last-child),
    .awesomplete:not(:last-child) .ds-text-input {
        border-right: 0px;
        border-top-left-radius: 1.875rem;
        border-bottom-left-radius: 1.875rem;
    }

    .ds-input-group__append,
    .ds-text-input:not(:first-child),
    .awesomplete:not(:first-child) .ds-text-input {
        border-left: 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .awesomplete {
        flex-grow: 1;
    }
}

.ds-input-group__prepend,
.ds-input-group__append {
    // since line height does not work on inputs this makes inputs same height as buttons which helps for inline forms
    height: calc(1rem + #{config.spunits(8)} + 4px); // font-size + top/bottom padding + top/bottom border
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    //font-weight: 500;
    border: 2px solid config.$color-3b;
    border-radius: 2px;

    > [class*="ds-btn"],
    input[type="submit"],
    input[type="reset"] {
        margin: 0 !important;
        height: 100%;
    }
}

.ds-input-group__text {
    line-height: 1;
    margin: 0;

    &:not(:empty) { 
        padding: 0 config.spunits(2);
        @media(min-width: 768px){
            padding: 0 config.spunits(3);
        }
    }
    
    display: flex;
    height: 100%;
    align-items: center;

    //modifier to add background
    &--bg-white {
        border-top-left-radius: 1.875rem;
        border-bottom-left-radius: 1.875rem;
    }

    > * {
        margin: 0;
        line-height: 1;
    }

    span + span {
        margin-left: config.spunits(1);
    }
}

// Override
#course-search-submit {
    margin-left: -2rem;
    z-index: 2;
}