// depenencies
@use "config";

// Layout

// default ds-form havs same max-width as paragraphs
// class can be added to wrapper div around form <div class="ds-form"><form></form></div> 
// or the form itself <form class="ds-form"></form>
.ds-form {
    max-width: 42rem;
}

// modifier for .ds-form to center form on page 
// class can be added to wrapper div around form <div class="ds-form ds-form--centered"><form></form></div> 
// or the form itself <form class="ds-form ds-form--centered"></form>
.ds-form--centered form,
form.ds-form--centered {
    margin-left: auto;
    margin-right: auto;
}

// modifier for .ds-form to make form full width
// class can be added to wrapper div around form <div class="ds-form ds-form--full-width"><form></form></div> 
// or the form itself <form class="ds-form ds-form--full-width"></form>
.ds-form--full-width form,
form.ds-form--full-width {
    max-width: 100%;
}

// form groups wrap label and input pairs
.ds-form-group {
    margin-top: 1rem;
}

/*.ds-form-group--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 0;

    > * {
        margin-bottom: 0;
        width: auto;
        flex-grow: 1;
    }

    > label, [type="submit"], [type="reset"], .ds-text-input__prepend {
        flex-grow: 0;
        margin-bottom: 0;
    }

    .ds-label {
        width: 100%;

        @media(min-width: 768px) {
            display: inline-block;
            width: auto;
            white-space: nowrap;
            margin-right: config.spunits(5);
        }
    }
}*/

.ds-control-group--inline {
    .ds-legend {
        width: auto;
        margin-top: 1.5rem;
        margin-right: 8px;
    }
    > * {
        display: inline-block;
    }
}