// depenencies
@use "config";
@use "button/scss/button";

// Layout

// default ds-form havs same max-width as paragraphs
// class can be added to wrapper div around form <div class="ds-form"><form></form></div> 
// or the form itself <form class="ds-form"></form>
.ds-form {
    max-width: 42rem;
    //margin-top: 1rem;
}

// modifier for .ds-form to center form on page 
// class can be added to wrapper div around form <div class="ds-form ds-form--centered"><form></form></div> 
// or the form itself <form class="ds-form ds-form--centered"></form>
.ds-form--centered form,
form.ds-form--centered {
    margin-left: auto;
    margin-right: auto;
}

// modifier for .ds-form to make form full width
// class can be added to wrapper div around form <div class="ds-form ds-form--full-width"><form></form></div> 
// or the form itself <form class="ds-form ds-form--full-width"></form>
.ds-form--full-width form,
form.ds-form--full-width {
    max-width: 100%;
}