// depenencies
@use "config";
@use "form/scss/checkbox";

.ds-input-radio {
    @extend .ds-input-checkbox;
}

.ds-input-radio {
    
    & + label {
        /* fake radio outer */
        &::before {
            border-radius: 50%;
        }
        
        /* checkmark of fake radio */
        &::after {
            height: config.spunits(3);
            width: config.spunits(3);
            border: none;
            transform: none;
            border-radius: 50%;
            background: config.$color-2;
            left: config.spunits(1.5);
            top: config.spunits(1.5);

        }
    }
}

.ds-input-radio--toggle {
    @extend .ds-input-checkbox--toggle;

    & + label {
        /* checkmark of fake radio */
        &::after {
            height: config.spunits(2.5);
            width: config.spunits(2.5);
            background: config.$green;
            left: config.spunits(4.75);
            top: config.spunits(2.75);
        }
    }

    &:checked {
        & + label {
            border-color: config.$green;
        }
    }
}