---
title: "Accordion"
status: draft
---

<section class="expander" role="tablist" multiselectable="true">
    <h2 id="content_template_accordions" class="plain expander-trigger open" aria-selected="true" aria-expanded="true">
        <button tabindex="0">Content template accordions
            <svg width="48px" height="48px" viewBox="0 0 48 48">
                <polygon style="fill:#242424;" points="34,22 26,22 26,14 22,14 22,22 14,22 14,26 22,26 22,34 26,34 26,26 34,26 "/>
            </svg>
        </button>
    </h2>
    
    <div aria-labelledby="content_template_accordions" class="expander-content open" role="tabpanel" aria-hidden="false" data-height="48" style="height: 48px;"><div>
        <p>Enter some WYSIWYG content here.</p>
    </div>
</section>