// depenencies
@use "config";
@use "mixins";
@use "core/scss/icons";

.ds-link-list {
    padding: 0;
}
.ds-link-list__item {
    list-style: none;
    margin: 0;
}

// apply to standard liks and ds-link-list__link links
.ds-link-list__item > a,
.ds-link-list__link {
    padding-top: config.spunits(4);
    padding-bottom: config.spunits(4);
}

// ds-link-list__link links only
.ds-link-list__link,
.ds-link-list__link:visited {
    text-decoration: none;
    width: 100%;
    color: config.$color-2;
    border-bottom: 2px solid config.$color-3b;
    
    @extend .ds-icon-arrow-right;

    &:hover {
        color: config.$color-1;
        border-color: config.$color-1;
    }
}

.ds-link-list--2-cols {
    

    @media(min-width: 440px) {
        @include mixins.columns-grid(calc(50% - 32px));
    }

    .ds-link-list__item {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ds-link-list__link {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// lead in paragraph
.ds-link-list__lead-in {
    font-weight: config.$medium;
    // bring lead-in closer to list 
    + {
        .ds-link-list {
            margin-top: 0;
        }
    }
}

/// .ds-link-list modifiers
//large text
.ds-link-list--large-text {
    .ds-link-list__item {
        font-size: config.$h4;
    }
}


// image left modifier .ds-link-list--image-left 
// include an image to left on desktop - image included via inline style - style="backgound-image: url()"
.ds-link-list--image-left {
    @media(max-width: 1023px){
        background-image: none !important;
    }

    @media(min-width: 1024px){
        padding-left: calc(1 / 3 * 100% + 16px);
        background-size: calc(1 / 3 * 100% - 16px);
        background-repeat: no-repeat;
        background-position: left center;

        position: relative;
        // white triangle bottom left
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 0; 
            height: 0;
            border-right: config.spunits(40) solid transparent;
            border-left: 0px solid transparent;
            border-top: 0;
            border-bottom: config.spunits(20) solid #fff;
            bottom: 0;
            left: 0;

            border-right: 146px solid transparent;
            border-bottom: 107px solid #fff;
        }
    }

    .ds-link-list__item {
        width: 100%;
        max-width: 100%;
    }
}