.cta {
    margin-top: 4%;
    
    @include columns();

    @include bp-up(xl) {
        text-align: center;
    }
}

.cta-alternate {
    @include columns;

    // display: flex;
    // flex-direction: column;

    >:first-child {
        margin-top: 0;
    }

    @include bp-down(xl) {
        align-items: center;
    }

    @include bp-up(xl) {
        flex-direction: row;
    }

    justify-content: space-between;
}


.cta-heading {
    >:first-child {
        margin-top: 0;
    }

    @include bp-down(xl) {
        text-align: center;
    }

    @include bp-up(lg) {
        flex-grow: 0;
        flex-basis: 33.3%;
        
        >:first-child {
            margin-top: 0;
        }
    }
}

.cta-item-group {
    display: flex;
    flex-direction: column;

    @include bp-up(sm) {
        flex-grow: 0;
        flex-basis: 25%;
    }

    @include bp-up(lg) {
        flex-direction: row;
        flex-grow: 1;
    }
}

.cta-item {
    >:first-child {
        margin-top: 0;
    }

    margin-top: 4%;

    @include bp-up(lg) {
        width: 100%;
        margin-left: 40px;

        &:first-child {
            margin-left: 0;;
        }
    }

    @include bp-up(xl) {
        margin-top: 0;

        &:first-child {
            margin-left: 40px;
        }
    }
}
.cta-footer {
    border-top: 1px solid grey;
    margin-top: 4%;
}