.cta {
    @include columns;
    text-align: center;
    max-width: 1440px;
    margin: auto;

    * {
        max-width: 100%;
    }
}

.cta-heading {
    > :first-child {
        margin-top: 0;
    }
}

.cta-item {
    color: white;
}