// depenencies
@use "config";
@use "core/scss/icons";
.ds-accordion {
    margin-top: 1rem;
    & + .ds-accordion {
        margin-top: 0;
    }
    padding: 0;
    border-bottom: 2px solid config.$color-3b;
    &>* {
        max-width: 100%;
        margin-top: 0;
    }
    button:focus {
        outline-offset: -2px;
    }
    // reduce accordion font size down one scale
    > h2:first-child {
        font-size: config.$h3;
    }
    > h3:first-child {
        font-size: config.$h4;
    }
    > h4:first-child {
        font-size: config.$h5;
    }
    > h6:first-child {
        .ds-accordion__trigger {
            font-weight: inherit;
        }
    }
}

.ds-accordion__trigger {
    @extend .ds-icon--before;
    position: relative;
    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    @extend .ds-icon-plus;
    background: none;
    display: block;
    margin: 0;
    padding: config.spunits(5) config.spunits(10);
    position: relative;
    text-align: left;
    width: 100%;
    border: none;
    color: config.$color-2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        @extend .ds-icon--red;
        background: config.$color-3;
        .ds-accordion__title {
            text-decoration: underline;
            color: config.$color-1;
        }
    }
    &[aria-expanded="true"] {
        @extend .ds-icon-minus;
        border-bottom: 2px dotted config.$color-3b;
    }
}

.ds-accordion__content {
    display: none;
    padding: config.spunits(5) 0 config.spunits(5) 0;
    margin-top: 0;
    > :first-child {
        margin-top: 0;
    }

    > .ds-table-wrapper:first-child {
        table {
            margin-top: 0;
            caption {
                padding-top: 0;
            }
        }
    }
    // everythin inside aligns with title
    > * {
        margin-left: config.spunits(10);
    }
    // except for nested blocks and tables
    .ds-block,
    .ds-table-wrapper {
        margin-left: 0;
    }
}

// for squiz implementation need this class on ds-block
.ds-block-accordion {
    .ds-accordion {
        margin-top: 1rem;
        & + .ds-accordion {
            margin-top: 0;
        }
    }
    & + .ds-block-accordion {
        .ds-accordion {
            margin-top: 0;
        }
    }
}