// depenencies
@use "config";
@use "core/scss/icons";

.ds-accordion__item {
    border-bottom: 2px solid config.$color-3b;
    padding: 0;
    margin: 0;

    & > * {
        max-width: 100%;
    }

    button:focus {
        outline-offset: -2px;
    }
}

.ds-accordion__trigger {
    @extend .ds-icon--before;
    @extend .ds-icon-plus;
    background: none;
    display: block;
    margin: 0;
    padding: config.spunits(5) config.spunits(10);
    position: relative;
    text-align: left;
    width: 100%;
    border: none;
    color: config.$color-1;
    cursor: pointer;

    &:hover {
        background: config.$color-3;
        .ds-accordion__title {
            text-decoration: none;
            color: config.$color-2;
        }
    }

    &[aria-expanded="true"] {
        @extend .ds-icon-minus;
    }

}

.ds-accordion__content {
    display: none;
    padding: config.spunits(5) 0;
    margin-top: 0;
}

/* this class when added to .ds-accordion adds numbers to accordion titles */
.ds-accordion--numbered {
    counter-reset: section;
    .ds-accordion__title::before {
        counter-increment: section;
        content: counter(section) ": ";
        margin-right: config.spunits(2);
        color: config.$color-2;
    }
}
