.ds-alert {
    border: 2px solid rgba($color-alt-3, 1);
    border-radius: 4px;
    position: relative;
    font-weight: 400;
    display: flex;
    padding: $spacer * 4;

    @media(min-width: 768px){
        padding: $spacer * 7;
    }

    &[class*="icon-"]::after {
        left: 12px;
    }

    & + * {
        margin-top: 1em;
    }
}

.ds-alert--success {
    background-color: mix(#52c41a, white, 5%);
    border-color: #52c41a;

    svg * {
        color: #52c41a;
    }
}

.ds-alert--error {
    background-color: rgba($color-1, 0.05);
    border-color: rgba($color-1, 1);

    svg * {
        color: rgba($color-1, 1);
    }
}

.ds-alert--warning {
    background-color: rgba($color-alt-2, 0.05);
    border-color: rgba($color-alt-2, 1);

    svg * {
        color: rgba($color-alt-2, 1);
    }
}

.ds-alert--info {
    background-color: rgba($color-alt-3, 0.05);
    border-color: rgba($color-alt-3, 1);

    svg * {
        color: rgba($color-alt-3, 1);
    }
}

.ds-alert__text {
    margin-top: 0;

    @media(min-width: 768px){
        padding-right: 80px;
    }

    >:only-child {
        font-weight: 500;
    }
}

.ds-alert__icon {
    padding-right: $spacer * 4;
    vertical-align: top;
    height: $spacer * 6;

    @media(min-width: 768px){
        padding-right: $spacer * 6;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.ds-alert__close {
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: $spacer * 4;
    color: inherit;
    background-color: transparent;
    border: 0;
    line-height: 0;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .05s ease-in-out;

    @media(min-width: 768px){
        padding: $spacer * 6;
    }

    &:hover {
        opacity: 1;
    }
}
