// depenencies
@use "config";

.ds-alert {
    border: 2px solid rgba(config.$color-alt-3, 1);
    border-radius: 4px;
    font-weight: 400;
    display: flex;
    padding: config.spunits(4);
    margin-top: config.spunits(4);

    @media(min-width: 768px){
        padding: config.spunits(7);
    }
}

.ds-alert__text {

    > :first-child {
        margin-top: 0;
        font-weight: config.$medium;
    }

    // step down heading sizes
    h2 {
        font-size: $h3;
    }
    h3 {
        font-size: $h4;
    }
    h4 {
        font-size: $h5;
    }
    h5 {
        font-size: $h6;
    }
}

.ds-alert__icon {
    padding-right: config.spunits(4);
    vertical-align: top;
    height: config.spunits(6);

    @media(min-width: 768px){
        padding-right:  config.spunits(6);
    }

    svg {
        width:  config.spunits(6);
        height:  config.spunits(6);
    }
}

.ds-alert__close {
    justify-self: end;
    margin: 0 0 0 auto;
    color: inherit;
    background-color: transparent;
    border: 0;
    line-height: 0;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .05s ease-in-out;

    &:hover {
        opacity: 1;
    }

    svg {
        width:  config.spunits(5);
        height:  config.spunits(5);
    }
}

// modifiers for .ds-alert

.ds-alert--full-width {
    border: none;
    justify-content: center;
    margin: 0;

    @media(min-width: 768px){
        padding: config.spunits(5) config.spunits(7);
    }

    .ds-alert__text {
        max-width: 1280px;
        // allow content to fill space
        p, li, h2, h3, h4, h5, h6 {
            max-width: 100%;
        }
    }
}

// types
.ds-alert--info {
    background-color: rgba(config.$color-alt-3, 0.05);
    border-color: rgba(config.$color-alt-3, 1);

    svg {
        color: rgba(config.$color-alt-3, 1);
    }
}

.ds-alert--success {
    background-color: mix(config.$green, white, 5%);
    border-color: config.$green;

    svg {
        color: config.$green;
    }
}

.ds-alert--error {
    background-color: rgba(config.$color-1, 0.05);
    border-color: rgba(config.$color-1, 1);

    svg {
        color: rgba(config.$color-1, 1);
    }
}

.ds-alert--warning {
    background-color: rgba(config.$color-alt-2, 0.05);
    border-color: rgba(config.$color-alt-2, 1);

    svg {
        color: rgba(config.$color-alt-2, 1);
    }
}