.step-list-wrapper {
    display: block;
    width: max-content;
    margin: auto;
}

.step-list {
    counter-reset: my-awesome-counter;
    width: 100%;
    list-style: none;
    padding-left: 80px;
    position: relative;

    &:before {
        width: 1px;
        height: calc(100% - 96px);
        border-left: 1px dotted $color-2a;
        position: absolute;
        top: 48px;
        left: 24px;
        content: "";
        z-index: -1;
    }
}

.step-list-item {
    div {
        >:first-child {
            margin-top: 0;
        }
    }
    
    counter-increment: my-awesome-counter;
    position: relative;
    min-height: 80px;
    border-bottom: 1px solid $color-3a;
    display: flex;
    align-items: center;
    width: 100%;

    @media(min-width: 768px) {
        width: 40em;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    &:before {
        content: counter(my-awesome-counter);
        position: absolute;
        left: -80px;
        top: 0;
        border-radius: 50%;
        height: 44px;
        width: 44px;
        border: 2px solid $color-1;
        color: $color-1;
        background-color: white;
        text-align: center;
        font-weight: 700;
        padding: 8px 0;

        @media(min-width: 768px) {
            width: 48px;
            height: 48px;
        }
    }

    &:after {
        content: "";
        min-height: inherit;
        font-size: 0;
    }

    &:last-child {
        border-bottom: none;
    }
}
