@use "config";

.ds--filter-group__filter {
    /* remove browser styling from button element */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;   
    background: none;
    border: 0;
    cursor: pointer;

    color: red;
    margin-left: config.spunits(4);
    &:first-child {
        margin-left: 0;
    }
}