.sg_pattern .sg_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sg_pattern .sg_title {
    display: flex;
    align-items: center;
}

// Maturity Label
.sg_label {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 8px;
    border-radius: 5px;
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    background: $smoke;
    margin-left: 1rem;
    border: 2px solid #ff0000;
    
    // &.planned {border: 2px solid $red; }
    // &.draft {border: 2px solid $amber; }
    // &.ready {border: 2px solid $green; }
    // &.retired {border: 2px solid $grey; }
}