.sg_pattern {
    position: relative;
    margin-top: 3rem;
    padding-top: 3rem;
}

h2+.sg_pattern {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

h2 {
    margin-top: 4rem;
    border-top: 1px solid rgba(24, 37, 56, 0.1);
    padding-top: 4rem;
}


.sg_pattern .sg_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sg_pattern .sg_title {
    display: flex;
    align-items: center;
}

// Maturity Label
.sg_label {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 8px;
    margin: 0;
    color: #182538;
    text-transform: uppercase;
    background: $smoke;
    margin-left: 1rem;
    border-radius: 3px;
    line-height: 1;

    &.planned {
        background: red;
        color: $white;
    }
    
    &.draft {
        background: orange;
        color: $white;
    }
    
    &.ready, &.live {
        background: green;
        color: $white;
    }
    
    &.retired {
        background: grey;
        color: $white;
    }
}


.sg-menu-list-local {
    .planned,
    .draft,
    .ready,
    .retired {
        position: relative;

        &:before {
            content: "";
            border-radius: 100%;
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.planned {
    &:before {
        background: red;
    }
}

.draft {
    &:before {
        background: orange;
    }
}

.ready {
    &:before {
        background: green;
    }
}

.retired {
    &:before {
        background: grey;
    }
}
