---
title: "Card basic linked"
layout: "sample"
ltulayout: "standard_page"
---
<a href="" class="card">
    <header class="card-header">
        <h3 class="card-heading">Human, transferrable skills</h3>
    </header>
    <div class="card-body">
        <p>Build the human skills that transfer to any context. Communication. Innovation. Creative thinking. You’ll develop your ability to listen, empathise, think critically and problem solve.</p>
    </div>
    <footer class="card-footer">
        <p><span class="card-cta">Take the next step</span></p>
    </footer>
</a>
