---
title: "Card not linked"
ltulayout: "standard_page"
status: "draft"
---
<div class="card">
    <header class="card-header">
        <img class="card-img" src="https://via.placeholder.com/600x400" alt="">
        <h3 class="card-heading">Keep it broad or narrow down</h3>
    </header>
    <div class="card-body">
        <p>Choose from a huge range of general and specialist degrees, majors and minors. Combine topics that wouldn’t usually go together, like politics and statistics or anthropology and neuroscience. Keep your options open and graduate with a broad set of skills – or specialise.</p>
    </div>
</div>
