.media-list {

}

.media-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacer * 10;
}

.media-img {
    margin-right: $spacer * 10;
}

.media-body {
    >:first-child {
        margin-top: 0;
    }
}