select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
    position: relative;
    background-image: url("icons/feather/chevron-down.svg");
    background-position: right 12px bottom 12px;
    background-repeat: no-repeat;
}