<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ site.url }}/ltu-components/dist/css/ds-ltu.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
    <link rel="stylesheet" href="{{ site.url }}/ltu-components/dist/css/ltu-legacy.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
</head>

<body>

    <main id="content">

        <div class="ds-main-wrapper">

            <div class="ds-page-content-wrapper">

                <article class="ds-page-content">

{% if page.type == 'block' %}            
{{ content }}
{%else%}
<div class="ds-block">
    <div class="ds-block__wrapper">

{{ content }}
    
    </div>
</div>
{% endif %}

                </article>

            </div>

        </div>

    </main>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <script src="{{ site.url }}/ltu-components/dist/js/ds-ltu.js?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>

    </body>
</html>
