<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ site.url }}/ltu-components/dist/css/ds-ltu.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
    <link rel="stylesheet" href="{{ site.url }}/ltu-components/dist/css/ltu-legacy.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
    
    <!--@@ load jquery in head so that usable in body @@-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>

<script>
var mobileBreakingPoint = 1023;

if(window.outerWidth <= mobileBreakingPoint){
    //collapseUniverse();
    var b = document.body
    b.className += ' nav-out';
}
</script>

    <!--noindex-->
    <a id="skip" class="ds-btn-primary" href="#content">Skip to content</a>
    {% include legacy-ltu-nav/ltu-header.html %}
    <!--end noindex-->

    <main id="content">

        <div class="ds-main-wrapper">

            {% include legacy-ltu-nav/ltu-nav.html %}

            <div class="ds-page-content-wrapper">

                {% if page.showBreadcrumb == 'yes' %}
                <div class="ds-block ds-block--full-width">

                    <div class="ds-breadcrumbs">
                        <a href="#">Level 1</a>
                        <a href="#">Level 2</a>
                        <a href="#">Level 3</a>
                        <a href="#">Level 4</a>
                    </div>
                
                </div>{% endif %}

                <article class="ds-page-content">

 {{ content }}

                </article>

            </div>

        </div>

    </main>

    <!--noindex-->
    {% include legacy-ltu-nav/ltu-footer.html %}
    <!--end noindex-->

    <!-- DS js -->
    <script src="{{ site.url }}/ltu-components/dist/js/ds-ltu.js?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>

    <!-- include ltu legacy code for nav sample -->
    <script src="{{ site.url }}/ltu-components/dist/js/ltu-legacy.js?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>

    <!-- include local script if defined in front matter -->
    {% if page.localjs %}<script src="{{ page.localjs }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}yb"></script>{% endif %}

    </body>
</html>
