---
title: "Testimonial Set"
status: ready

type: block
width: medium
---

<div class="ds-testimonial-set">
    {% include sample-component.html
        snippet="testimonial/snippets/testimonial.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="testimonial/snippets/testimonial.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="testimonial/snippets/testimonial.html"
        container="false"
    %}

    {% include sample-component.html
        snippet="testimonial/snippets/testimonial.html"
        container="false"
    %}
</div>
