---
title: "Form"

status: draft
---

<label class="label" for="givenname">Given name</label>
<input class="input" id="givenname" name="givenname" type="text" autocorrect="off" autocomplete="given-name" placeholder="Timothy">

<label class="label" for="country">Country</label>
<select class="select" id="country" name="country" disabled>
	<option value="germany">Germany</option>
	<option value="france">France</option>
</select>

<label class="label" for="sex">Sex</label>
<select class="select" id="sex" name="sex">
	<option selected disabled>-</option>
	<option value="male">Male</option>
	<option value="female">Female</option>
</select>

<label class="label" for="file">File</label>
<input class="input" id="file" name="file" type="file">

<label class="label" for="message">Message</label>
<textarea class="input" id="message" name="message" rows="8" cols="40"></textarea>

<div class="control">
	<input class="control__input" id="optionlong" type="radio" name="option" value="optionlong" checked>
	<label class="control__label" for="optionlong">This is a option with a very long text to test if the control alignes centered when the text wraps</label>
</div>

<div class="control">
	<input class="control__input" id="optionthree" type="radio" name="option" value="optionthree" disabled>
	<label class="control__label" for="optionthree">Option Three</label>
</div>

<div class="control">
	<input class="control__input" id="checkone" type="checkbox" name="checkone" value="checkone" checked>
	<label class="control__label" for="checkone">Check One</label>
</div>

<div class="control">
	<input class="control__input" id="checkfour" type="checkbox" name="checkfour" value="checkfour" checked disabled>
	<label class="control__label" for="checkfour">Check Four</label>
</div>
