//
// Typography
//

html {
    font-size: 16px;
    line-height: (24 / 16);

    @media(min-width: 1400px){
        font-size: 18px; // increase base font size for large displays
        line-height: (28 / 18);
    }
}

body {
    font-family: $font-roboto;
    font-weight: $regular;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
// Headings
//

$heading-scale-ratio: 1.25; // Major third

$h6: 0.8rem;
$h5: 1rem;
$h4: $h5 * $heading-scale-ratio;
$h3: $h4 * $heading-scale-ratio;
$h2: $h3 * $heading-scale-ratio;
$h1: $h2 * $heading-scale-ratio;

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: $medium;
    max-width: 42em; // readable line length < 80 characters https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-visual-presentation.html
    margin: 0;

    &:empty {
        margin: 0;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    line-height: 1.2;
    max-width: 30em; // readable line length < 80 characters https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-visual-presentation.html
}

h1, .h1 {
    font-size: $h1;
    @media(min-width: 1024px){
        font-size: $h1 * $heading-scale-ratio; // step up h1 size by one scale point
    }
}

h2, .h2 {
    font-size: $h2;
    max-width: 24em; // readable line length < 80 characters https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-visual-presentation.html
}

h3, .h3 {
    font-size: $h3;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

h6, .h6 {
    font-size: $h6;
    text-transform: uppercase;
    font-weight: $black;
}


//
// Body copy
//

p {
    max-width: 42em; // readable line length 80 characters https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-visual-presentation.html
    margin: 0;
}

p.ds-lead {
    font-size: 1.2rem;
}

p.ds-small,
small {
    font-size: 0.8rem;
}

p:empty,
li:empty {
    display: none;
}

ol,
ul,
li {
    margin: 0;
}

/* margins for WYSIWYG text align center and right to cater for line-length restriction */
[style*="text-align: center"] {
    margin-left: auto;
    margin-right: auto;
}
[style*="text-align: right"] {
    margin-left: auto;
}

// Lobotomised Owl technique
// Allows not having to reset first child elements with a margin of 0
// https://designsystem.gov.au/get-started/spacing-between-components/
.ds-page-content,
.ds-modal {
    * + * {
        margin-top: 1rem; // based on base font size
    }

    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6 {
        margin-top: 2em; // based on element size
    }

    * + p,
    * + ol,
    * + ul,
    * + li {
        margin-top: 1em; // based on element size
    }

    * + blockquote {
        margin-top: 4rem; // based on element size
    }

    * + br {
        margin-top: 0; // firefox fix 
    }
}

/* for standard WYSIWYG containers give margin back to first child */
.ds-page-content > div:not(.ds-block),
.ds-page-content > section:not(.ds-block),
.ds-page-content > article:not(.ds-block) {
    > {
        h1 {
            margin-top: $spacer * 8;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 2em;
        }

        p,
        ol,
        ul,
        li {
            margin-top: 1em;
        }

        blockquote {
            margin-top: 4rem;
        }
    }
}

//
// Fluid Headings
//

.h1-fluid {
    @media (min-width: 1024px) {
        font-size: calc(64px + (72 - 64) * ((100vw - 1024px) / (1920 - 1024)));
    }
}


//
// inline text elements
//

abbr,
acronym {
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
}

b,
strong {
    font-weight: 500;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 500;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "‘" "’" "“" "”" ;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}
