// depenencies
@use "config";
@use "text/scss/text";

blockquote {
    margin: 4rem 0;

    & > p {
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
        font-size: config.$h4;
        font-family: config.$font-knockout;
        font-weight: 400;
        b,
        strong {
            font-weight: 700;
        }

    }

    quotes: "‘" "’" "“" "”" ;

    & > p:first-child::before {
        content: open-quote;
    }

    & > p:last-of-type::after {
        content: close-quote;
    }

    footer {
        @extend small;

        &:before {
            content: "";
            display: block;
            width: config.spunits(5);
            height: config.spunits(0.5);
            background: config.$color-3c;
            margin: 1rem 0 0.8rem 0;
        }

    }

}

.ds-blockquote--feature {

    border-left: config.spunits(1) solid config.$color-1;
    padding-left: config.spunits(6);
    margin: 4rem 0;

    & > p {
        font-size: config.$h3;
        font-weight: config.$light-weight;

        @media(min-width: 768px){
            font-size: config.$h2;
        }

        @media(min-width: 1440px){
            font-size: config.$h1;
        }

    }

}
