//----------------------------------------------------------------------------------------------------------------------------------//
// Banner Hero
//----------------------------------------------------------------------------------------------------------------------------------//

.banner-hero {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-hero__image {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    background-position: center;
}

.banner-hero__text {
    padding-left: 6%;

    @media (min-width:768px) {
        padding-left: 12%;
        width: 60%;
        color: white;
        z-index: 1000;
    }
}

.banner-hero__overlay {
    @media (min-width:768px) {
        width: 50%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0));
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
    }
}

//----------------------------------------------------------------------------------------------------------------------------------//
// Banner Campaigns
//----------------------------------------------------------------------------------------------------------------------------------//

.banner-campaign {
    width: 100%;
    padding: 0;
    position: relative;
    display: block;

    @media (min-width:1024px) {
        display: flex;
        align-items: center;
        padding-left: 12%;
        padding-right: 0;
        overflow: hidden;

        &--left {
            padding-left: 0;
            padding-right: 12%;
            flex-direction: row-reverse;
    
            .banner-campaign__image {
                left: 0;
                right: initial;
    
                &:after {
                    right: 0;
                    left: initial;
                    transform: skew(15deg, 0deg);
                }
            }

            .banner-campaign__text {
                padding-left: $spacer * 40;
                padding-right: 0;
            }
        }
    }
}

.banner-campaign__text {
    @media (max-width:1024px) {
        padding-left: 6%;
        padding-right: 6%;
        margin-bottom: 4%;
    }

    @media (min-width:1024px) {
        width: 50%;
        z-index: 2;
        padding-top: $spacer * 30;
        padding-bottom: $spacer * 30;
    }

    @media (min-width:1200px) {
        padding-right: $spacer * 40;
    }

    h1 {
        @extend .h1-fluid;
    }

    > :first-child {
        margin: 0;;
    }
}

.banner-campaign__image {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    z-index: 1;

    @media (max-width:1024px) {
        height: 33.33vh;
    }

    @media (min-width:1024px) {
        margin-bottom: inherit;
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        &:after {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1600px 800px 0 0;
            border-color: white transparent transparent;
            content: "";
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------------------//
// Banner Box
//----------------------------------------------------------------------------------------------------------------------------------//

.banner-box {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-top: 56.25%;
}

.banner-box__text {
    text-align: left;
    padding: 24px;
    background: $color-3a;
}

.banner-box__label {
    display: inline-block;
    color: $color-3c;
    border-bottom: 2px solid $color-3c;
    padding: 0 0 4px 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.banner-box__ctas {
    display: block;
    margin-bottom: 0;
}

.banner-box-ctas .tablet-up {
    display: none;
}
@media (min-width:768px) {
    .banner-box {
        background-size: cover;
        background-position: center;
        padding-top: 0;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-box__text {
        box-sizing: border-box;
        color: white;
        left: 50%;
        z-index: 1;
        background: rgba(black,0.6);
        width: 80%;
        max-width: 820px;
    }

    .banner-box__text li {
        margin: 0;
    }

    .banner-box__label {
        color: white;
        border-bottom: 2px solid white;
    }

    .banner-box__ctas .mobile {
        display: none;
    }

    .banner-box__ctas .tablet-up {
        display: inline-block;
    }
}
/* end */
