h1, h2, h3, h4, h5, h6 {
    @include font-roboto-condensed-bold;
    margin: 0 0 8px;
    line-height: 1.5;
}


// Font size

$type-scales : (
  minor-second: 1.067,
  major-second: 1.125,
  minor-third: 1.200,
  major-third: 1.250,
  perfect-fourth: 1.333,
  augmented-fourth: 1.414,
  perfect-fifth: 1.500,
  golden-ratio: 1.618
);

$h1-size: 36px;
$h2-size: 32px;
$h3-size: 26px;
$h4-size: 22px;
$h5-size: 18px;
$h6-size: 16px;

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

// Line-heights

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

@function type-scale($level) {
    @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
    @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
    font-size: type-scale($level);
    line-height: line-height($level);
}


// Sizes

h1 {
    font-size: type-scale($level);
    color: #e42312;
    line-height: line-height($level);
}

h2 {
    font-size: $h2-size;
    // line-height: 36px;
}

h3 {
    font-size: $h3-size;
    // line-height: 32px;
}

h4 {
    font-size: $h4-size;
    // line-height: 28px;
}

h5 {
    font-size: $h5-size;
    // line-height: 24px;
}

h6 {
    font-size: $h6-size;
    // line-height: 20px;
}


// @media (min-width:1400px) {
//     h1 {
//         font-size: 48px;
//         line-height: 52px;
//     }

//     h2 {
//         font-size: 32px;
//     }

//     h3 {
//         font-size: 28px;
//     }

//     h4 {
//         font-size: 24px;
//     }

//     h5 {
//         font-size: 20px;
//     }

//     h6 {
//         font-size: 18px;
//     }
// }