$text-base-size: 18px;
$text-scale-ratio: 1.200;

$h6: $text-base-size;
$h5: $h6 * $text-scale-ratio;
$h4: $h5 * $text-scale-ratio;
$h3: $h4 * $text-scale-ratio;
$h2: $h3 * $text-scale-ratio;
$h1: $h2 * $text-scale-ratio;

body {
    @include font-roboto-light;
    font-size: $text-base-size;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    @include font-roboto-condensed-bold;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}

