table {
    border: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #ccc;
}

table caption {
    @include font-roboto-condensed-bold;
    font-size: $h3;
    padding: $spacer * 2;
    text-align: left;
}

table caption.subtle-right {
    background-color: #eee;
    padding: $spacer $spacer * 2;
}

td, th {
    vertical-align: top;
}

th {
    @include font-roboto-condensed-bold;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: $spacer $spacer * 2;
    text-align: left;
}

td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-color: #ccc;
    padding: $spacer * 2;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #ddd;
}