
p,
ul {
    margin: 0 0 28px;
}
@media (min-width:1400px) {
    p,
    ul {
        margin: 0 0 28px;
    }
}

abbr,
acronym {
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
}

b,
strong {
    font-weight: 500;
}

blockquote {
    @include font-roboto-slab-light;
    margin: 0 0 24px 0;
    padding: 0;
    :first-child:before {
        content: open-quote;
    }
    :last-child:after {
        content: close-quote;
    }
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 500;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 18px;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:after,
q:before {
    content: "";
    content: none;
}

small {
    font-size: 100%;
}

sub,
sup {
    font-size: 12px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
