//
// Typography
//

html {
    font-size: 16px;

    @media(min-width: 1400px){
        font-size: 18px; // increase base font size for large displays
    }
}

body {
    font-family: $font-roboto;
    font-weight: $normal-weight;
    line-height: 1.5;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//
// Headings
//

$heading-scale-ratio: 1.25; // Major third

$h6: 1rem;
$h5: 1rem;
$h4: $h5 * $heading-scale-ratio;
$h3: $h4 * $heading-scale-ratio;
$h2: $h3 * $heading-scale-ratio;
$h1: $h2 * $heading-scale-ratio;

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: $medium-weight;
    margin-top: 2em;
    margin-bottom: 0;
    max-width: 42em;

    &:empty {
        margin: 0;
    }
}

.ds-block-container {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin-top: 1em;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    line-height: 1.2;
    max-width: 30em;
}

h1, .h1 {
    font-size: $h1;
    margin-top: 1em;
    @media(min-width: 1024px){
        font-size: $h1 * $heading-scale-ratio; // step up h1 size by one scale point
    }
}

h2, .h2 {
    font-size: $h2;
    max-width: 24em;
}

h3, .h3 {
    font-size: $h3;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

h6, .h6 {
    font-size: $h6 * 0.8;
    text-transform: uppercase;
    font-weight: $bold-weight;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    //margin-top: 0;
}

//
// Body copy
//

p {
    max-width: 42em;
    margin-top: $spacer * 5;
    margin-bottom: 0;
}

p.lead {
    font-size: 1.2rem;
}

p.small,
.tooltip,
small {
    font-size: 0.8rem;
}

p:empty,
li:empty {
    margin: 0;
}

ul {
    margin-top: $spacer * 5;
    margin-bottom: 0;
}


//
// blockquote
//

blockquote {
    margin: 4rem 0;

    & > p {
        //color: $color-1;
        -webkit-font-smoothing: initial;
        -moz-osx-font-smoothing: initial;
        font-size: $h4;
        font-family: $font-roboto-slab;
        font-weight: 400;
        b,
        strong {
            font-weight: 700;
        }

    }

    quotes: "‘" "’" "“" "”" ;

    & > p:first-child::before {
        content: open-quote;
    }

    & > p:last-of-type::after {
        content: close-quote;
    }

}

.blockquote-attribution {
    @extend small;

    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: $color-3c;
        margin: 1rem 0 0.8rem 0;
    }

}

.blockquote-feature {

    border-left: 3px solid $color-1;
    padding-left: 24px;
    margin: 4rem 0;

    & > p {
        font-size: $h3;
        font-weight: $light-weight;

        @media(min-width: 768px){
            font-size: $h2;
        }

        @media(min-width: 1440px){
            font-size: $h1;
        }

    }

}


//
// inline text elements
//

abbr,
acronym {
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
}

b,
strong {
    font-weight: 500;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 500;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "“" "”" "‘" "’";;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}
