/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.wedgetail-2col {
    display: flex;
}
.wedgetail-2col div {
    flex-basis: 50%;
}
.vspace-example {
    position: relative;
    box-sizing: border-box;
}
.vspace-example::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("spacing-example-grid.png");
}
.wedgetail-rule {
    border: 1px solid lightgreen;
    padding: 16px;
}
.wedgetail-rule::before {
    content: 'Rule';
    display: inline-block;
    background: #f4f4f4;
    margin-right: 12px;
    padding: 4px;
}
.wedgetail-alert {
    border: 1px solid red;
    padding: 16px;
}
.wedgetail-alert::before {
    content: 'Alert';
    display: inline-block;
    background: #f4f4f4;
    margin-right: 12px;
    padding: 4px;
}

.wedgetail-sample {
    border: 1px solid #ddd;
}

.wedgetail-snippet-iframe {
    width: 100%;
    overflow: hidden;

    &.no-border {
        border: 0;
    }
}

/* override prism styles */
.wedgetail-sample pre code[class*=language-] {
    white-space: pre-wrap;
    position: relative;
}

.wedgetail-sample-header {
    height: 52px;
    background: #f4f4f4;
}
