// depenencies
@use "config";
@use "core/scss/icons";

.ds-card {
    position: relative;
    width: 100%;
    max-width: 620px;
    transition: all 0.3s ease-in-out;
    background: #fff;

    margin-top: 1rem;
    *:first-child {
        margin-top: 0;
    }
}

.ds-card__header {
    position: relative;
}

// <div class="ds-card-image> - using background images so can turn off for mobile and not have mobile unecessaruliy download image
.ds-card__image {
    display: none; // don't display image on mobile

    // 3/2 ratio images
    overflow: hidden;
    height: 0;
    padding-top: 2/3 * 100%;
    background-size: cover;
    background-position: center;

    @media (min-width: 704px) {
        // once two cards across can fit the display image
        display: block;
    }
}

// this is redundant
.ds-card__img {
    width: 100%;
    display: block;
}

.ds-card__body {
    padding: 24px 24px 32px 24px;
    margin: 0;
}

.ds-card__heading {
    font-size: config.$h4;
}

.ds-card__link-text {
    @extend .ds-icon-chevron-right;
    @extend .ds-icon--red;
    color: config.$color-1;
}

/* link type card */
.ds-card--linked {
    background: white;
    display: block;
    color: config.$color-2;
    text-decoration: none;
    border: solid 1px config.$color-3b;

    .ds-card__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        // hide link text
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    &:hover {
        transform: translateY(-4px);
        cursor: pointer;
        box-shadow: config.$shadow-2;

        .ds-card__heading {
            color: config.$color-1;
            text-decoration: underline;
        }
    }
}

.ds-card__save {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;

    /* .save-course-icon class used by my courses save JS */
    /* NOT BEM compliant due to legacy JS */
    .save-course-icon + label {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        margin: 0; /* override lobotomised owl */
        cursor: pointer;

        &:hover {
            background-color: config.$color-3a;
        }

        &::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: auto;
            background-image: url("icons/feather/heart.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .save-course-icon:checked + label::before {
        content: "";
        background-image: url("icons/feather-fill/heart.svg");
        filter: config.$filter-red;
    }

    .save-course-icon:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    /* interaction note injected by my courses save JS */
    .interaction-note {
        //margin-top: 48px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,0.4);
        box-sizing: border-box;
        color: #242424;
        //margin: 8px auto 0;
        //margin-top: 8px;
        padding: 20px 48px 20px 20px;
        position: absolute;
        right: -4px;
        text-align: center;
        top: 40px;
        min-width: 268px;
        max-width: 100vw;
        z-index: 100;

        &::before {
            color: #fff;
            content: "\25B2";
            display: block;
            position: absolute;
            right: 15px;
            top: -16px;
            transform: scale(1.5);
        }

        p {
            margin: 0;
        }

        .close-note {
            background: transparent url("icons/feather/x-circle.svg") no-repeat center;
            border: 0;
            height: 48px;
            padding: 0;
            position: absolute;
            right: 0;
            top: 10px;
            width: 48px;
            cursor: pointer;

            &:hover {
                background-color: config.$color-3a;

            }
        }
    }
}

.ds-card__tag {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: config.$color-1;
    margin: 0; /* override lobotomised owl */
    padding: 8px;
    font-size: 16px;
    line-height: 1;
}

.ds-card__tag-alt {
    @extend .ds-card__tag;

    background: config.$color-alt-3;
}

/* layouts */
.ds-card-set {
    @include config.columns-grid($alignment: left);
    margin-top: 1rem;
}

// modifier to for max three cards across
.ds-card-set--3max {
    @media (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.ds-block.ds-block--wide {

    .ds-card-set {

        /* if only two cards exist give first card margin left auto to center align cards */
        .ds-card:nth-last-child(2):first-child {
            margin-left: auto;
        }

    }

}