@use "config";
@use "core/scss/icons";

.ds-card-set--comparison-container {
    display: flex;
    position: relative;
}

@media (min-width: 1880px) {
    .ds-card-set--comparison-container {
        max-width: 1880px;
        display: flex;
    }
}

.ds-card-set--comparison {
    display: flex;
    gap: 1rem;
    // flex-wrap: nowrap;
    // overflow-x: scroll;
    @include config.overflowXScroll();
    white-space: normal;
    flex-wrap: nowrap;
    justify-content: left;

    .ds-card {
        @media(min-width: 1281px) {
            // width: 22rem;
            flex-basis: calc(100% / 3.5 - #{config.$gutter});
        }
        // min-width: 22rem;
        // max-width: 22rem;

        @media(min-width: 700px) {
            // flex-basis: calc(2000px / 4 - #{config.$gutter});
        }
        
        box-shadow: none;
    }
    
    .ds-card:hover {
        transform: none;
    }

    // & .ds-card__image {
    //     transform: none;
    // }

    .ds-card__heading {
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    .ds-card__info {
        border-top: dotted 3px config.$color-3b;
        margin-top: config.spunits(8);
        padding-top: config.spunits(4);
        height: 20rem;
    }

    .ds-btn-primary {
        width: 100%;
        justify-content: center;
    }

    .ds-card__link-text {
        display: flex;
        justify-content: center;
    }

    .ds-card__header {
        transition: all .25s;
    }
}

.ds-card__status {
    // position: absolute;
    position: relative;
    background-color: config.$color-3a;
    display: block;
    // top: 13rem;
    margin-top: -3.5rem !important;
    padding: .75rem .25rem;
    color: #000;
    width: 13.75rem;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;

    &[data-status="open"] {
        background-color: config.$color-1;
        color: white;
    }

    &[data-status="closed"] {
        background-color: #eee;
    }

    &[data-status="prepare"] {
        background-color: #eafbe2;
    }

    &[data-status="advance"] {
        background-color: #fce882;
        color: black;
    }
}

@media (max-width: 703px) {
    .ds-card-set--comparison {
        .ds-card__status {
            // position: static;
        }
    }
}

@media (min-width: 1441px) {
    .ds-card-set--comparison {
        .ds-card__status {
            // top: 11.5rem;
        }
    }
}

.ds-card__status-info {
    padding-bottom: 1.5rem;
}


.ds-card-set-scroll-button {
    background: #00aa98;
    border-radius: 4px;
    padding: 0 .5rem;
    border: none;
    cursor: pointer;
    height: 11.5rem;
    top: 3rem;
    position: absolute;
    z-index: 30;

    &:after {
        filter: config.$filter-white;
        height: 32px;
        width: 32px;
    }
}

.ds-scroll-left {
    left: -1rem;
}

.ds-scroll-right {
    right: -1rem;

}

@media(max-width: 1023px) {
    .ds-card-set-scroll-button {
        // height: 10rem;
    }
}

.ds-card__header--sticky {
    position: sticky;
    // top: 420px;
    // padding-top: 420px;
    padding-left: 2rem;
    transform: translateY(15rem);
    transition: all 1.25s ease-in-out;
    z-index: 25;
}

.ds-card__heading--sticky,
.ds-card__status-info--sticky,
.ds-card__cta--sticky {
    transform: translateY(15rem);
    z-index: 25;
    background: white;
    transition: all .5s ease-in-out;    
}


.ds-card__body--transition {
    color:red;
    transition: all;
}

@media only screen and (min-width: 768px) {
    // .ds-scroll-right {
    //     right: 2rem;
    //     z-index: 30;
    // }
      
    // .ds-scroll-left {
    //     left: 2rem;
    //     z-index: 30;
    // }
    .ds-card-set--comparison__first::before,
    .ds-card-set--comparison__last::after {
        display: none;
    }

    .ds-card-set--comparison::before,
    .ds-card-set--comparison::after {
        content: " ";
        height: 100%;
        width: 15rem;
        position: absolute;
        z-index: 1;
    }

    .ds-card-set--comparison::before {
        content: " ";
        background: linear-gradient(to right, white, transparent);
        left: -.1rem;
        z-index: 1;
    }

    .ds-card-set--comparison::after {
        content: " ";
        background: linear-gradient(to left, white, transparent);
        right: -.1rem;
        z-index: 1;
        }


    .ds-card-set-scroll {
        overflow-x: hidden;
    }
}

// .ds-scroll-left {
//     position: relative;
//     left: 1rem;
// }

// .ds-scroll-right {
//     position: relative;
//     right: 1rem;
// } 

@media only screen and (max-width: 1879px) {   
    // .ds-scroll-left {
    //     left: 0;
    // }
    // .ds-scroll-right {
    //     right: 0;
    // } 
}

@media only screen and (min-width: 1880px) {   
    // .ds-scroll-left {
    //     position: relative;
    //     left: 1rem;
    // }

    // .ds-scroll-right {
    //     position: relative;
    //     right: 1rem;
    // } 
}

.ds-card-set-scroll {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 24px;
}

@media only screen and (max-width: 767px) {
    .ds-card-set-scroll-button {
        display: none;
    }
}


.ds-card-set-comparison--3max { 
    .ds-card {

        @media(min-width: 1280px) {
            flex-basis: calc(100% / 3 - #{config.$gutter});
        }
        
        .ds-card__status {
            top: 16rem;
        }

        .ds-card__heading {
            margin-top: 1.5rem;
        }
    }

    @supports(display: grid) {
        @media(min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

}
