// depenencies
@use "config";

/* layouts */
/* layouts */
.ds-card-set {
    @include config.columns-grid();
    @supports(display: grid) {
        justify-content: left;

        /* if only one card exists give it left/right margin auto to center align */
        .ds-card:last-child:first-child {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .ds-card {
        max-width: 620px;
    }
    @media(min-width: 1366px) {
        .ds-card {
            flex-basis: 296px;
        }
        @supports(display: grid) {
            grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
        }
    }
    margin-top: 1rem;
}

// modifier to for max three cards across
.ds-card-set--3max {
    @media (min-width: 1280px) {
        .ds-card {
            flex-basis: 378px;
        }

        @supports(display: grid) {
            grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
        }
    }
}

// adjustments for wide block
.ds-block.ds-block--wide {

    @supports(display: grid) {
        .ds-card-set {

            /* if only two cards exist give first card margin left auto to center align cards */
            .ds-card:nth-last-child(2):first-child {
                margin-left: auto;
            }

        }
    }

}