@use "config";
@use "core/scss/icons";

.ds-card-set--comparison {
    display: flex;
    gap: 1rem;
    // flex-wrap: nowrap;
    // overflow-x: scroll;
    @include config.overflowXScroll();
    white-space: normal;
    flex-wrap: nowrap;
    justify-content: left;

    & .ds-card {
        // min-width: 300px;
        // min-width: 450px;
        min-width: 22rem;
        max-width: 22rem;
        box-shadow: none;
    }

    & .ds-card:hover {
        transform: none;
    }

    & .ds-card__heading {
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    & .ds-card__info {
        border-top: dotted 3px config.$color-3b;
        margin-top: config.spunits(8);
        padding-top: config.spunits(4);
        height: 20rem;
    }

    & .ds-btn-primary {
        width: 100%;
        justify-content: center;
    }

    & .ds-card__link-text {
        display: flex;
        justify-content: center;
    }

    & .ds-card__header {
        // position: fixed;
        min-width: 22rem;
        max-width: 22rem;
    }
}

.ds-scroll-left,
.ds-scroll-right {
    // position: absolute;
    height: 20rem;
    position: relative;
    // float: right;
    // top: 40px;
    // right: 20px;
    // background: #00aa98;
    // // display: none;
    // align-items: center;
    // justify-content: center;
    // width: 3rem;
    // height: 11.25rem;
    // border-radius: 4px;
    // box-shadow: 0 8px 8px 0 rgb(0 0 0 / 5%);
    // z-index: 4;
    // margin-top: -10px;
}

.ds-card__status {
    position: absolute;
    background-color: config.$color-3a;
    display: block;
    // margin-left: 1.25rem;
    // top: 10.75rem;
    top: 13rem;
    margin-top: -1rem;
    padding: .75rem .25rem;
    color: #000;
    width: 13.75rem;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;

    &[data-status="open"] {
        background-color: config.$color-1;
        color: white;
    }

    &[data-status="closed"] {
        background-color: #eee;
    }

    &[data-status="prepare"] {
        background-color: #eafbe2;
    }

    &[data-status="advance"] {
        background-color: #fce882;
        color: black;
    }
}

.ds-card__status-info {
    // height: 4.5rem;
    padding-bottom: 1.5rem;
}

.ds-card-set-scroll-button {
    position: absolute;
    background: #fff;
    cursor: pointer;
    border: none;
    top: 10rem;
    // height: 8rem;
    height: 11.5rem;
    z-index: 10;
    background: #00aa98;
    border-radius: 4px;
    // // display: none;
    // align-items: center;
    // justify-content: center;
    // width: 3rem;
    // height: 11.25rem;
    // border-radius: 4px;
    // box-shadow: 0 8px 8px 0 rgb(0 0 0 / 5%);
    // z-index: 4;
    // margin-top: -10px;
}

.ds-card-set-scroll-button:after {
    // filter: invert(27%) sepia(86%) saturate(5872%) hue-rotate(353deg) brightness(92%) contrast(92%);
    filter: config.$filter-white;
    width: 44px;
    height: 44px;
}

.ds-card__header--sticky {
    // position: sticky;
    // top: 420px;
    padding-top: 420px;
}

@media only screen and (min-width: 768px) {
.ds-scroll-right {
    // right: 2rem;
    right: 8rem;
    z-index: 30;
    }

    .ds-card-set--comparison__first::before,
    .ds-card-set--comparison__last::after {
        display: none;
    }

    .ds-card-set--comparison::before {
        content: " ";
        height: 100%;
        background: linear-gradient(to right, white, transparent);
        width: 10rem;
        position: absolute;
        z-index: 1;
    }

    .ds-card-set--comparison::after {
        content: " ";
        height: 100%;
        background: linear-gradient(to left, white, transparent);
        width: 10rem;
        right: 10rem;
        position: absolute;
        z-index: 20;
        }

    // .ds-scroll-right:before {
    //     content:" ";
    //     height: 100rem;
    //     background: linear-gradient(to left,rgba(255,255,255,1), transparent);
    //     width: 10rem;
    //     // left: -10rem;
    //     left: -4rem;
    //     position: absolute;
    //     z-index: -1;
    // }
    
    .ds-scroll-left {
        // left: 5rem;
        left: 8rem;
        z-index: 30;
    }

    // .ds-scroll-left:before {
    //     content: " ";
    //     height: 100rem;
    //     background: linear-gradient(to right,rgba(255,255,255,1),transparent);
    //     width: 10rem;
    //     // right: -5rem;
    //     right: -4rem;
    //     position: absolute;
    //     z-index: -1;
    // }

    .ds-card-set-scroll {
        overflow-x: hidden
    }
}

.ds-card-set-scroll {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 24px
}

@media only screen and (max-width: 767px) {
    .ds-card-set-scroll-button {
        display:none
    }
}
