.ds-card {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
}

.ds-card__header {
    position: relative;
    margin: 0; /* override lobotomised owl */
}

.ds-card__img {
    width: 100%;
    display: block;
}

.ds-card__body {
    padding: 24px 24px 32px 24px;
    margin: 0;
}

.ds-card__heading {
    font-size: $h4;
}

.ds-card__link-text {
    @extend .ds-icon-chevron-right;
    @extend .ds-icon--red;
    color: $color-1;
}

/* link type card */
.ds-card--linked {

    .ds-card__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        text-indent: -100%;
        overflow: hidden;
    }

    background: white;
    display: block;
    color: $color-2;
    text-decoration: none;
    border: solid 1px $color-3b;

    .ds-card__heading {
        color: $color-1;
        text-decoration: underline;
    }

    &:hover {
        transform: translateY(-4px);
        color: $color-2;
        text-decoration: none;
        cursor: pointer;
        box-shadow: $shadow-2;

        .ds-card__link {
            text-decoration: underline;
        }
    }
}

.ds-card__save {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;

    /* .save-course-icon class used by my courses save JS */
    /* NOT BEM compliant due to legacy JS */
    .save-course-icon + label {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        margin: 0; /* override lobotomised owl */
        cursor: pointer;

        &:hover {
            background-color: $color-3a;
        }

        &::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: auto;
            background-image: url("icons/feather/heart.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .save-course-icon:checked + label::before {
        content: "";
        background-image: url("icons/feather-fill/heart.svg");
        filter: $red;
    }

    .save-course-icon:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    /* interaction note injected by my courses save JS */
    .interaction-note {
        //margin-top: 48px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,0.4);
        box-sizing: border-box;
        color: #242424;
        //margin: 8px auto 0;
        //margin-top: 8px;
        padding: 20px 48px 20px 20px;
        position: absolute;
        right: -4px;
        text-align: center;
        top: 40px;
        min-width: 268px;
        max-width: 100vw;
        z-index: 100;

        &::before {
            color: #fff;
            content: "\25B2";
            display: block;
            position: absolute;
            right: 15px;
            top: -16px;
            transform: scale(1.5);
        }

        p {
            margin: 0;
        }

        .close-note {
            background: transparent url("icons/feather/x-circle.svg") no-repeat center;
            border: 0;
            height: 48px;
            padding: 0;
            position: absolute;
            right: 0;
            top: 10px;
            width: 48px;
            cursor: pointer;

            &:hover {
                background-color: $color-3a;

            }
        }
    }
}

.ds-card__tag {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: $color-1;
    margin: 0; /* override lobotomised owl */
    padding: 8px;
    font-size: 16px;
    line-height: 1;
}

.ds-card__tag-alt {
    @extend .ds-card__tag;

    background: $color-alt-3;
}

/* layouts */
.ds-card-set {
    @include columns-grid;

    &--left {
        @include columns-grid($alignment: left, $wrap: auto-fill);
    }

    & + * {
        margin-top: 4em;
    }
}
