---
title: "Logo showcase"
layout: "sample"
ltulayout: "home"

#snippet_content:
heading: Where our graduates are thriving
text: Over 30 years, we've placed 20,00 business and commerce graduates in high-growth, high-potential careers in the global business world
---
<div class="ds-block-container-narrow" data-bgcolor="">
    <div class="ds-block-content">
        <header class="ds-block-header" data-headingcase="">
            <h2>Where our graduates are thriving</h2>
            <p>Over 30 years, we've placed 20,00 business and commerce graduates in high-growth, high-potential careers in the global business world</p>
        </header>
        <div class="logo-showcase">
            <ul class="logo-showcase-logos" data-columns="6">
                <li class="logo-showcase-logo"><img src="images/logo-1.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-2.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-3.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-4.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-5.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-6.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-7.svg" alt=""></li>
                <li class="logo-showcase-logo"><img src="images/logo-8.svg" alt=""></li>
            </ul>
        </div>
    </div>
</div>
