.ds-tabs-nav {
    list-style: none;
    padding: 0;
}

.ds-tabs-nav li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 16px;
}

.ds-tabs-nav-small {
    .ds-tabs-nav-item {
        margin-right: 0;
        display: inline-block;
        padding: 12px;
        font-weight: 500;
        text-decoration: none;
    }
}

.ds-tab-content {
    background-color: $color-3a;

    padding: $space-unit * 10;
    > :first-child {
        margin: 0;
    }

    @media (min-width:1024px) {
        padding: $space-unit * 20;
    }
}

.ds-tabs-small {
    .ds-tabs-nav {
        display: block;
        border-bottom: 2px solid $color-2a;
    }

    .ds-tab-item {
        margin-right: 0;
        font-weight: 500;

        &.active {
            border-bottom: 4px solid $color-2a;
        }

        a {
            display: block;
            padding: 0 12px 8px;
            color: $color-2a;
        }
    }
}

.ds-tab-item {
    overflow: visible;
}