// Responsive video
.ds-video {
    max-width: 1024px;
}
.ds-video__wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin: 1rem 0 0 0;

    iframe {
        border: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

//modifiers
// for .ds-video
.ds-video--fullwidth {
    max-width: 100%;
}
